<section class="page-title">
  <div class="auto-container">
    <div class="title-outer">
      <h1>Impressum</h1>
      <ul class="page-breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li>Impressum</li>
      </ul>
    </div>
    <section class="ls-section">
      <div class="auto-container">
        <h3>OKOHO Consulting UG</h3>
       <p>Lange Str. 8</p>
        <p>32791 Lage Germany</p>
       <p>HBR 11118, Amtsgericht Lemgo</p>

        <p>Vertreten durch: </p>
        <p>Dr. Bertrand Toumi
          Gründer & Geschäftsführer</p>
        <h3>Kontakt</h3>

        <p>Telefon: +49 160 96 20 50 12</p>
        <p> E-Mail: info@okoho.de</p>
        <p></p>

        <p> Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
         </p>

        <p> Quelle: https://www.e-recht24.de</p>
      </div>
    </section>
  </div>
</section>
