<div class="mt-50 bg-connec">
  <div style="height: 100px;" class="">

  </div>
  <div class="row justify-content-center text-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
        <div class="card-img text-center">
          <img src="assets/images/2903518%201.png">
        </div>



      </div>
      <div class="alert alert-success">Congratulations ! Your account has been created. Please check your email address to confirm your registration.</div>
    </div>

    </div>
  </div>
</div>
