<div class="layout">
  <div class="vertical-layout row">
    <div class="col-md-3 col-sm-12 col-xs-12">
      <app-siderbar-candidate></app-siderbar-candidate>
    </div>
    <div class="col-md-9 col-sm-12 col-xs-12">
      <div class="box-dashboard-wrapper">
        <h3 class="title">Following Employers</h3>
        <div class="inner-list">
          <div class="search-orderby-wrapper flex-middle-sm">
            <div class="search-following-employer-form search-applicants-form">
              <form action="" method="get">
                <div class="flex-middle">
                  <button class="search-submit btn btn-sm btn-search" name="submit">
                    <i class="flaticon-magnifiying-glass"></i>
                  </button>
                  <input type="text" placeholder="Search ..." class="form-control" name="search" value="">
                </div>
                <input type="hidden" name="paged" value="1">
              </form>
            </div>
            <div class="sort-following-employer-form sortby-form">

              <div class="orderby-wrapper flex-middle">
					<span class="text-sort">
						Sort by: 					</span>
                <form class="my-jobs-ordering" method="get">
                  <select name="orderby" class="orderby select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                    <option value="menu_order">Default</option>
                    <option value="newest" selected="selected">Newest</option>
                    <option value="oldest">Oldest</option>
                  </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                 style="width: auto;"><span class="selection"><span
                  class="select2-selection select2-selection--single" aria-haspopup="true" aria-expanded="false"
                  tabindex="0" aria-labelledby="select2-orderby-qz-container" role="combobox"><span
                  class="select2-selection__rendered" id="select2-orderby-qz-container" role="textbox"
                  aria-readonly="true" title="Newest">Newest</span><span class="select2-selection__arrow"
                                                                         role="presentation"><b role="presentation"></b></span></span></span><span
                  class="dropdown-wrapper" aria-hidden="true"></span></span>
                  <input type="hidden" name="paged" value="1">
                </form>
              </div>
            </div>
          </div>
          <div class="following-employer-wrapper">


            <article id="post-1023"
                     class="map-item employer-card post-1023 employer type-employer status-publish has-post-thumbnail hentry employer_category-advertising employer_location-new-york is-featured"
                     data-latitude="40.763282432143114" data-longitude="-73.87616413155104">
              <div class="employer-list layout-employer">
                <a href="javascript:void(0)" class="btn-action-job button btn-follow btn-unfollow-employer"
                   data-employer_id="1023" data-nonce="b0e67bd53b"><i class="flaticon-bookmark"></i><span class="text">Following</span></a>
                <div class="flex-bottom-sm">
                  <div class="inner-left">
                    <div class="employer-logo">
                      <a href="">
                        <div class="image-wrapper image-loaded"><img width="100" height="100"
                                                                     src="favicon.ico"
                                                                     class="attachment-thumbnail size-thumbnail unveil-image"
                                                                     alt=""></div>
                      </a>
                    </div>
                    <div class="info-employer">
                      <div class="title-wrapper">

                        <h2 class="employer-title">
                          <a href="https://apusthemes.com/wp-demo/superio/employer/udamy/" rel="bookmark">
                            Udamy </a>
                        </h2>
                      </div>
                      <div class="employer-metas">
                        <div class="employer-location">

                          <div class="value">
                            <i class="flaticon-location"></i>

                            <a href="https://apusthemes.com/wp-demo/superio/employer-location/new-york/">New York</a>
                          </div>
                        </div>
                        <div class="job-category">
                          <div class="value">

                            <i class="flaticon-briefcase-1"></i>

                            <a class="category-employer"
                               href="https://apusthemes.com/wp-demo/superio/employer-category/advertising/">Advertising</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ali-right">
                    <span class="featured-text">Featured</span>
                    <span class="wrapper-open-job">
					<a href="https://apusthemes.com/wp-demo/superio/employer/udamy/" class="open-job">
		        Open Job - <span>1</span>        			</a>
		    </span>
                  </div>
                </div>
              </div>
            </article><!-- #post-## -->
          </div>
          <div class="following-employer-wrapper">
            <article id="post-1022"
                     class="map-item employer-card post-1022 employer type-employer status-publish has-post-thumbnail hentry employer_category-application employer_location-new-york is-featured"
                     data-latitude="40.76302306942683" data-longitude="-73.87724896271177">
              <div class="employer-list layout-employer">
                <a href="javascript:void(0)" class="btn-action-job button btn-follow btn-unfollow-employer"
                   data-employer_id="1022" data-nonce="b0e67bd53b"><i class="flaticon-bookmark"></i><span class="text">Following</span></a>
                <div class="flex-bottom-sm">
                  <div class="inner-left">
                    <div class="employer-logo">
                      <a href="">
                        <div class="image-wrapper image-loaded">
                          <img width="100" height="100"
                               src="./favicon.ico" class="attachment-thumbnail size-thumbnail unveil-image"
                                 alt=""></div>
                      </a>
                    </div>
                    <div class="info-employer">
                      <div class="title-wrapper">

                        <h2 class="employer-title">
                          <a href="#" rel="bookmark">
                            Medium </a>
                        </h2>
                      </div>
                      <div class="employer-metas">
                        <div class="employer-location">

                          <div class="value">
                            <i class="flaticon-location"></i>

                            <a href="#">New York</a>
                          </div>
                        </div>
                        <div class="job-category">
                          <div class="value">

                            <i class="flaticon-briefcase-1"></i>

                            <a class="category-employer"
                               href="#">Application</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ali-right">
                    <span class="featured-text">Featured</span>
                    <span class="wrapper-open-job">
					<a href="#" class="open-job">
		        Open Jobs - <span>3</span>        			</a>
		    </span>
                  </div>
                </div>
              </div>
            </article>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
