
      <app-siderbar-recruteur></app-siderbar-recruteur>

      <div class="user-dashboard">
        <div class="dashboard-outer">
          <div class="upper-title-box">
            <h3>Change Password</h3>
            <div class="text">Ready to jump back in?</div>
          </div>

          <!-- Ls widget -->
          <div class="ls-widget">
            <div class="widget-title">
              <h4>Change Password</h4>
            </div>

            <div class="widget-content">
              <app-cp-change-password></app-cp-change-password>
            </div>
          </div>
        </div>
      </div>

