<!-- Pied de page de OKOHO -->
<!-- Main Footer -->
<footer class="main-footer alternate">
  <div class="auto-container">
    <!--Widgets Section-->
    <div class="widgets-section wow fadeInUp" style="animation-name: none;">
      <div class="row">
        <div class="big-column col-xl-4 col-lg-3 col-md-12">
          <div class="footer-column about-widget">
            <div class="logo"><a href="#"><img width="100" src="assets/images/logo-text.png" alt=""></a></div>
            <p class="phone-num"><span jhiTranslate="footer.call-us">Call us </span><a href="info@okoho.de">
              <fa-icon icon="phone-alt"></fa-icon>+49 160 96 20 50 12</a></p>
            <p class="address"><fa-icon icon="location"></fa-icon> Lange Str, 8, 32791 Lage<br> Germany. <br><a href="info@okoho.de" class="email"><fa-icon icon="message"></fa-icon>info@okoho.de</a></p>
          </div>
        </div>

        <div class="big-column col-xl-8 col-lg-9 col-md-12">
          <div class="row">
            <div class="footer-column col-lg-3 col-md-6 col-sm-12">
              <div class="footer-widget links-widget">
                <h4 class="widget-title">For Candidates</h4>
                <div class="widget-content">
                  <ul class="list">
                    <li><a  routerLink="find-job" jhiTranslate="global.menu.browse-job">Browse Jobs</a></li>
                    <li><a  routerLink="find-job" jhiTranslate="global.menu.browse-category">Browse Categories</a></li>
                    <li><a  routerLink="/">My Bookmarks</a></li>
                  </ul>
                </div>
              </div>
            </div>


            <div class="footer-column col-lg-3 col-md-6 col-sm-12">
              <div class="footer-widget links-widget">
                <h4 class="widget-title">For Employers</h4>
                <div class="widget-content">
                  <ul class="list">
                    <li><a  routerLink="employers" jhiTranslate="global.menu.browse-employer">Browse Employers</a></li>
                    <li><a routerLink="dash/dash-employer-submit-job" jhiTranslate="global.menu.add-job">Add Job</a></li>
                    <li><a href="#">Job Packages</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="footer-column col-lg-3 col-md-6 col-sm-12">
              <div class="footer-widget links-widget">
                <h4 class="widget-title">About Us</h4>
                <div class="widget-content">
                  <ul class="list">
                    <li><a routerLink="about" jhiTranslate="global.menu.about">About us</a></li>
                    <li><a  routerLink="blog">Blog</a></li>
                    <li><a  routerLink="contact" jhiTranslate="global.menu.contact">Contact</a></li>
                    <li><a  routerLink="impressum" jhiTranslate="global.menu.impressum">Impressum</a></li>
                    <li><a  routerLink="datenschutz" jhiTranslate="global.menu.Datenschutz">Datenschutzerklärung</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="footer-column col-lg-3 col-md-6 col-sm-12">
              <div class="footer-widget links-widget">
                <h4 class="widget-title">Helpful Resources</h4>
                <div class="widget-content">
                  <ul class="list">
                    <li><a  routerLink="site-map">Site Map</a></li>
                    <li><a routerLink="/term-condition" jhiTranslate="global.menu.term-condition">Terms of Use</a></li>
                    <li><a  routerLink="private-center" jhiTranslate="global.menu.private-center">Privacy Center</a></li>
                    <li><a routerLink="security-center" jhiTranslate="global.menu.security-center">Security Center</a></li>
                    <li><a  routerLink="accessibility-center" jhiTranslate="global.menu.accessibility-center">Accessibility Center</a></li>
                    <li><a  routerLink="data-protection" jhiTranslate="global.menu.data-protection">Data Protection</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--Bottom-->
  <div class="footer-bottom">
    <div class="auto-container">
      <div class="outer-box">
        <div class="copyright-text">© 2023 <a href="#">OKOHO</a>. All Right Reserved.</div>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Scroll To Top -->
  <div class="scroll-to-top scroll-to-target" data-target="html" (click)="goUp()" *ngIf="isScrool">
    <span class="fa fa-angle-up"></span>
    <fa-icon icon="angle-up"></fa-icon>
  </div>
</footer>
<!-- End Main Footer -->
