<div class="footer">

    <!-- Pied de page de OKOHO -->
    <div class="head-footer">
        <div  class="Apropos">
            <p>    
                <ul>
                    <li class="logo"><b><img src="assets/img/lOkoho-ogo-text.png" alt="logo de OKOHO" id="logo"/></b>
                    </li>
                    <li ><b><a  href="#" class="call us">Call us</a></b></li>
                    <li ><b><a  href="#" class="number">+49 160 96 20 50 12</a></b></li>
                    <li><a  href="#" class="localisation">Langer Steinweg 60, 328225 Blomberg.</a></li>
                    <li><a href="#" class="mail">info@okoho.de</a></li>
                </ul>            
            <p> 
        </div>
        <div class="ForCandidates">    
            <p>
                <ul>
                    <li><h6>For Candidates</h6></li>
                    <li><a href="#">Browse jobs</a></li>
                    <li><a href="#">Browse Categories</a></li>
                    <li><a href="#">Candidate Dashboard</a></li>
                    <li><a href="#">Job Alerts</a></li>
                    <li><a href="#">My Bookmarks</a></li>
                </ul>
            <p>
        </div>
    
        <div class="ForEmployers">
            <p>
                <ul>
                    <li> <h6>For Employers</h6></li>
                    
                    <li><a href="#">Browse Candidates</a></li>
                    <li><a href="#">Employers Dashboard</a></li>
                    <li><a href="#">Add job</a></li>
                    <li><a href="#">Job packages</a></li>
                </ul>
            <p>
        </div>
        <div class="AboutUs">
            <p>
                <ul>
                    <li><h6>About Us</h6></li>
                    
                    <li ><a href="#">Job Page</a></li>
                    <li><a href="#">Job Page Alternative</a></li>
                    <li><a href="#">Resume Page</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            <p>
        </div>
        <div class="JoinUs">
            <p>
               <ul>
                <li><h6>Join Us On</h6></li>
                <li><a href="#">We don't send spam so don't worry</a></li>               
                <li>
                    <form class="row g-3">
                          <input type="email" class="form-control" id="inputPassword2" placeholder="Email...">                      
                          <button type="button" class="btn btn-danger"><i class="bi bi-envelope"></i></button>
                    </form>
                </li>
                </ul>
            <p>
        </div>
    </div>
<hr>
    <div class="footer-footer">
        <div class="copyright">
            <span>&copy; 2023 OKOHO. All Right Reserved.</span>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div class="alignement-logo">
           
                <span><a href="#"><i class="bi bi-facebook"></i></a></span>
                <span><a href="#"><i class="bi bi-twitter"></i></a></span>
                <span><a href="#"><i class="bi bi-instagram"></i></a></span>
                <span><a href="#"><i class="bi bi-linkedin"></i></a></span>
        </div>
    </div>
</div>
