<div class="header" >
    <div class="iLogo">
        <img src="assets/logo/Booki@3x.png" alt="logo de Okoho" id="logo"/>
    </div>
    <nav>
        <ul>
            <li><a href="#marseille" class="home">Home</a></li>
            <li><a href="#actif" class="findJobs">Find Jobs</a></li>
            <li><a href="#marseille" class="employers">Employers</a></li>
            <li><a href="#actif" class="candidats">Candidates</a></li>
            <li><a href="#marseille" class="blog">Blog</a></li>
            <li><a href="#actif" class="pages">Pages</a></li>
            <li><a href="#actif" class="register-login">Login/Register</a></li>
        </ul>
    </nav> 
</div>
