
<!-- Main Header-->
<header class="main-header main-shaddow" [ngClass]="isNavbarFixed?'fixed-header':''"
        (scroll)="onScroll()">
  <div class="main-box" [ngSwitch]="account !== null">

    <!--Nav Outer -->
    <div class="nav-outer">
      <div class="logo-box">
        <div class="logo">
          <a routerLink="/"><img height="100" width="100" src="assets/images/logo.png" alt="" title=""></a>
          <a
            class="navbar-toggler d-lg-none"
            href="javascript:void(0);"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
            (click)="toggleNavbar()"
          >
            <fa-icon icon="bars"></fa-icon>
          </a>
        </div>
      </div>


      <nav class="nav main-menu">
        <ul class="navigation" id="navbar">
          <li >
          <a routerLink="/" (click)="collapseNavbar()"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }"
          >

             <span jhiTranslate="global.menu.home">Home</span>

            </a>
          </li>
          <li class="" (click)="collapseNavbar()">
            <a routerLinkActive="active" class="{{setActivate('find-job')}}"
               [routerLinkActiveOptions]="{ exact: true }"
               routerLink="/find-job" id="Find">
              <span jhiTranslate="global.menu.findjob">Find Jobs </span></a>
          </li>

          <li class="dropdown">
            <a routerLink="/employers"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }"
               id="Employers" (click)="collapseNavbar()">
              <span jhiTranslate="global.menu.employer">Employers</span></a>
          </li>
          <li class="dropdown">
            <span jhiTranslate="global.menu.candidates">Candidates</span>
            <ul>
          <li class="dropdown">
            <a routerLink="/candidats"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }"
               id="Candidates" (click)="collapseNavbar()">
              <span jhiTranslate="global.menu.candidate">Candidates</span></a>
          </li>
              <li class="dropdown">
                <a routerLink="/candidat-untrained"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{ exact: true }"
                   id="Candidates" (click)="collapseNavbar()">
                  <span jhiTranslate="global.menu.candidate_untrained">Candidates non formé</span></a>
              </li>
            </ul>

          <li class="dropdown">
            <a routerLink="/blog"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }"
               (click)="collapseNavbar()" id="blog" data-cy="logout">
              <span jhiTranslate="global.menu.blog">Blog </span></a>
          </li>

          <li class="dropdown">
            <span>Pages</span>
            <ul>
              <li><a routerLink="/about"
                     routerLinkActive="active"
                     [routerLinkActiveOptions]="{ exact: true }"
                     href="javascript:void(0);"
                     (click)="collapseNavbar()" jhiTranslate="global.menu.about">About</a></li>
              <li><a routerLink="/contact"
                     routerLinkActive="active"
                     [routerLinkActiveOptions]="{ exact: true }"
                     href="javascript:void(0);"
                     (click)="collapseNavbar()" jhiTranslate="global.menu.contact">Contact</a></li>
              <li>
                <a
                  class="dropdown-item" routerLink="/faq"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  href="javascript:void(0);"
                  (click)="collapseNavbar()" jhiTranslate="global.menu.faq">Faq</a>
              </li>
              <li>
                <a
                  routerLink="/term-condition"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  href="javascript:void(0);"
                  (click)="collapseNavbar()" jhiTranslate="global.menu.term-condition">term-condition</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

    <div class="outer-box">

      <!-- Add Listing -->
      <!--  <a href="candidate-dashboard-cv-manager.html" class="upload-cv"> Upload your CV</a>-->
      <!-- Login/Register -->
      <div class="btn-box">
        <a *ngSwitchCase="false" href="javascript:void(0);" (click)="signin.openModal();collapseNavbar()"
           class="theme-btn btn-style-three call-modal" id="login" data-cy="login">
          <span jhiTranslate="global.menu.account.login">Login / Register</span></a>
        <a *ngSwitchCase="false" href="javascript:void(0);" routerLink="/dash/dash-employer-submit-job" class="theme-btn btn-style-one">Job Post</a>
      </div>
      <div ngbDropdown class="btn-box-drop dropdown pointer" style="margin-left: 5px" *ngIf="languages && languages.length > 1">
        <button class="theme-btn btn-style-three dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
          <span>
            <fa-icon icon="flag"></fa-icon>
            <span jhiTranslate="global.menu.language">Language</span>
          </span>
        </button>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
          <li *ngFor="let language of languages">
            <a
              class="dropdown-item"
              [okohoActiveMenu]="language"
              href="javascript:void(0);"
              (click)="changeLanguage(language); collapseNavbar()"
            >{{ language | findLanguageFromKey }}</a>
          </li>
        </ul>
      </div>
      <div *ngSwitchCase="true">

        <!-- Dashboard Option -->
        <span ngbDropdown class="dropdown account-option">
        <a class="dropdown-toggle"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }"
           ngbDropdownToggle href="javascript:void(0);" id="account">
           <span *ngIf="!account?.imageUrl">
            <img src="assets/images/avatar/default_avatar.png" alt="avatar" class="thumb">
          </span>
           <span *ngIf="account?.imageUrl">
            <img [src]="account!.imageUrl" class="thumb" alt="Avatar" />
          </span>

          <span jhiTranslate="global.menu.account.main">account</span>
        </a>
          <!--  <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);"
               id="account-menu_entreprise" data-cy="accountMenu_entreprise">
              <span *ngIf="!account?.imageUrl">
                <fa-icon icon="user-secret"></fa-icon>
                <span jhiTranslate="global.menu.account.main"> Account</span>
              </span>
              <span *ngIf="account?.imageUrl">
                <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
              </span>
            </a>-->
        <ul ngbDropdownMenu class="dropdown-menu" *ngIf="account?.userType=='candidat_account'"
            aria-labelledby="account">
          <li *ngSwitchCase="true">
            <a class="dropdown-item" routerLink="/dash/dash-candidate" routerLinkActive="active"
               (click)="collapseNavbar()" data-cy="settings">
              <fa-icon icon="gauge" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.dashboard">dashboard</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a
              class="dropdown-item"
              routerLink="/dash/dash-my-profile"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="profilItem"
            >
              <fa-icon icon="user-tie" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.profil">profil</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a
              class="dropdown-item"
              routerLink="/dash/dash-my-resume"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="profilItem"
            >
              <fa-icon icon="briefcase" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.my_resume">my_resume</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a
              class="dropdown-item"
              routerLink="/dash/dash-my-apply"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="profilItem"
            >
              <fa-icon icon="bullhorn" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.my_apply">my_apply</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a
              class="dropdown-item"
              routerLink="/dash/dash-short-list"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="profilItem"
            >
              <fa-icon icon="bookmark" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.shortlist_job">shortlist_job</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a
              class="dropdown-item"
              routerLink="/dash/dash-cv-manager"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="profilItem"
            >
              <fa-icon icon="file" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.cv_manager">cv_manager</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a
              class="dropdown-item"
              routerLink="/dash/dash-alert-job"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="profilItem"
            >
              <fa-icon icon="bell" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.alert_job">alert_job</span>
            </a>
          </li>
        <!-- <li *ngSwitchCase="true">
            <a
              class="dropdown-item"
              routerLink="/dash/dash-profil"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="profilItem"
            >
              <fa-icon icon="headset" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.meeting">meeting</span>
            </a>
          </li> -->
          <li *ngSwitchCase="true">
            <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
              <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.logout">Sign out</span>
            </a>
          </li>
        </ul>
        <ul ngbDropdownMenu class="navigation" aria-labelledby="account-menu_entreprise"
            *ngIf="account?.userType=='entreprise_account'">
          <li *ngSwitchCase="true">
            <a class="dropdown-item" routerLink="/dash/dash-employer" routerLinkActive="active"
               (click)="collapseNavbar()" data-cy="settings">
              <fa-icon icon="gauge" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.dashboard">dashboard</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a
              class="dropdown-item"
              routerLink="/dash/dash-employer-profile"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="profilItem"
            >
              <fa-icon icon="user-tie" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.profil">profil</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a
              class="dropdown-item"
              routerLink="/dash/dash-employer-my-job"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="profilItem"
            >
              <fa-icon icon="briefcase" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.my_job">my_job</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a
              class="dropdown-item"
              routerLink="/dash/dash-employer-submit-job"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="profilItem"
            >
              <fa-icon icon="bullhorn" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.add_job">add_job</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a
              class="dropdown-item"
              routerLink="/dash/dash-employer-applicant-job"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="profilItem"
            >
              <fa-icon icon="bookmark" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.applicant_job">applicant_job</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a
              class="dropdown-item"
              routerLink="/dash/dash-employer-shortlist"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="profilItem"
            >
              <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.shortlist_candidat">shortlist_candidat</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a
              class="dropdown-item"
              routerLink="/dash/dash-employer-candidat-alert"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="profilItem"
            >
              <fa-icon icon="bell" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.candidat_alert">candidat_alert</span>
            </a>
          </li>
   <!--       <li *ngSwitchCase="true">
            <a
              class="dropdown-item"
              routerLink="/dash/dash-employer-package"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="profilItem"
            >
              <fa-icon icon="headset" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.package">package</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a
              class="dropdown-item"
              routerLink="/dash/dash-employer-meeting"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="profilItem"
            >
              <fa-icon icon="headset" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.meeting">meeting</span>
            </a>
          </li>-->
          <li *ngSwitchCase="true">
            <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
              <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.logout">Sign out</span>
            </a>
          </li>
        </ul>

      </span>
      </div>
    </div>
  </div>
  <!-- Mobile Header -->
  <div class="mobile-header">
    <div class="logo"><a routerLink="/"><img src="assets/images/logo.png" alt="" title=""></a></div>

    <!--Nav Box-->
    <div class="nav-outer clearfix">

      <div class="outer-box">
        <!-- Login/Register -->
        <div class="login-box">
          <a href="javascript:void(0);" (click)="signin.openModal();collapseNavbar()"
             class="call-modal" id="login_" data-cy="login">
         <span class="icon-user"></span></a>
        </div>

        <a  href="javascript:void(0);" (click)="showMenu();" class="mobile-nav-toggler"><span class="flaticon-menu-1"></span></a>
      </div>
    </div>
  </div>

  <!-- Mobile Nav -->
  <div id="nav-mobile" [ngClass]="{'mm-menu_opened mm-menu mm-menu_offcanvas mm-menu_position-bottom mm-menu_fullscreen mm-menu_theme-black': is_mobile}"></div>

</header>
<!--End Main Header -->

<app-signin #signin></app-signin>
