<div class="container-fluid home">

<div class="row header-page">
  <div  class="col"></div>
  <div class="col">
    <div>
     <span class="post-title">There Are <span class="color-number">93,178</span> Postings Here<br/>For you!</span> <br/>
     <span class="post-job">jobs,Employement & Career Opportunities</span> 
    </div>
    <i class="bi bi-search recherche"></i><i class="bi bi-geo-alt geolocalisation"></i> <button type="button" class="btn btn-warning find">Find jobs</button>
    <div class="input-group input-group-lg ">
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="" >
  
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="">
    </div>
   <div class="searchPopular">
    <span>Popular Searches: Designer, Developper, Web, IOS, PHP, Senior, Engeneer</span> 
   </div>
   <div class="row">
    <div class="col">      
      <span class="candi">
       10K+ Candidates          
       <button type="button" class="btn btn-info btnCircle"></button>        
       <button type="button" class="btn btn-dark btnCircle1"></button>        
       <button type="button" class="btn btn-warning btnCircle2"></button> 
       <button type="button" class="btn btn-primary btnCircle3"></button> 
       <button type="button" class="btn btn-dark btnCircle4"></button> 
      </span>                   
   </div>
   <div class="col">
  
     <span >
       <a href="#" class="cv"><i class="bi bi-file-earmark-arrow-up "></i> Create Your CV</a>  
     </span> 
   </div> 
  </div>   
  </div>

<div class="col">
  <div class="card  imageEnglish">
   <img src="assets/img/Burj-al-arab.jpg" class="img-fluid" alt="...">   
 </div> 
</div>
<div  class="col"></div>
</div>
  
 
</div>
<div class="row blocIcones">
  <div class="col"></div>
   <div class="col blocs">   
     <i class="bi bi-person-badge iconics"></i>  
     <a href="#" class="link">Register an account to start </a>  <br/> 
   </div>    
   <div class="col blocs">
        <i class="bi bi-briefcase iconics1"></i>      
        <a href="#" class="link">Explore over thousands of resumes</a>       
   </div>
   <div class="col blocs">
         <i class="bi bi-journal-check iconics2"></i>      
         <a href="#" class="link">Find the most suitable candidate</a>
   </div> 
   <div class="col"></div> 
</div>
<div class="container ">
  <div class="row job">
    <div class="col-lg-6 ">
        <span class="JobCategory"> Job by category</span><br/>
        <span class="sousClass">2020 jobs live. 293 added to day</span>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2">
      <br/>
      <a href="#"><span class="browse">Browse all<i class="bi-chevron-right"></i></span></a>   
    </div>
  </div>
</div>
<br>
  <div class="row ">
    <div class="col"></div>
   <button type="button" class="btn btn-light finance"><span class="myTitle"><i class="bi bi-cash-coin finance-light"></i>Accounting/Finance</span></button> 
   <button type="button" class="btn btn-light finance"><span class="myTitle"><i class="bi bi-megaphone"></i>Marketing</span></button>
   <button type="button" class="btn btn-light finance"><span class="myTitle"><i class="bi bi-bezier"></i>Design </span></button>
   <button type="button" class="btn btn-light finance"><span class="myTitle"><i class="bi bi-code-slash"></i>Development  
      </span></button>
   <button type="button" class="btn btn-light finance"><span class="myTitle"><i class="bi bi-person-video3"></i>Project Management    
      </span></button>
   <button type="button" class="btn btn-light finance"><span class="myTitle"><i class="bi bi-person-vcard-fill"></i>Human Resource</span></button>
   <div class="col"></div>
  </div>
  <br>
  <div class="row cadreBlog">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">    
        <div class="card cadre">
          <img src="assets/img/saka.jpg" class="img-fluid" alt="...">          
        </div>     
    </div>    
    <div class="col-lg-5 titleBlog">
         <div > 
           <span class="titleCV">Professional CV is your <br/>ticket to the dream job</span>        
         </div>
         <br/>
         <div>
           <span  class="sousTitleCV">To start searching for jobs, you can attend job fairs online or in person, use job boards<br/>
          and career websites or reach out directly to recruiters in a targeted company to<br/>
          broaden your network.</span>       
         </div>  
         <div>
          <button type="button" class="btn btn-primary  titleResume">Create Resume</button>              
        </div>  
    </div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row text-align">
        <span class="align-middle LatestJobs">Latest Jobs</span>     
        <span  class="align-middle qualifyJob">Know your worth and find the job that qualify your life</span>      
  </div>
  <br/>
   <div class="container text-center">
      <div class="row align-items-center">
        <div class="col"></div>
        <div class="col"></div>
      <div class="col">     
        <div class="form-check form-switch">
          <i class="bi bi-toggle-on"></i>
          <input class="form-check-input check1" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Freelance</label>
        </div> 
      </div>  
      <div class="col">
        <div class="form-check form-switch">
          <i class="bi bi-toggle-on"></i>
          <input class="form-check-input check2" type="checkbox" role="switch" id="flexSwitchCheckDisabled" disabled>
          <label class="form-check-label" for="flexSwitchCheckDisabled">Full time</label>
        </div>      
     </div>
     <div class="col">
      <div class="form-check form-switch ">
        <i class="bi bi-toggle-on"></i>
        <input class="form-check-input check3" type="checkbox" role="switch" id="flexSwitchCheckDisabled" disabled>
        <label class="form-check-label" for="flexSwitchCheckDisabled">Internetship</label>
      </div>    
    </div>   
    <div class="col"></div>
    <div class="col"></div>
   <br>   
   </div>
   </div>
<br/>
<div class="col"></div>
   <div class="row hautCadrePhoto">    
    <div class="col cadrePhoto">
      <img src="assets/img/saka.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col lesTitres">
     <span class="Software">Software Engineer (Android), Librairies</span><br/>
     <span class="lesDetails"><i class="bi bi-briefcase"></i>Segment<i class="bi bi-geo-alt"></i>London, UK<i class="bi bi-clock-history"></i>11 hours ago<i class="bi bi-cash-stack"></i>$35k - $45k Fulltime</span>
    </div>
    <div class="col blocBoutonApply">
      <i class="bi bi-bookmark"></i><button type="button" class="btn btn-primary boutonApply">Apply Job</button>
    </div>
  </div>
  <div class="col"></div>
 <br/>
  <div class="row blocPhotos">
    <div class="col card-employers">
        <img src="assets/img/Burj-al-arab.jpg" class="img-fluid" alt="...">        
    </div>
    <div class="col card-candidate">
        <img src="assets/img/Burj-al-arab.jpg" class="img-fluid" alt="...">  
  </div>
  </div>
  <br/>
  <br/>
  <div class="row blocMiddle">    
    <div class="col-lg-6 ">
      <span class="JobCategory">Top Company Registered</span><br/>
      <span class="sousClass">Some of the Companies we've helped recruit excellent applicants over the years.</span>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2"></div>
   
    <div class="col-lg-2">
      <br/>
      <br/>
      <a href="#"><span class="browse">Browse All<i class="bi-chevron-right"></i></span></a>
    </div>
  </div>
  <br/>
  <br/>
  <div class="row menuCadre">
    <div  class="col"></div>
    <div class="col menuPho">
      <div class="card cadre4 " style="width: 15rem;">
        <img src="assets/img/dropbox.png" class="img-fluid  imageRounded" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Udemy</h5>
          <p class="card-text text-center"><i class="bi bi-geo-alt geolocalisation1"></i>London, UK</p>
          <a href="#" class="btn btn-primary">15 Open Position</a>
        </div>        
      </div>
    </div>
    <div class="col menuPho">
      <div class="card cadre4" style="width: 14rem;">
        <img src="assets/img/stripe.png" class="img-fluid imageRounded" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Stripe</h5>
          <p class="card-text text-center"><i class="bi bi-geo-alt geolocalisation2"></i>London, UK</p>
          <a href="#" class="btn btn-light">15 Open Position</a>
        </div>         
      </div>
    </div>
    <div class="col menuPho">
      <div class="card cadre4" style="width: 14rem;">
        <img src="assets/img/dropbox.png" class="img-fluid  imageRounded" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Dropbox</h5>
          <p class="card-text text-center"><i class="bi bi-geo-alt geolocalisation3"></i>London, UK</p>
          <a href="#" class="btn btn-light  boutonJoin">22 Open Position</a>
        </div>   
        
      </div>
    </div>
    <div class="col menuPho" >
      <div class="card cadre4" style="width: 15em; ">

        <img src="assets/img/dropbox.png" class="img-fluid imageRounded" alt="...">
        <div class="card-body">
          <h5 class="card-title  text-center">Figma</h5>
          <p class="card-text text-center"><i class="bi bi-geo-alt geolocalisation4"></i>London, UK</p>
          <a href="#" class="btn btn-light boutonJoin">22 Open Position</a>
        </div>          
      </div>
    </div>  
    <div  class="col"></div>  
  </div>
  <br/>
  <br/>
  <div class="row text-center">
    <div class="col">
      <span class="JobCategory">Choose a plan that's right for you.</span><br/>
      <span class="sousClass">A Monsieur le Directeur du Département des Ressources Humaines d’Advans Cameroun<br/>
      Humaines d’Advans Cameroun.
      </span>
    </div>    
  </div>
  <br/>
  <br/>
  <br/>
  <div class="row treeCadre" >
    <div  class="col"></div>
    <div class="col">
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title  text-center "><span class="entete">Basic</span></h5>
          <p class="card-text  text-center"><span class="prix">Free</span></p>
          <p class="card-text  text-center"><span class="mois">per month</span></p>
          <span><i class="bi bi-file-text" id=" icones"></i></span>
          <ul>
            <li>Standard listing submission, active for 30 days</li>
            <br>
            <li><a ><i class="bi bi-check2"></i>All Operating Supported</a></li>
            <li><a><i class="bi bi-check2"></i>Great Interface</a></li>
            <li><a><i class="bi bi-check2"></i>Allow encryption</a></li>
            <li><a><i class="bi bi-check2"></i>Face recognized system</a></li>
            <li><a><i class="bi bi-check2"></i>24/7 Full support</a></li>
          </ul>
          <a href="#" class="btn btn-primary bValidation">
            Join this plan
          </a>
        </div>        
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title  text-center "><span class="entete">Professional</span></h5>
          <p class="card-text  text-center"><span class="prix">$599.95</span></p>
          <p class="card-text  text-center"><span class="mois">per month</span></p>
          <span class="align-items-center"><i class="bi bi-hand-index"></i></span>
          <ul>
          <li>Standard listing submission, active for 30 days</li>
            <br>
            <li><a ><i class="bi bi-check2"></i>All Operating Supported</a></li>
            <li><a><i class="bi bi-check2"></i>Great Interface</a></li>
            <li><a><i class="bi bi-check2"></i>Allow encryption</a></li>
            <li><a><i class="bi bi-check2"></i>Face recognized system</a></li>
            <li><a><i class="bi bi-check2"></i>24/7 Full support</a></li>
          </ul>
          <a href="#" class="btn btn-primary bValidation">Join this plan</a>
        </div>        
      </div>
    </div>
        <div class="col">
      <div class="card" style="width: 20rem;">
        <div class="card-body ">
          <h5 class="card-title  text-center"><span class="entete">Business</span></h5>
          <p class="card-text  text-center"><span class="prix">$999.95</span></p>
          <p class="card-text  text-center">per month</p>
          <span><i class="bi bi-hand-index"></i></span>
          <ul>
          <li>Standard listing submission, active for 30 days</li>
            <br>
            <li><a ><i class="bi bi-check2"></i>All Operating Supported</a></li>
            <li><a><i class="bi bi-check2"></i>Great Interface</a></li>
            <li><a><i class="bi bi-check2"></i>Allow encryption</a></li>
            <li><a><i class="bi bi-check2"></i>Face recognized system</a></li>
            <li><a><i class="bi bi-check2"></i>24/7 Full support</a></li>
          </ul>
          <span><a href="#" class="btn btn-primary bValidation">Join this plan</a></span>
        </div>        
      </div>
    </div>
    <div class="col"></div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-lg-12">

    <div id="carouselExampleCaptions" class="carousel slide ">

      <div class="carousel-inner">
        <div class="carousel-item active ">
          <img src="assets/img/saka.jpg" class="d-block w-100" alt="..." id="photo">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item ">
          <img src="assets/img/Burj-al-arab.jpg" class="d-block w-100" alt="..." id="photo">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> 
  </div>
</div>
<br/>
<br/>
<div class="container text-center">
  <div class="row align-items-center">
    <div class="col">
      <span class="firstitle">4K</span><br/>
      <span class="secondtitle">4 million daily active users</span> 
    </div>
    <div class="col">
      <span class="firstitle">12K</span><br/>
      <span class="secondtitle">Over 12k open job position</span>
    </div>
    <div class="col">
      <span class="firstitle">20K</span><br/>
      <span class="secondtitle">Over 20 million stories shared</span>
    </div>
  </div>
</div>
<br>
<br>
<div class="container text-center">
<div class="row align-items-center">
  <div class="col-lg-12">
    <span class="titleBrowse">Browse Germany jobs</span><br/>
    <span class="sousTitleBrowse">Over 20 million stories shared Over 12k open job position</span>
  </div>
</div>
</div>
<br>
<br>
<br>
<div class="container text-start">
  <div class="row align-items-start">
    <div class="col">
      <ul>
        <li class="titre">Popular Job Categories</li>
        <br/>
        <li class="soustitre"><a >Legal Jobs</a></li>
        <li class="soustitre"><a>Accounting Jobs</a></li>
        <li class="soustitre"><a>Engineering Jobs</a></li>
        <li class="soustitre"><a>Healthcare Jobs</a></li>
        <li class="soustitre"><a>Human Resources Jobs</a></li>
        <li class="soustitre"><a>Construction Jobs</a></li>
        <li class="soustitre"><a>Transportation Jobs</a></li>
        <li class="soustitre"><a>Marketing Jobs</a></li>
      </ul>
     </div>
    <div class="col">
      <ul>
        <li class="titre">Popular Job Titles</li>
        <br/>
        <li class="soustitre"><a>Work From fome Jobs</a></li>
        <li class="soustitre"><a>Receptionnist Jobs</a></li>
        <li class="soustitre"><a>Online Teaching Jobs</a></li>
        <li class="soustitre"><a>Medical Assistant Jobs</a></li>
        <li class="soustitre"><a>Delivery Driver Jobs</a></li>
        <li class="soustitre"><a>Security Driver Jobs</a></li>
        <li class="soustitre"><a>Dental Assistant Jobs</a></li>
      </ul>
    </div>
    <div class="col">
      <ul>
        <li class="titre">Popular Job Locations</li>
        <br/>
        <li class="soustitre"><a>NYC, NY Jobs</a></li>
        <li class="soustitre"><a>Houston, TX Jobs</a></li>
        <li class="soustitre"><a>Los Angeles, CA Jobs </a></li>
        <li class="soustitre"><a>Atlanta, GA Jobs</a></li>
        <li class="soustitre"><a>Las Vegas, NV Jobs</a></li>
        <li class="soustitre"><a>San Antonio, TX Jobs</a></li>
        <li class="soustitre"><a>Dallas, TX Jobs</a></li>
      </ul>
    </div>
    <div class="col">
      <ul>
      <li class="titre">Popular Company Jobs</li>
      <br/>
      <li class="soustitre"><a>Coca Cola Jobs</a></li>
      <li class="soustitre"><a>PepsiCo Jobs</a></li>
      <li class="soustitre"><a>Brookdale Senior Living Jobs</a></li>
      <li class="soustitre"><a>Man Power Jobs</a></li>
      <li class="soustitre"><a>Accenture Jobs</a></li>
      <li class="soustitre"><a>US Federal government Jobs</a></li>
      <li class="soustitre"><a>Amazon Jobs</a></li>
      </ul>     
    </div>
  </div>
</div>
