<!-- Banner Section-->
<section class="banner-section">
  <div class="auto-container">
    <div class="row">
      <div class="content-column col-lg-7 col-md-12 col-sm-12">
        <div class="inner-column wow fadeInUp animated" data-wow-delay="1000ms"
             style="visibility: visible; animation-delay: 1000ms; animation-name: fadeInUp;">
          <div class="title-box">
            <h3 jhiTranslate="home.title-box.h3" [translateValues]="{ stastitc: statistic?.allJobs }">There Are <span class="colored" >{{statistic?.allJobs }}</span> Postings Here<br> For you!</h3>
            <div jhiTranslate="home.title-box.div" class="text">Find Jobs, Employment &amp; Career Opportunities</div>
          </div>

          <!-- Job Search Form -->
          <div class="job-search-form">
            <form method="post" >
              <div class="row">
                <div class="form-group col-lg-5 col-md-12 col-sm-12">
                  <span class="icon flaticon-search-1"></span>
                  <input type="text" name="field_name" placeholder="Job title, keywords, or company">
                </div>
                <!-- Form Group -->
                <div class="form-group col-lg-4 col-md-12 col-sm-12 location">
                  <span class="icon flaticon-map-locator"></span>
                  <input type="text" name="field_name" placeholder="City or postcode">
                </div>
                <!-- Form Group -->
                <div class="form-group col-lg-3 col-md-12 col-sm-12 btn-box">
                  <button type="submit" class="theme-btn btn-style-one">
                    <span jhiTranslate="home.btn_title" class="btn-title">Find Jobs</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <!-- Job Search Form -->
          <!-- Popular Search -->
          <div class="popular-searches">
            <span class="title" jhiTranslate="home.popular_searches">Popular Searches : </span>
            <a href="#">Designer</a>,
            <a href="#">Developer</a>,
            <a href="#">Web</a>,
            <a href="#">IOS</a>,
            <a href="#">PHP</a>,
            <a href="#">Senior</a>,
            <a href="#">Engineer</a>,
          </div>
          <!-- End Popular Search -->
          <div class="bottom-box wow fadeInUp animated" data-wow-delay="1500ms"
               style="visibility: visible; animation-delay: 1500ms; animation-name: fadeInUp;">
            <div class="count-employers">
              <span class="title">10k+ Candidates</span>
              <img src="assets/images/multi-peoples.png" alt="">
              <a href="#" class="upload-cv" style="color: #0C071B"><fa-icon icon="file"></fa-icon> Upload your CV</a>
            </div>

          </div>

        </div>
      </div>

      <div class="image-column col-lg-5 col-md-12">
        <div class="image-box">
          <figure class="main-image wow fadeIn animated" data-wow-delay="500ms"
                  style="visibility: visible; animation-delay: 500ms; animation-name: fadeIn;"><img
            src="assets/images/banner-img-1.png" alt=""></figure>

          <!-- Info BLock One -->
          <div class="info_block anm wow fadeIn animated" data-wow-delay="1000ms" data-speed-x="2" data-speed-y="2"
               style="transform: translate3d(-10.02px, 3.94px, 0px) scale(1) rotate(0deg); opacity: 1; visibility: visible; animation-delay: 1000ms; animation-name: fadeIn;">
            <span class="icon flaticon-email-3"></span>
            <p>Work Inquiry From <br>Ali Tufan</p>
          </div>

          <!-- Info BLock Two -->
          <div class="info_block_two anm wow fadeIn animated" data-wow-delay="2000ms" data-speed-x="1" data-speed-y="1"
               style="transform: translate3d(-5.01px, 1.97px, 0px) scale(1) rotate(0deg); opacity: 1; visibility: visible; animation-delay: 2000ms; animation-name: fadeIn;">
            <p>10k+ Candidates</p>
            <div class="image"><img src="assets/images/multi-peoples.png" alt=""></div>
          </div>

          <!-- Info BLock Three -->
          <div class="info_block_three anm wow fadeIn animated" data-wow-delay="1500ms" data-speed-x="4"
               data-speed-y="4"
               style="transform: translate3d(-20.04px, 7.88px, 0px) scale(1) rotate(0deg); opacity: 1; visibility: visible; animation-delay: 1500ms; animation-name: fadeIn;">
            <span class="icon flaticon-briefcase"></span>
            <p>Creative Agency</p>
            <span class="sub-text">Startup</span>
            <span class="right_icon fa fa-check"></span>
          </div>

          <!-- Info BLock Four -->
          <div class="info_block_four anm wow fadeIn animated" data-wow-delay="2500ms" data-speed-x="3" data-speed-y="3"
               style="transform: translate3d(-15.03px, 5.91px, 0px) scale(1) rotate(0deg); opacity: 1; visibility: visible; animation-delay: 2500ms; animation-name: fadeIn;">
            <span class="icon flaticon-file"></span>
            <div class="inner">
              <p>Upload Your CV</p>
              <span class="sub-text">It only takes a few seconds</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Section-->
<section class="features__section" [@fade]="state">
  <div class="auto-container">
    <div class="row features__grid justify-content-between">

      <div class="col-lg-3 col-md-6">
        <div class="features -type-1">
          <div class="icon-wrap">
            <div class="icon icon-case"></div>
            <fa-icon icon="box"></fa-icon>
          </div>
          <div class="title"  jhiTranslate="home.features.title">Register an account to start</div>
        </div>
      </div>


      <div class="col-lg-auto features-line-col">
        <div class="features-line"></div>
      </div>


      <div class="col-lg-3 col-md-6">
        <div class="features -type-1">
          <div class="icon-wrap">
            <fa-icon icon="users"></fa-icon>
            <div class="icon icon-contact"></div>
          </div>
          <div class="title" jhiTranslate="home.features.title2">Explore over thousands of resumes</div>
        </div>
      </div>


      <div class="col-lg-auto features-line-col">
        <div class="features-line"></div>
      </div>


      <div class="col-lg-3 col-md-6">
        <div class="features -type-1">
          <div class="icon-wrap">
            <fa-icon icon="file"></fa-icon>
            <div class="icon icon-doc"></div>
          </div>
          <div class="title" jhiTranslate="home.features.title">Find the most suitable candidate</div>
        </div>
      </div>


    </div>
  </div>
</section>
<!-- Job Categories -->
<section class="layout-pt-120 layout-pb-60" [@fade]="state">
  <div class="auto-container">
    <div class="row justify-content-between align-items-end">
      <div class="col-lg-6">
        <div class="">
          <h2 class="fw-700"  jhiTranslate="home.job_category.h2">Jobs by category</h2>
          <div class="text mt-9"  jhiTranslate="home.job_category.text">2020 jobs live - 293 added today.</div>
        </div>
      </div>

      <div class="col-auto">
        <a href="#" class="button-icon -arrow text-dark-blue">
          Browse All
          <span class="fa fa-angle-right"></span>
        </a>
      </div>
    </div>

    <div class="row grid-flex pt-50 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">

      <!-- Icon Block -->
      <div class="col-xl-auto col-lg-3 col-md-6 col-sm-12">
        <a href="#" class="icon-item -type-3">
          <div class="icon-wrap">
            <fa-icon icon="money-bill"></fa-icon>
          </div>

          <div class="content">
            <h4  jhiTranslate="home.job_category.content_1">Accounting / Finance</h4>
          </div>
        </a>
      </div>

      <!-- Icon Block -->
      <div class="col-xl-auto col-lg-3 col-md-6 col-sm-12">
        <a href="#" class="icon-item -type-3">
          <div class="icon-wrap">
            <div class="icon flaticon-promotion"></div>
          </div>

          <div class="content">
            <h4 jhiTranslate="home.job_category.content_2">Marketing</h4>
          </div>
        </a>
      </div>

      <!-- Icon Block -->
      <div class="col-xl-auto col-lg-3 col-md-6 col-sm-12">
        <a href="#" class="icon-item -type-3">
          <div class="icon-wrap">
            <fa-icon icon="vector-square"></fa-icon>
            <!--<div class="icon flaticon-vector"></div>-->
          </div>

          <div class="content">
            <h4 jhiTranslate="home.job_category.content_3">Design</h4>
          </div>
        </a>
      </div>

      <!-- Icon Block -->
      <div class="col-xl-auto col-lg-3 col-md-6 col-sm-12">
        <a href="#" class="icon-item -type-3">
          <div class="icon-wrap">
            <div class="icon flaticon-web-programming"></div>
          </div>

          <div class="content">
            <h4 jhiTranslate="home.job_category.content_4">Development</h4>
          </div>
        </a>
      </div>

      <!-- Icon Block -->
      <div class="col-xl-auto col-lg-3 col-md-6 col-sm-12">
        <a href="#" class="icon-item -type-3">
          <div class="icon-wrap">
            <div class="icon flaticon-headhunting"></div>
          </div>

          <div class="content">
            <h4 jhiTranslate="home.job_category.content_5">Project Management</h4>
          </div>
        </a>
      </div>

      <!-- Icon Block -->
      <div class="col-xl-auto col-lg-3 col-md-6 col-sm-12">
        <a href="#" class="icon-item -type-3">
          <div class="icon-wrap">
            <div class="icon flaticon-rocket-ship"></div>
          </div>

          <div class="content">
            <h4 jhiTranslate="home.job_category.content_6">Human Resource</h4>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>
<!-- End Job Categories -->

<!-- Job Section -->
<section class="about-section-two style-two layout-pt-60 layout-pb-60"  [@fade]="state">
  <div class="auto-container">
    <div class="row justify-content-between align-items-center">
      <!-- Image Column -->
      <div class="image-column -no-margin col-xl-6 col-lg-6 col-md-12 col-sm-12 wow fadeInRight animated"
           style="visibility: visible; animation-name: fadeInRight;">
        <div class="image-box -type-1">
          <figure class="main-image wow fadeIn anm animated" data-wow-delay="1200ms" data-speed-x="2"
                  style="transform: translate3d(-7.36px, 0px, 0px) scale(1) rotate(0deg); opacity: 1; visibility: visible; animation-delay: 1200ms; animation-name: fadeIn;">
            <img src="assets/images/1.png" alt=""></figure>

          <!-- Info BLock One -->
          <div class="info_block wow fadeIn anm animated" data-wow-delay="1500ms" data-speed-x="3" data-speed-y="3"
               style="transform: translate3d(-11.04px, 8.235px, 0px) scale(1) rotate(0deg); opacity: 1; visibility: visible; animation-delay: 1500ms; animation-name: fadeIn;">
            <span class="icon flaticon-email-3"></span>
            <p>Work Inquiry From <br>Ali Tufan</p>
          </div>

          <!-- Info BLock Two -->
          <div class="info_block_two wow fadeIn anm animated" data-wow-delay="1800ms" data-speed-x="2" data-speed-y="2"
               style="transform: translate3d(-7.36px, 5.49px, 0px) scale(1) rotate(0deg); opacity: 1; visibility: visible; animation-delay: 1800ms; animation-name: fadeIn;">
            <p>10k+ Candidates</p>
            <div class="image"><img src="assets/images/multi-peoples.png" alt=""></div>
          </div>

          <!-- Info BLock Four -->
          <div class="info_block_four wow fadeIn anm animated" data-wow-delay="2400ms" data-speed-x="2" data-speed-y="3"
               style="transform: translate3d(-7.36px, 8.235px, 0px) scale(1) rotate(0deg); opacity: 1; visibility: visible; animation-delay: 2400ms; animation-name: fadeIn;">
            <span class="icon flaticon-file"></span>
            <div class="inner">
              <p>Upload Your CV</p>
              <span class="sub-text">It only takes a few seconds</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Content Column -->
      <div class="content-column mb-0 col-xl-5 col-lg-6 col-md-12 col-sm-12">
        <div class="wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
          <div class="sec-title">
            <h2 class="fw-700" jhiTranslate="home.job_section.h2">Professional CV is your ticket to the dream job</h2>
            <div class="text mt-30" jhiTranslate="home.job_section.div">To start searching for jobs, you can attend job fairs online or in person, use job
              boards and career websites or reach out directly to recruiters in a targeted company to broaden your
              network.
            </div>
          </div>
          <a href="#" class="theme-btn -blue-dark" jhiTranslate="home.job_section.a">Post Resume</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Job Section -->
<section class="layout-pt-60 layout-pb-60" >
  <div class="auto-container">
    <div class="row wow fadeInUp animated" [@fade]="state">
      <div class="featured-column col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="sec-title text-center">
          <h2 class="color-blue-dark fw-700"  jhiTranslate="home.job_lastest.h2" [@scrollAnimation]="state">Latest Jobs</h2>
          <div class="text" jhiTranslate="home.job_lastest.text">Know your worth and find the job that qualify your life</div>

          <div class="mt-50">
            <ul class="switchbox -horizontal">
              <li>
                <label class="switch">
                  <input type="checkbox" (change)="sorted()" >
                  <span class="slider round"></span>
                  <span  jhiTranslate="home.job_lastest.title_1" class="title">Freelance</span>
                </label>
              </li>
              <li>
                <label class="switch">
                  <input type="checkbox" checked="" (change)="sorted()" >
                  <span class="slider round"></span>
                  <span class="title" jhiTranslate="home.job_lastest.title_2">Full Time</span>
                </label>
              </li>
              <li>
                <label class="switch">
                  <input type="checkbox" (change)="sorted()" >
                  <span class="slider round"></span>
                  <span class="title" jhiTranslate="home.job_lastest.title_3">Internship</span>
                </label>
              </li>
            </ul>
          </div>
        </div>

        <div class="outer-box job-block-five-separated">

          <!-- Job Block -->
          <div class="job-block-five" *ngFor="let job of jobs">
            <div class="inner-box">
              <div class="content">
                <span class="company-logo">
                   <img *ngIf="job?.recruteur.userAccount.imageUrl == null" src="assets/images/avatar/image-place-holder.png" alt="Image">
                  <img *ngIf="job?.recruteur.userAccount.imageUrl" src="{{job?.recruteur.userAccount.imageUrl}}" alt="Image">
                </span>
                <h4><a href="#">{{job.title}}</a></h4>
                <ul class="job-info mb-0">
                  <li><fa-icon icon="briefcase"></fa-icon> Segment</li>
                  <li><fa-icon icon="map-location"></fa-icon> London, UK</li>
                  <li><fa-icon icon="clock-four"></fa-icon>11 hours ago</li>
                  <li><fa-icon icon="money-bill"></fa-icon> $35k - $45k</li>
                </ul>
              </div>
              <ul class="job-other-info">
                <li class="time mb-0">Full Time</li>
              </ul>
              <a href="#" class="theme-btn btn-dark-blue" (click)="applyJob(job.id)">Apply Job</a>
            </div>
          </div>
          <div *ngIf="!jobs || jobs?.length == 0">
            <div class="not-found" jhiTranslate="home.job_lastest.not-found">No job alert found.</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="layout-pt-60 layout-pb-60">
  <div class="auto-container">
    <div class="row wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
      <!-- Banner Style One -->
      <div class="banner-style-one -type-2 col-lg-6 col-md-12 col-sm-12">
        <div class="inner-box" style="background-image:url('assets/images/p/bg-1.png')">
          <div class="content">
            <h3 jhiTranslate="home.banner1.h3">Employers</h3>
            <p jhiTranslate="home.banner1.p"></p>
            <a jhiTranslate="home.banner1.a" (click)="signin.openModal();" class="theme-btn btn-style-five">Register Account</a>
          </div>
          <figure class="image"><img src="assets/images/employ.png" alt=""></figure>
        </div>
      </div>

      <!-- Banner Style Two -->
      <div class="banner-style-two -type-2 col-lg-6 col-md-12 col-sm-12">
        <div class="inner-box" style="background-image:url('assets/images/p/bg-2.png')">
          <div class="content">
            <h3 class="color-dark-1" jhiTranslate="home.banner2.h3">Candidate</h3>
            <p class="color-dark-2" jhiTranslate="home.banner2.p">Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Labore et
              dolore nostrud exercitation.</p>
            <a jhiTranslate="home.banner2.a" (click)="signin.openModal();" class="theme-btn btn-style-five color-dark-1">Register Account</a>
          </div>
          <figure class="image"><img src="images/resource/candidate.png" alt=""></figure>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="layout-pt-60 layout-pb-60">
  <div class="auto-container">
    <div class="row justify-content-between align-items-end">
      <div class="col-lg-6">
        <div class="sec-title mb-0">
          <h2 class="color-blue-dark fw-700" jhiTranslate="home.top_company.h2">Top Company Registered</h2>
          <div class="text">Some of the companies we've helped recruit excellent applicants over the years.</div>
        </div>
      </div>

      <div class="col-auto">
        <a [routerLink]="['/employers']" class="button -arrow text-dark-blue">
          Browse
          <span class="fa fa-angle-right"></span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-3 company-block" *ngFor="let recruteur of recruteurs">
        <div class="inner-box">
          <figure class="image">
            <img *ngIf="recruteur?.userAccount.imageUrl == null"
                 src="assets/images/avatar/image-place-holder.png" alt="Image">
            <img src="{{recruteur?.userAccount.imageUrl}}" alt=""></figure>
          <h4 class="name">{{recruteur?.userAccount.firstName}}</h4>
          <div class="location"><i class="flaticon-map-locator"></i> {{recruteur?.town}}, {{recruteur?.country}}</div>
          <a [routerLink]="['/employers', 'detail', recruteur.id]" class="theme-btn btn-dark-blue">Open Position</a>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="layout-pt-60 layout-pb-120">
  <div class="auto-container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="sec-title -type-2 text-center">
          <h2 jhiTranslate="home.plans.h2">Choose a plan that’s right for you.</h2>
          <div  jhiTranslate="home.plans.h2" class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna
          </div>
        </div>
      </div>
    </div>

    <div class="row grid-base wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">

      <div class="col-lg-4 col-md-6">
        <div class="pricingCard -type-2">
          <h4 class="pricingCard__title">Start Up</h4>
          <div class="pricingCard__price">Free</div>
          <div class="pricingCard__subtitle">per month</div>

          <div class="pricingCard__img">
            <img src="assets/images/1.svg" alt="images">
          </div>

          <div class="pricingCard__text text-left">Standard listing submission, active for 30 days</div>

          <ul class="pricingCard__list">
            <li>All Operating Supported</li>
            <li>Great Interface</li>
            <li>Allows encryption</li>
            <li>Face recognized system</li>
            <li>24/7 Full support</li>
          </ul>

          <div class="pricingCard__btn">
            <a href="#" class="theme-btn btn-style-modern">
              Join This Plan
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="pricingCard -type-2">
          <h4 class="pricingCard__title">Company</h4>
          <div class="pricingCard__price">$599.95</div>
          <div class="pricingCard__subtitle">per month</div>

          <div class="pricingCard__img">
            <img src="assets/images/2.svg" alt="images">
          </div>

          <div class="pricingCard__text text-left">Standard listing submission, active for 30 days</div>

          <ul class="pricingCard__list">
            <li>All Operating Supported</li>
            <li>Great Interface</li>
            <li>Allows encryption</li>
            <li>Face recognized system</li>
            <li>24/7 Full support</li>
          </ul>

          <div class="pricingCard__btn">
            <a href="#" class="theme-btn btn-style-modern">
              Join This Plan
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="pricingCard -type-2">
          <h4 class="pricingCard__title">Enterprise</h4>
          <div class="pricingCard__price">$999.95</div>
          <div class="pricingCard__subtitle">per month</div>

          <div class="pricingCard__img">
            <img src="assets/images/1.svg" alt="images">
          </div>

          <div class="pricingCard__text text-left">Standard listing submission, active for 30 days</div>

          <ul class="pricingCard__list">
            <li>All Operating Supported</li>
            <li>Great Interface</li>
            <li>Allows encryption</li>
            <li>Face recognized system</li>
            <li>24/7 Full support</li>
          </ul>

          <div class="pricingCard__btn">
            <a href="#" class="theme-btn btn-style-modern">
              Join This Plan
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="subscribe-section-two -type-3">
  <div class="background-image" style="background-image: url(assets/images/p/bg.png);"></div>
  <div class="auto-container wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-5">
        <div class="sec-title light mb-0">
          <h2 class="text-white" jhiTranslate="home.subscribe.h2">>Download the App</h2>
          <div class="text text-white" jhiTranslate="home.subscribe.div">>New features. New appearance. No risk and<br> credit card required.</div>

          <div class="row buttons">
            <div class="col-auto">
              <img src="assets/images/p/1.svg" alt="image">
            </div>
            <div class="col-auto">
              <img src="assets/images/p/1.svg" alt="image">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="sec-title light mb-0">
          <img src="assets/images/p/1.png" alt="image">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="border-bottom layout-pb-60">
  <div class="auto-container">
    <!-- Fun Fact Section -->
    <div class="fun-fact-section layout-pt-60 pb-0 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
      <div class="row grid-base">
        <!--Column-->
        <div class="counter-column mb-0 col-lg-4 col-md-4 col-sm-12 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
          <div class="count-box counted"><span class="count-text" data-speed="3000" data-stop="4">4</span>M</div>
          <h4 class="counter-title"  jhiTranslate="home.bottom.counter-title-1">4 million daily active users</h4>
        </div>

        <!--Column-->
        <div class="counter-column mb-0 col-lg-4 col-md-4 col-sm-12 wow fadeInUp animated" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
          <div class="count-box counted"><span class="count-text" data-speed="3000" data-stop="12">12</span>k</div>
          <h4 class="counter-title" jhiTranslate="home.bottom.counter-title-2">Over 12k open job positions</h4>
        </div>

        <!--Column-->
        <div class="counter-column mb-0 col-lg-4 col-md-4 col-sm-12 wow fadeInUp animated" data-wow-delay="800ms" style="visibility: visible; animation-delay: 800ms; animation-name: fadeInUp;">
          <div class="count-box counted"><span class="count-text" data-speed="3000" data-stop="20">20</span>M</div>
          <h4 class="counter-title" jhiTranslate="home.bottom.counter-title-3">Over 20 million stories shared</h4>
        </div>
      </div>
    </div>
    <!-- Fun Fact Section -->
  </div>
</section>
<app-register #signin></app-register>
