<div class="row">
<!--  <google-map
    height="300px"
    width="100%"
    [zoom]="zoom"
    [center]="center"
    [options]="options"
  ></google-map>-->
</div>
<div class="container  ">
  <div class="row">
    <div class="col-md-3 siderbar">
      <div class="mb-3">
        <label for="example-resume" class="form-label date-posted">Search by Keywords</label>
        <div class=" input-group s-input">
           <span class="input-group-text" data-password="false">
          <fa-icon icon="search"></fa-icon>
        </span>
          <input (change)="searchByResume($event)" type="text" class="form-control" id="example-resume" placeholder="By Resumes">
        </div>
      </div>
      <div class="mb-3">
        <label for="example-static" class="form-label date-posted">Location</label>
        <div class=" input-group s-input">
           <span class="input-group-text" data-password="false">
          <fa-icon icon="location-pin"></fa-icon>
        </span>
          <input (change)="searchByLocation($event)" type="text" class="form-control" id="example-static" placeholder="City or postcode">
        </div>
      </div>
      <div class="mb-3">
        <label for="example-cat" class="form-label date-posted">Category</label>
        <div class=" input-group s-input">
           <span class="input-group-text" data-password="false">
          <fa-icon icon="folder"></fa-icon>
        </span>
          <select (change)="searchByCategory($event)" class="form-control form-select" id="example-cat">
            <option>All Categories</option>
          </select>
        </div>
      </div>
      <div class="mb-3">
        <label for="example-static" class="form-label date-posted">Candidate Gender</label>
        <div class=" input-group s-input">
           <span class="input-group-text" data-password="false">
          <fa-icon icon="user"></fa-icon>
        </span>
          <select (change)="searchByGender($event)" class="form-control form-select" id="gender">
            <option selected value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
      </div>
      <div class="posted">
        <div class="date-posted">Date Posted</div>
        <div class="form-check">
          <input (change)="searchByDatePosted($event)" class="form-check-input" type="checkbox" value="last_hour" id="flexCheckCheckedDisabled" checked>
          <label class="form-check-label ms-2" for="flexCheckCheckedDisabled">
            Last Hour
          </label>
        </div>
        <div class="form-check">
          <input (change)="searchByDatePosted($event)" class="form-check-input" type="checkbox" value="last24_hour" id="last24_hour">
          <label class="form-check-label ms-2" for="flexCheckCheckedDisabled">
            Last 24 Hours
          </label>
        </div>
        <div class="form-check">
          <input (change)="searchByDatePosted($event)" class="form-check-input" type="checkbox" value="last7_day" id="last7_day">
          <label class="form-check-label ms-2" for="flexCheckCheckedDisabled">
            Last 7 Days
          </label>
        </div>
        <div class="form-check">
          <input (change)="searchByDatePosted($event)" class="form-check-input" type="checkbox" value="last14_day" id="last14_day">
          <label class="form-check-label ms-2" for="flexCheckCheckedDisabled">
            Last 14 Days
          </label>
        </div>
        <div class="form-check">
          <input  (change)="searchByDatePosted($event)" class="form-check-input" type="checkbox" value="last30_day" id="last30_day">
          <label class="form-check-label ms-2" for="flexCheckCheckedDisabled">
            Last 30 Days
          </label>
        </div>
        <div class="form-check">
          <input (change)="searchByDatePosted($event)" class="form-check-input" type="checkbox" value="all" id="all">
          <label class="form-check-label ms-2" for="flexCheckCheckedDisabled">
            All
          </label>
        </div>
      </div>
      <div class="freelance-full-time-internship-part-time-temporary">
        <div class="date-posted">Experience Level</div>
        <div class="form-check">
          <input (change)="searchByExperience($event)" class="form-check-input" checked type="checkbox" value="0_2_year" id="0_2_year">
          <label class="form-check-label ms-2" for="flexCheckCheckedDisabled">
            0-2 Years
          </label>
        </div>
        <div class="form-check">
          <input (change)="searchByExperience($event)" class="form-check-input" type="checkbox" value="10_12_year" id="10_12_year">
          <label class="form-check-label ms-2" for="flexCheckCheckedDisabled">
            10-12 Years
          </label>
        </div>
        <div class="form-check">
          <input (change)="searchByExperience($event)" class="form-check-input" type="checkbox" value="12_16_year" id="12_16_year">
          <label class="form-check-label ms-2" for="flexCheckCheckedDisabled">
            12-16 Years
          </label>
        </div>
        <div class="form-check">
          <input (change)="searchByExperience($event)" class="form-check-input" type="checkbox" value="16_20_year" id="16_20_year">
          <label class="form-check-label ms-2" for="flexCheckCheckedDisabled">
            16-20 Years
          </label>
        </div>
        <div class="form-check">
          <input (change)="searchByExperience($event)" class="form-check-input" type="checkbox" value="20_22_year" id="20_22_year">
          <label class="form-check-label ms-2" for="20_22_year">
            20-25 Years
          </label>
        </div>
      </div>
      <div class="freelance-full-time-internship-part-time-temporary">
        <div class="date-posted">Education Levels</div>
        <div class="form-check">
          <input (change)="searchByEducation($event)" class="form-check-input" type="checkbox" value="certificate" id="certificate">
          <label class="form-check-label ms-2" for="certificate">
            Certificate
          </label>
        </div>
        <div class="form-check">
          <input (change)="searchByEducation($event)" class="form-check-input" type="checkbox" checked value="diploma" id="diploma">
          <label class="form-check-label ms-2" for="diploma">
            Diploma
          </label>
        </div>
        <div class="form-check">
          <input (change)="searchByEducation($event)" class="form-check-input" type="checkbox" value="associate_degree" id="associate_degree">
          <label class="form-check-label ms-2" for="associate_degree">
            Associate Degree
          </label>
        </div>
        <div class="form-check">
          <input (change)="searchByEducation($event)" class="form-check-input" type="checkbox" value="bachelor_degree" id="bachelor_degree">
          <label class="form-check-label ms-2" for="bachelor_degree">
            Bachelor Degree
          </label>
        </div>
        <div class="form-check">
          <input (change)="searchByEducation($event)" class="form-check-input" type="checkbox" value="master" id="master">
          <label class="form-check-label ms-2" for="master">
            Master’s
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-6 showing-employer">
         <p> <okoho-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage}">
          </okoho-item-count> <span jhiTranslate="global.item-candidat">candidatsp</span></p>

         <!-- <span>Showing 41-60 </span><span>of Employers</span>-->
        </div>
        <div class="col-6">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div class="btn-group mb-2">
              <select (change)="recentView($event)" type="button" class="btn btn-most dropdown-toggle">
                <option value="most recent">Most Recent</option>
                <option value="populary">Populary</option>
                <option value="most view">Most view</option>
              </select>
            </div>
            <div class="btn-group mb-2">
              <select (change)="showing($event)" type="button" class="btn btn-most">
                <option value="show_10">Show 10</option>
                <option value="show_20">Show 20</option>
                <option value="show_20">Show 50</option>
              </select>
            </div>
          </div>

        </div>
      </div>
      <div *ngIf="candidats && candidats.length > 0">
       <!--  <div class="row justify-content-center">
          <okoho-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></okoho-item-count>
        </div>-->


      <div class="row">
        <div class="col-4 job-card" *ngFor="let candidat of candidats; trackBy: trackId">
          <div>
            <span class="private">Private</span>
            <span class="fulltime">Fulltime</span>
          </div>
          <div class="text-center">
            <img class="logo" src="favicon.ico">
          </div>
          <div class="candiadte-name">
            {{candidat.userAccount.firstName}} {{candidat.userAccount.lastName}}
          </div>
          <div class="catalyst">
            <span>UI Designer</span>
          </div>
          <div class="location">
            <fa-icon icon="location"></fa-icon>
            <span class="pr-3">London, UK</span>
            <fa-icon icon="location"></fa-icon>
            <span>$99 / hour</span>
          </div>
          <div class="tags">
            <span class="badge bg-primary m-1">Design</span>
            <span class="badge bg-primary m-1">Digital</span>
            <span class="badge bg-primary m-1">App</span>
          </div>
          <div class="d-grid  gap-2">
            <button class="btn view-profile">View Profile</button>
          </div>

        </div>
      </div>
      <div class="row justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  </div>

</div>
</div>
