<section class="blog-single">
  <div class="auto-container">
    <div class="upper-box">
      <h3>{{blog?.title}}.</h3>
      <ul class="post-info">
        <li><span class="thumb"><img src="assets/images/avatar/default_avatar.png" alt=""></span> Alison Dawn</li>
        <li>{{blog?.createdAt|date}}</li>
        <li>12 Comment</li>
      </ul>
    </div>
  </div>
  <figure class="main-image"><img src="assets/images/avatar/image-place-holder.png" alt=""></figure>
  <div class="auto-container">
    <h4>Course Description</h4>
    {{blog.description}}
    <!-- Other Options -->
    <div class="other-options">
      <div class="social-share">
        <h5>Share this post</h5>
        <a href="#" class="facebook"><i class="fab fa-facebook-f"></i> Facebook</a>
        <a href="#" class="twitter"><i class="fab fa-twitter"></i> Twitter</a>
        <a href="#" class="google"><i class="fab fa-google"></i> Google+</a>
      </div>

      <div class="tags">
        <a href="#">App</a>
        <a href="#">Design</a>
        <a href="#">Digital</a>
      </div>
    </div>

    <!-- Post Control -->
    <div class="post-control">
      <div class="prev-post">
        <span class="icon flaticon-back"></span>
        <span class="title">Previous Post</span>
        <h5><a href="#">Given Set was without from god divide rule Hath</a></h5>
      </div>
      <div class="next-post">
        <span class="icon flaticon-next"></span>
        <span class="title">Next Post</span>
        <h5><a href="#">Tree earth fowl given moveth deep lesser After</a></h5>
      </div>
    </div>

    <!-- Comments area -->
    <div class="comments-area">
      <!-- Comment Box -->
      <div class="comment-box" *ngFor="let comment of comments">
        <h4>Comment</h4>
        <!-- Comment -->
        <div class="comment">
          <div class="user-thumb"><img src="assets/images/avatar/default_avatar.png" alt=""></div>
          <div class="comment-info">
            <div class="user-name">{{comment.name}}</div>
            <div class="title">{{comment.title}}</div>
          </div>
          <div class="text">{{comment.message}}</div>
        </div>
      </div>
    </div>


    <!-- Comment Form -->
    <div class="comment-form default-form">
      <h4>Leave your thought here</h4>
      <form [formGroup]="itemForm" (submit)="saveMessage()">
        <div class="row clearfix">
          <div class="col-lg-6 col-md-12 col-sm-12 form-group">
            <label>Your Name</label>
            <input formControlName="name"  type="text" name="name" placeholder="Name" required="">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 form-group">
            <label>Your Email</label>
            <input formControlName="email"  type="email" name="email" placeholder="Email" required="">
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 form-group">
            <label>Your Comment</label>
            <textarea formControlName="message"  name="message" placeholder="Write Comment"></textarea>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 form-group">
            <button class="theme-btn btn-style-one" type="submit" name="submit-form">Post Comment</button>
          </div>
        </div>
      </form>
    </div>
    <!--End Comment Form -->
  </div>
</section>
