<div class="container">
  <div class="frequently-asked-questions">Frequently Asked Questions</div>
  <div class="home-faq">Home / Faq</div>


<div class="row d-flex justify-content-center">
  <div class="col-md-8">
    <div class="payments">Payments</div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Why won&#039;t my payment go through?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">  Pharetra nulla ullamcorper sit lectus. Fermentum mauris pellentesque nec nibh
            sed et, vel diam, massa. Placerat quis vel fames interdum urna lobortis
            sagittis sed pretium. Aliquam eget posuere sit enim elementum nulla vulputate
            magna. Morbi sed arcu proin quis tortor non risus. <br /><br />Elementum
            lectus a porta commodo suspendisse arcu, aliquam lectus faucibus. Nisl
            malesuada tortor, ligula aliquet felis vitae enim. Mi augue aliquet mauris non
            elementum tincidunt eget facilisi. Pellentesque massa ipsum tempus vel aliquam
            massa eu pulvinar eget</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            How do I get a refund?
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            How do I redeem a coupon?
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="payments">Suggestions</div>
    <div class="accordion accordion-flush" id="my-paie">
      <div class="accordion-item">
        <h2 class="accordion-header" id="my-paie-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#my-paie-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Why won&#039;t my payment go through?
          </button>
        </h2>
        <div id="my-paie-collapseOne" class="accordion-collapse collapse " aria-labelledby="my-paie-headingOne" data-bs-parent="#my-paie">
          <div class="accordion-body"> Pharetra nulla ullamcorper sit lectus. Fermentum mauris pellentesque nec nibh
            sed et, vel diam, massa. Placerat quis vel fames interdum urna lobortis
            sagittis sed pretium. Aliquam eget posuere sit enim elementum nulla vulputate
            magna. Morbi sed arcu proin quis tortor non risus. <br /><br />Elementum
            lectus a porta commodo suspendisse arcu, aliquam lectus faucibus. Nisl
            malesuada tortor, ligula aliquet felis vitae enim. Mi augue aliquet mauris non
            elementum tincidunt eget facilisi. Pellentesque massa ipsum tempus vel aliquam
            massa eu pulvinar eget.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="my-paie-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#my-paie-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            How do I get a refund?
          </button>
        </h2>
        <div id="my-paie-collapseTwo" class="accordion-collapse collapse" aria-labelledby="my-paie-headingTwo" data-bs-parent="#my-paie">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="my-paie-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#my-paie-collapseThree" aria-expanded="false" aria-controls="my-paie-collapseThree">
            How do I redeem a coupon?
          </button>
        </h2>
        <div id="my-paie-collapseThree" class="accordion-collapse collapse" aria-labelledby="my-paie-headingThree" data-bs-parent="#my-paie">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
