<section class="job-detail-section">
  <!-- Upper Box -->
  <div class="upper-box">
    <div class="auto-container">
      <!-- Job Block -->
      <div class="job-block-seven style-three">
        <div class="inner-box">
          <div class="content">
            <span class="company-logo">
              <img src="{{employer?.userAccount.imageUrl}}" alt="">
               <img *ngIf="employer?.userAccount.imageUrl == null"
                    src="assets/images/avatar/image-place-holder.png" alt="Image">
            </span>
            <h4>{{employer?.userAccount.firstName}}</h4>
            <ul class="job-other-info">
              <li class="time" jhiTranslate="page.open_jobs">Open Job</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="job-detail-outer">
    <div class="auto-container">
      <div class="row">
        <div class="content-column col-lg-8 col-md-12 col-sm-12 order-2">
          <div class="job-detail">
            <h4 jhiTranslate="page.about_company">About Company</h4>
           {{employer?.description}}
            </div>

          <!-- Related Jobs -->
          <div class="related-jobs">
            <div class="title-box">
              <h3>{{jobs?.length}} jobs at {{employer?.entreprise}}</h3>
              <div class="text">2020 jobs live - 293 added today.</div>
            </div>

            <!-- Job Block -->
            <div class="job-block"  *ngFor="let job of jobs;">
              <div class="inner-box">
                <div class="content">
                  <span class="company-logo">
                    <img src="{{job?.recruteur?.userAccount.imageUrl}}" alt="">
                    <img *ngIf="job?.recruteur?.userAccount.imageUrl == null"
                         src="assets/images/avatar/image-place-holder.png" alt="Image">
                  </span>
                  <h4><a href="#">{{job?.title}}</a></h4>
                  <ul class="job-info">
                    <li><fa-icon icon="briefcase"></fa-icon> Segment</li>
                    <li><fa-icon icon="map-location"></fa-icon> {{job?.recruteur.location}}</li>
                    <li><fa-icon icon="clock-four"></fa-icon> {{job?.createdAt|timeAgo}}</li>
                    <li><fa-icon icon="money-bill"></fa-icon> ${{job?.minSalary}} - ${{job?.max_salary}}</li>
                  </ul>
                  <ul class="job-other-info">
                    <li class="time">{{job?.jobType}}</li>
                    <li class="required">Urgent</li>
                  </ul>
                  <button class="bookmark-btn" [routerLink]="['/find-job', 'detail', job?.id]">
                  <fa-icon icon="bookmark"></fa-icon></button>
                </div>
              </div>
            </div>


          </div>
        </div>

        <div class="sidebar-column col-lg-4 col-md-12 col-sm-12">
          <aside class="sidebar pd-right">

            <div class="sidebar-widget company-widget">
              <div class="widget-content">
                <ul class="company-info mt-0">
                  <li><span jhiTranslate="page.primary_industry">industry:</span>  <span>{{employer?.entreprise}}</span></li>
                  <li><span jhiTranslate="page.company_size">Company size: </span><span>{{employer?.companySize}}</span></li>
                  <li><span jhiTranslate="page.founded_in">Founded in: </span><span>{{employer?.foundedDate}}</span></li>
                  <li><span jhiTranslate="page.phone">Phone: </span><span>{{employer?.userAccount.phoneNumber}}</span></li>
                  <li><span jhiTranslate="page.email">Email:</span> <span>{{employer?.userAccount.email}}</span></li>
                  <li><span jhiTranslate="page.location">Location: </span><span>{{employer?.location}}</span></li>
                  <li><span jhiTranslate="page.social_media">Social media:</span>
                    <div class="social-links">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                  </li>
                </ul>

                <div class="btn-box"><a href="#" class="theme-btn btn-style-three">{{employer?.website}}</a></div>
              </div>
            </div>

            <div class="sidebar-widget">
              <!-- Map Widget -->
              <h4 class="widget-title" jhiTranslate="page.job_location">Job Location</h4>
              <div class="widget-content">
                <div class="map-outer mb-0">
                  <div style="height: 400px;"
                       leaflet
                       [leafletOptions]="options"
                       [leafletLayers]="layers"
                      >
                  </div>
                 <!-- <google-map class="map-canvas" [center]="center" [zoom]="zoom"
                              height="400px"
                              width="100%"></google-map>-->

                <!--  <div class="map-canvas" data-zoom="12" data-lat="-37.817085"
                       data-lng="144.955631" data-type="roadmap" data-hue="#ffc400" data-title="Envato"
                       data-icon-path="images/resource/map-marker.png"
                       data-content="Melbourne VIC 3000, Australia<br>
                       <a href='mailto:info@youremail.com'>info@youremail.com</a>">
                  </div>-->
                </div>
              </div>
            </div>

            <div class="sidebar-widget contact-widget">
              <h4 class="widget-title" jhiTranslate="page.contact_us">Contact Us</h4>
              <div class="widget-content">
                <!-- Comment Form -->
                <div class="default-form">
                  <!--Comment Form-->
                  <app-contact-form></app-contact-form>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<div id="apus-main-content">
  <section id="primary" class="content-area inner">
    <div id="main" class="site-main content" role="main">
      <div class="single-listing-wrapper employer" data-latitude="40.763282432143114"
           data-longitude="-73.87616413155104"
           data-img="https://okoho-consulting.de/wp-content/uploads/2021/05/y12.jpg">


        <article id="post-1023"
                 class="employer-single-v1  post-1023 employer type-employer
                  status-publish has-post-thumbnail hentry employer_category-advertising employer_location-new-york is-featured">
          &lt;!&ndash; heading &ndash;&gt;
          <div class="employer-detail-header candidate-detail-header v1">
            <div class="container">
              <div class="flex-middle-sm row">
                <div class="col-xs-12 col-sm-8">
                  <div class="candidate-top-wrapper flex-middle-sm">
                    <div class="candidate-thumbnail">
                      <div class="employer-logo">
                        <div class="image-wrapper image-loaded">
                          <img width="100" height="100" src="{{employer.userAccount.imageUrl}}"
                               class="attachment-thumbnail size-thumbnail unveil-image" alt=""></div>
                      </div>
                    </div>

                    <div class="candidate-information">
                      <div class="title-wrapper">
                        <h1 class="candidate-title">
                          {{employer.entreprise}}                            </h1>
                        <span class="featured-text">Featured</span>
                      </div>

                      <div class="candidate-metas">
                        <div class="job-category">
                          <div class="value">

                            <i class="flaticon-briefcase-1"></i>

                            <a class="category-employer"
                               href="#">Advertising</a></div>
                        </div>
                        <div class="employer-location">

                          <div class="value">
                            <fa-icon class="location-pin"></fa-icon>

                            <a href="#">New York</a></div>
                        </div>
                        <div class="job-phone">
                          <div class="value">
                            <div class="phone-wrapper phone-hide">
                              <i class="flaticon-phone"></i>
                              <a class="phone" href="tel:123 456 789">{{employer.userAccount.phoneNumber}}</a>
                              <span class="phone-show"
                                    onclick="this.parentNode.classList.add('show');">123 456 *** <span class="bg-theme">show</span></span>
                            </div>
                          </div>
                        </div>
                        <div class="job-email">
                          <div class="value">
                            <fa-icon icon="envelope"></fa-icon>
                            {{employer.userAccount.email}}
                          </div>
                        </div>
                      </div>

                      <div class="candidate-metas-bottom">
                        <div class="nb-job">
                          <span class="text">Open Job</span></div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <div class="candidate-detail-buttons flex-middle justify-content-end-sm">
                    <div class="send-private-wrapper">
                      <a href="#send-private-message-wrapper-1023" class="btn btn btn-primary">Private Message</a>
                    </div>
                    &lt;!&ndash; <div id="send-private-message-wrapper-1023" class="send-private-message-wrapper mfp-hide" data-effect="fadeIn">
                       <h3 class="title">Send message to "Udamy"</h3>
                       <form id="send-message-form" class="send-message-form" action="?" method="post">
                         <div class="form-group">
                           <input type="text" class="form-control style2" name="subject" placeholder="Subject" required="required">
                         </div>&lt;!&ndash; /.form-group &ndash;&gt;
                         <div class="form-group">
                           <textarea class="form-control message style2" name="message" placeholder="Enter text here..." required="required"></textarea>
                         </div>&lt;!&ndash; /.form-group &ndash;&gt;

                         <input type="hidden" id="wp-private-message-send-message-nonce" name="wp-private-message-send-message-nonce" value="87e9045a9a"><input type="hidden" name="_wp_http_referer" value="/wp-demo/superio/employer/udamy/">              	<input type="hidden" name="recipient" value="13">
                         <input type="hidden" name="action" value="wp_private_message_send_message">
                         <button class="button btn btn-theme btn-block send-message-btn">Send Message</button>
                       </form>
                     </div>
                    &ndash;&gt;
                    <a href="javascript:void(0)"
                       class="btn-action-job button btn-follow btn-unfollow-employer btn-primary"
                       data-employer_id="1023" data-nonce="88b56b7628">
                      <fa-icon class="margin-left-15" icon="bookmark"></fa-icon>
                      <span class="text">Following</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-white">
            <div class="employer-content-area container">
              &lt;!&ndash; Main content &ndash;&gt;
              <div class="row content-single-candidate">
                <div class="col-xs-12 list-content-candidate col-md-8">


                  &lt;!&ndash; employer description &ndash;&gt;
                  <div class="employer-detail-description">
                    <h3 class="title">About Company</h3>
                    <div class="inner">
                      {{employer.description}}
                    </div>
                  </div>

                  &lt;!&ndash; Socials &ndash;&gt;

                  <div class="social-job-detail">
            <span class="title">Social Profiles:  </span>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-dribbble"></i></a></div>

                  &lt;!&ndash; profile photos &ndash;&gt;
                  <div id="job-candidate-portfolio" class="candidate-detail-portfolio portfolio">
                    <h4 class="title">Portfolio</h4>
                    <div class="content-bottom">
                      <div class="row row-responsive row-portfolio">
                        <div class="col-xs-3 item ">
                          <div class="education-item portfolio-item">
                            <div class="p-relative">
                              <a href="https://okoho-consulting.de/wp-content/uploads/2021/04/blog6.jpg"
                                 data-elementor-lightbox-slideshow="superio-gallery" class="popup-image-gallery ">
                                <div class="image-wrapper image-loaded"><img width="200" height="200"
                                                                             src="https://okoho-consulting.de/wp-content/uploads/elementor/thumbs/blog6-q9rqjt0t6u1z13vyeixppit92ybva69s7egwt0wlow.jpg"
                                                                             class="attachment-200x200x1x1 size-200x200x1x1 unveil-image"
                                                                             alt=""></div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  &lt;!&ndash; Video &ndash;&gt;

                  &lt;!&ndash; employer releated &ndash;&gt;
                  <div class="widget-open-jobs">
                    <div class="top-info-widget flex-middle">
                      <h4 class="title">
                        Open Position </h4>
                      <div class="ali-right">
                        <a href="https://okoho-consulting.de/job-list/?filter-author=13" class="text-theme view_all">
                          Browse Full List <i class="ti-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                    <div class="widget-content">
                      <article id="post-4531"
                               class="map-item layout-job job-list default post-4531 job_listing type-job_listing status-publish hentry job_listing_type-internship job_listing_category-customer job_listing_location-new-york job_listing_tag-app job_listing_tag-design job_listing_tag-jobs job_listing_tag-skill is-featured"
                               data-latitude="40.69627943975441" data-longitude="-73.97313156210255"
                               data-img="https://okoho-consulting.de/wp-content/uploads/2021/05/y12.jpg">
                        <div class="clearfix">
                          <a href="javascript:void(0);" class="btn-follow btn-action-job btn-add-job-shortlist"
                             data-job_id="4531" data-nonce="9dbdb3bd90"><i class="flaticon-bookmark"></i></a>
                          <div class="employer-logo">
                            <a href="https://okoho-consulting.de/job/restaurant-team-member/">
                              <img width="100" height="100"
                                   src="https://okoho-consulting.de/wp-content/uploads/2021/05/y12.jpg"
                                   class="attachment-thumbnail size-thumbnail wp-post-image" alt="" decoding="async">
                            </a>
                          </div>
                          <div class="job-list-content">
                            <div class="title-wrapper flex-middle-sm">
                              <h2 class="job-title"><a href="https://okoho-consulting.de/job/restaurant-team-member/"
                                                       rel="bookmark">Restaurant Team Member</a></h2>
                              <span class="featured-text">Featured</span>

                            </div>
                            <div class="job-metas">
                              <div class="category-job">
                                <div class="job-category with-icon">
                                  <i class="flaticon-briefcase-1"></i>
                                  <a href="https://okoho-consulting.de/job-category/customer/" style="">Customer</a>

                                </div>
                              </div>
                              <div class="job-location">
                                <fa-icon icon="location"></fa-icon>
                                <i class="flaticon-location"></i>
                                <a href="#">New York</a></div>
                              <div class="job-salary with-icon"><i class="flaticon-money-1"></i> <span
                                class="suffix">$</span><span class="price-text">350</span> - <span
                                class="suffix">$</span><span class="price-text">400</span> / month
                              </div>
                            </div>
                            <div class="job-metas-bottom">
                              <div class="job-type with-title">
                                <a class="type-job" href="#" style="">Internship</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </article>&lt;!&ndash; #post-## &ndash;&gt;
                    </div>
                  </div>


                  &lt;!&ndash; team member &ndash;&gt;

                  &lt;!&ndash; Review &ndash;&gt;
                  <div id="reviews">
                    <h3 class="title">2 Comments</h3>
                    <div id="comments">

                      <ol class="comment-list">
                        <li class="comment byuser comment-author-admin even thread-even depth-1" id="li-comment-11">

                          <div id="comment-11" class="the-comment">
                            <div class="avatar">
                              <img alt=""
                                   src=""
                                   class="avatar avatar-80 photo" height="80" width="80" loading="lazy"
                                   decoding="async"></div>
                            <div class="comment-box">
                              <div class="flex-top clearfix">
                                <div class="meta comment-author">
                                  <div class="info-meta">
                                    <strong>
                                      admin </strong>
                                    <div class="date">
                                      <i class="flaticon-event"></i>March 27, 2021
                                    </div>
                                  </div>
                                </div>

                                <div class="star-rating clear ali-right" title="Rated 4 out of 5">
                                  <span class="review-avg">4.0</span>
                                  <div class="review-stars-rated-wrapper">
                                    <div class="review-stars-rated">
                                      <ul class="review-stars">
                                        <li><span class="fa fa-star"></span></li>
                                        <li><span class="fa fa-star"></span></li>
                                        <li><span class="fa fa-star"></span></li>
                                        <li><span class="fa fa-star"></span></li>
                                        <li><span class="fa fa-star"></span></li>
                                      </ul>

                                      <ul class="review-stars filled" style="width: 80%">
                                        <li><span class="fa fa-star"></span></li>
                                        <li><span class="fa fa-star"></span></li>
                                        <li><span class="fa fa-star"></span></li>
                                        <li><span class="fa fa-star"></span></li>
                                        <li><span class="fa fa-star"></span></li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div itemprop="description" class="comment-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus.
                                  Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                              </div>
                            </div>
                          </div>
                        </li>&lt;!&ndash; #comment-## &ndash;&gt;
                        <li class="comment byuser comment-author-candidate odd alt thread-odd thread-alt depth-1"
                            id="li-comment-14">

                          <div id="comment-14" class="the-comment">
                            <div class="avatar">
                              <div class="candidate-logo">
                                <a href="https://okoho-consulting.de/candidate/candidate/">
                                  <div class="image-wrapper image-loaded"><img width="100" height="100"
                                                                               src="https://okoho-consulting.de/wp-content/uploads/2021/05/member4.jpg"
                                                                               class="avatar unveil-image" alt=""></div>
                                </a>
                              </div>
                            </div>
                            <div class="comment-box">
                              <div class="flex-top clearfix">
                                <div class="meta comment-author">
                                  <div class="info-meta">
                                    <strong>
                                      Candidate </strong>
                                    <div class="date">
                                      <i class="flaticon-event"></i>April 7, 2021
                                    </div>
                                  </div>
                                </div>

                                <div class="star-rating clear ali-right" title="Rated 4 out of 5">
                                  <span class="review-avg">4.0</span>
                                  <div class="review-stars-rated-wrapper">
                                    <div class="review-stars-rated">
                                      <ul class="review-stars">
                                        <li><span class="fa fa-star"></span></li>
                                        <li><span class="fa fa-star"></span></li>
                                        <li><span class="fa fa-star"></span></li>
                                        <li><span class="fa fa-star"></span></li>
                                        <li><span class="fa fa-star"></span></li>
                                      </ul>

                                      <ul class="review-stars filled" style="width: 80%">
                                        <li><span class="fa fa-star"></span></li>
                                        <li><span class="fa fa-star"></span></li>
                                        <li><span class="fa fa-star"></span></li>
                                        <li><span class="fa fa-star"></span></li>
                                        <li><span class="fa fa-star"></span></li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div itemprop="description" class="comment-text">
                                <p>As a Product Designer, you will work within a Product Delivery Team fused with UX,
                                  engineering, product and data talent. You will help the team design beautiful
                                  interfaces that solve business challenges for our clients.</p>
                              </div>
                            </div>
                          </div>
                        </li>&lt;!&ndash; #comment-## &ndash;&gt;
                      </ol>


                    </div>

                    <div id="review_form_wrapper" class="commentform">
                      <div id="review_form">
                        <div class="commentform reset-button-default">
                          <div class="clearfix">
                            <div id="respond" class="comment-respond">
                              <h4 class="title comment-reply-title">Add a review <small><a rel="nofollow"
                                                                                           id="cancel-comment-reply-link"
                                                                                           href="/wp-demo/superio/employer/udamy/#respond"
                                                                                           style="display:none;">Cancel
                                reply</a></small></h4>
                              <form action="https://okoho-consulting.de/wp-comments-post.php" method="post"
                                    id="commentform" class="comment-form" novalidate="">
                                <div class="choose-rating clearfix">
                                  <div class="choose-rating-inner row">
                                    <div class="col-sm-12 col-xs-12">
                                      <div class="form-group yourview">
                                        <div class="your-rating">Your Rating for this listing</div>
                                        <div class="wrapper-rating-form">
                                          <div class="comment-form-rating">
                                            <ul class="review-stars">
                                              <li><span class="fa fa-star"></span></li>
                                              <li><span class="fa fa-star"></span></li>
                                              <li><span class="fa fa-star"></span></li>
                                              <li><span class="fa fa-star"></span></li>
                                              <li><span class="fa fa-star"></span></li>
                                            </ul>
                                            <ul class="review-stars filled">
                                              <li><span class="fa fa-star"></span></li>
                                              <li><span class="fa fa-star"></span></li>
                                              <li><span class="fa fa-star"></span></li>
                                              <li><span class="fa fa-star"></span></li>
                                              <li><span class="fa fa-star"></span></li>
                                            </ul>
                                            <input type="hidden" value="5" name="rating" id="_input_rating"></div>
                                          <label for="rating">Your Rating</label></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="group-upload-preview clearfix"></div>
                                <div class="form-group space-30"><label>Review</label><textarea id="comment"
                                                                                                class="form-control"
                                                                                                placeholder="Write Comment"
                                                                                                name="comment" cols="45"
                                                                                                rows="5"
                                                                                                aria-required="true"
                                                                                                required=""></textarea>
                                </div>
                                <p class="form-submit"><input name="submit" type="submit" id="submit"
                                                              class="btn btn-theme" value="Submit Review"> <input
                                  type="hidden" name="comment_post_ID" value="1023" id="comment_post_ID">
                                  <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                </p>
                                <p style="display: none !important;"><label>Δ<textarea name="ak_hp_textarea" cols="45"
                                                                                       rows="8"
                                                                                       maxlength="100"></textarea></label><input
                                  type="hidden" id="ak_js_1" name="ak_js" value="1692638320098">
                                  <script>document.getElementById("ak_js_1").setAttribute("value", (new Date()).getTime());</script>
                                </p>
                              </form>
                            </div>&lt;!&ndash; #respond &ndash;&gt;            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-xs-12 sidebar-job">
                  <aside class="widget widget_apus_employer_info has-content">
                    <div class="job-detail-employer-info">


                      <div class="job-category"><h3 class="title">categories:</h3>
                        <div class="value">

                          <a class="category-employer"
                             href="#">Advertising</a></div>
                      </div>
                      <div class="employer-meta with-icon-title">
                        <h3 class="title">
                          Founded Date:
                        </h3>
                        <div class="value">
                          {{employer.foundedDate}}
                        </div>
                      </div>
                      <div class="employer-meta with-icon-title">
                        <h3 class="title">
                          Company Size:
                        </h3>
                        <div class="value">
                          {{employer.companySize}}
                        </div>
                      </div>
                      <div class="employer-location"><h3 class="title">Location:</h3>


                        <div class="value">

                          <a href="#">New York</a></div>
                      </div>
                      <div class="job-phone">
                        <h3 class="title">Phone Number:</h3>
                        <div class="value">
                          <div class="phone-wrapper phone-hide">
                            <a class="phone" href="tel:123 456 789"> {{employer.userAccount.phoneNumber}}</a>
                            <span class="phone-show" onclick="this.parentNode.classList.add('show');">123 456 *** <span
                              class="bg-theme">show</span></span>
                          </div>
                        </div>
                      </div>
                      <div class="job-email">
                        <h3 class="title">Email:</h3>
                        <div class="value">
                          {{employer.userAccount.email}}
                        </div>
                      </div>

                      <div class="social-employer">
                        <h3 class="title">Socials:</h3>
                        <div class="value">
                          <div class="apus-social-share">
                            <a href="#">
                              <fa-icon icon="facebook"></fa-icon>
                              <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#">
                              <fa-icon icon="twitter"></fa-icon>
                              <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                              <fa-icon icon="linkedin-in"></fa-icon>
                              <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="#">
                              <i class="fab fa-dribbble"></i>
                            </a></div>
                        </div>
                      </div>


                      <div class="employer-website">
                        <a href="#" class="btn btn-theme-light btn-block">www.okoho.com</a>
                      </div>
                    </div>
                  </aside>
                  <aside class="widget widget_apus_employer_maps has-content"><h2 class="widget-title"><span>Employer Location</span>
                  </h2>
                    <div class="employer-detail-map-location job_maps_sidebar">
                      <div id="jobs-google-maps"
                           class="single-job-map leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"
                           tabindex="0">
                        <div class="leaflet-pane leaflet-map-pane" style="transform: translate3d(0px, 0px, 0px);">
                          <div class="leaflet-pane leaflet-tile-pane">
                            <div class="leaflet-layer " style="z-index: 1; opacity: 1;">
                              <div class="leaflet-tile-container leaflet-zoom-animated"
                                   style="z-index: 18; transform: translate3d(0px, 0px, 0px) scale(1);"><img alt=""
                                                                                                             role="presentation"
                                                                                                             src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/15/9659/12313?access_token=pk.eyJ1IjoiZHV5aHV5MTI4OCIsImEiOiJjbGg4aXM4eTkwMjc2M2txdHlmZGp3YnNpIn0.iTpKrnZ24JLBFYDZGgIPeg"
                                                                                                             class="leaflet-tile leaflet-tile-loaded"
                                                                                                             style="width: 256px; height: 256px; transform: translate3d(1px, -150px, 0px); opacity: 1;"><img
                                alt="" role="presentation"
                                src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/15/9659/12314?access_token=pk.eyJ1IjoiZHV5aHV5MTI4OCIsImEiOiJjbGg4aXM4eTkwMjc2M2txdHlmZGp3YnNpIn0.iTpKrnZ24JLBFYDZGgIPeg"
                                class="leaflet-tile leaflet-tile-loaded"
                                style="width: 256px; height: 256px; transform: translate3d(1px, 106px, 0px); opacity: 1;"><img
                                alt="" role="presentation"
                                src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/15/9658/12313?access_token=pk.eyJ1IjoiZHV5aHV5MTI4OCIsImEiOiJjbGg4aXM4eTkwMjc2M2txdHlmZGp3YnNpIn0.iTpKrnZ24JLBFYDZGgIPeg"
                                class="leaflet-tile leaflet-tile-loaded"
                                style="width: 256px; height: 256px; transform: translate3d(-255px, -150px, 0px); opacity: 1;"><img
                                alt="" role="presentation"
                                src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/15/9660/12313?access_token=pk.eyJ1IjoiZHV5aHV5MTI4OCIsImEiOiJjbGg4aXM4eTkwMjc2M2txdHlmZGp3YnNpIn0.iTpKrnZ24JLBFYDZGgIPeg"
                                class="leaflet-tile leaflet-tile-loaded"
                                style="width: 256px; height: 256px; transform: translate3d(257px, -150px, 0px); opacity: 1;"><img
                                alt="" role="presentation"
                                src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/15/9658/12314?access_token=pk.eyJ1IjoiZHV5aHV5MTI4OCIsImEiOiJjbGg4aXM4eTkwMjc2M2txdHlmZGp3YnNpIn0.iTpKrnZ24JLBFYDZGgIPeg"
                                class="leaflet-tile leaflet-tile-loaded"
                                style="width: 256px; height: 256px; transform: translate3d(-255px, 106px, 0px); opacity: 1;"><img
                                alt="" role="presentation"
                                src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/15/9660/12314?access_token=pk.eyJ1IjoiZHV5aHV5MTI4OCIsImEiOiJjbGg4aXM4eTkwMjc2M2txdHlmZGp3YnNpIn0.iTpKrnZ24JLBFYDZGgIPeg"
                                class="leaflet-tile leaflet-tile-loaded"
                                style="width: 256px; height: 256px; transform: translate3d(257px, 106px, 0px); opacity: 1;">
                              </div>
                            </div>
                          </div>
                          <div class="leaflet-pane leaflet-shadow-pane"></div>
                          <div class="leaflet-pane leaflet-overlay-pane"></div>
                          <div class="leaflet-pane leaflet-marker-pane">
                            <div class="leaflet-zoom-animated leaflet-interactive" tabindex="0"
                                 style="transform: translate3d(162px, 125px, 0px); z-index: 125;">
                              <div class="map-popup">
                                <div class="icon-wrapper has-img is-job"><img
                                  src="https://okoho-consulting.de/wp-content/uploads/2021/05/y12.jpg" alt=""></div>
                              </div>
                            </div>
                          </div>
                          <div class="leaflet-pane leaflet-tooltip-pane"></div>
                          <div class="leaflet-pane leaflet-popup-pane"></div>
                          <div class="leaflet-proxy leaflet-zoom-animated"
                               style="transform: translate3d(2472860px, 3152400px, 0px) scale(16384);"></div>
                        </div>
                        <div class="leaflet-control-container">
                          <div class="leaflet-top leaflet-left">
                            <div class="leaflet-control-zoom leaflet-bar leaflet-control"><a
                              class="leaflet-control-zoom-in" href="#" title="Zoom in" role="button"
                              aria-label="Zoom in">+</a><a class="leaflet-control-zoom-out" href="#" title="Zoom out"
                                                           role="button" aria-label="Zoom out">−</a></div>
                          </div>
                          <div class="leaflet-top leaflet-right"></div>
                          <div class="leaflet-bottom leaflet-left"></div>
                          <div class="leaflet-bottom leaflet-right">
                            <div class="leaflet-control-attribution leaflet-control"><a href="https://leafletjs.com"
                                                                                        title="A JS library for interactive maps">Leaflet</a>
                              | © <a href="https://www.mapbox.com/about/maps/">Mapbox</a> © <a
                                href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> <strong><a
                                href="https://www.mapbox.com/map-feedback/" target="_blank">Improve this
                                map</a></strong></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </aside>
                  <aside class="widget widget_apus_employer_contact_form has-content">
                    <h2 class="widget-title"><span>Contact OKOHO</span>
                  </h2>

                    <div class="contact-form">

                      <form method="post" action="?" class="contact-form-employer in-sidebar contact-form-wrapper">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="form-group">
                              <input type="text" class="form-control style2" name="subject" placeholder="Subject"
                                     required="required">
                            </div>&lt;!&ndash; /.form-group &ndash;&gt;
                          </div>
                          <div class="col-sm-12">
                            <div class="form-group">
                              <input type="email" class="form-control style2" name="email" placeholder="E-mail"
                                     required="required" value="employer@okoho.com">
                            </div>&lt;!&ndash; /.form-group &ndash;&gt;
                          </div>
                          <div class="col-sm-12">
                            <div class="form-group">
                              <input type="text" class="form-control style2" name="phone" placeholder="Phone"
                                     required="required" value="123456789">
                            </div>&lt;!&ndash; /.form-group &ndash;&gt;
                          </div>
                        </div>
                        <div class="form-group space-30">
                          <textarea class="form-control style2" name="message" placeholder="Message"
                                    required="required"></textarea>
                        </div>&lt;!&ndash; /.form-group &ndash;&gt;


                        <input type="hidden" name="post_id" value="1023">
                        <button class="button btn btn-theme btn-block" name="contact-form">Send Message</button>


                      </form>

                      <div class="send-private-wrapper">
                        <a href="#send-private-message-wrapper-1023" class="send-private-message-btn btn">Private
                          Message</a>
                      </div>
                 &lt;!&ndash;     <div id="send-private-message-wrapper-1023" class="send-private-message-wrapper mfp-hide"
                           data-effect="fadeIn">
                        <h3 class="title">Send message to "Okoho"</h3>
                        <form id="send-message-form" class="send-message-form" action="?" method="post">
                          <div class="form-group">
                            <input type="text" class="form-control style2" name="subject" placeholder="Subject"
                                   required="required">
                          </div>&lt;!&ndash; /.form-group &ndash;&gt;
                          <div class="form-group">
                            <textarea class="form-control message style2" name="message"
                                      placeholder="Enter text here..." required="required"></textarea>
                          </div>&lt;!&ndash; /.form-group &ndash;&gt;

                          <input type="hidden" id="wp-private-message-send-message-nonce"
                                 name="wp-private-message-send-message-nonce" value="87e9045a9a"><input type="hidden"
                                                                                                        name="_wp_http_referer"
                                                                                                        value="/wp-demo/superio/employer/udamy/">
                          <input type="hidden" name="recipient" value="13">
                          <input type="hidden" name="action" value="wp_private_message_send_message">
                          <button class="button btn btn-theme btn-block send-message-btn">Send Message</button>
                        </form>
                      </div>
&ndash;&gt;
                    </div>
                  </aside>
                </div>
              </div>
            </div>
          </div>
        </article>&lt;!&ndash; #post-## &ndash;&gt;

      </div>

    </div>&lt;!&ndash; .site-main &ndash;&gt;
  </section>&lt;!&ndash; .content-area &ndash;&gt;

</div>-->
