
      <form class="default-form">
        <div class="row">
          <div class="col-md-7">
            <!-- Input -->
            <div class="form-group col-md-12">
              <label>Old Password </label>
              <input type="password" name="name" placeholder="">
            </div>

            <!-- Input -->
            <div class="form-group col-md-12">
              <label>New Password</label>
              <input type="password" name="name" placeholder="">
            </div>

            <!-- Input -->
            <div class="form-group col-md-12">
              <label>Confirm Password</label>
              <input type="password" name="name" placeholder="">
            </div>

            <!-- Input -->
            <div class="form-group col-md-12">
              <button class="theme-btn btn-style-one">Update</button>
            </div>
          </div>
          <div class="col-md-4">
            <img src="assets/images/password.png">
          </div>

        </div>
      </form>

