<section class="page-title">
  <div class="auto-container">
    <!-- Job Search Form -->
    <div class="job-search-form mt-9">

        <div class="row">
          <!-- Form Group -->
          <div class="form-group col-lg-4 col-md-12 col-sm-12">
            <span class="icon flaticon-search-1"></span>
            <input [(ngModel)]="query" type="text" name="field_name" placeholder="{{ 'home.placeholder.job_kewords' | translate }}">
          </div>

          <!-- Form Group -->
          <div class="form-group col-lg-3 col-md-12 col-sm-12 location">
            <span class="icon flaticon-map-locator"></span>
            <input [(ngModel)]="bycity" type="text" name="field_name" placeholder="{{ 'home.placeholder.city_postcode' | translate }}">
          </div>

          <!-- Form Group -->
          <div class="form-group col-lg-3 col-md-12 col-sm-12 location">
           <!-- <fa-icon icon="briefcase"></fa-icon>-->
            <span class="icon flaticon-briefcase"></span>
            <select class="chosen-select" [(ngModel)]="bycategory">
              <option value="" jhiTranslate="page.all_categories">All Categories</option>
              <option value="44">Accounting / Finance</option>
              <option value="106">Automotive Jobs</option>
              <option value="46">Customer</option>
              <option value="48">Design</option>
              <option value="47">Development</option>
              <option value="45">Health and Care</option>
              <option value="105">Marketing</option>
              <option value="107">Project Management</option>
            </select>
          </div>

          <!-- Form Group -->
          <div class="form-group col-lg-2 col-md-12 col-sm-12 text-right">
            <button type="submit" class="theme-btn btn-style-one" (click)="search()" jhiTranslate="page.find_jobs">Find Jobs</button>
          </div>
        </div>

    </div>
    <!-- Job Search Form -->

    <div class="top-filters">
      <div class="form-group">
        <select class="form-select chosen-select" style="">
          <option>Company Size</option>
          <option>New Jobs</option>
          <option>Freelance</option>
          <option>Full Time</option>
          <option>Internship</option>
          <option>Part Time</option>
          <option>Temporary</option>
        </select>
   </div>

      <div class="form-group">
        <select class="form-select chosen-select" style="">
          <option>Founded Date</option>
          <option>New Jobs</option>
          <option>Freelance</option>
          <option>Full Time</option>
          <option>Internship</option>
          <option>Part Time</option>
          <option>Temporary</option>
        </select>
      </div>
    </div>
  </div>
</section>
<section class="ls-section">
  <div class="auto-container">
    <div class="filters-backdrop"></div>

    <div class="row">

      <!-- Content Column -->
      <div class="content-column col-lg-12 col-md-12 col-sm-12">
        <div class="ls-outer"  *ngIf="employers && employers.length > 0">
          <button type="button" class="theme-btn btn-style-two toggle-filters" jhiTranslate="page.show_filters">Show Filters</button>

          <!-- ls Switcher -->
          <div class="ls-switcher">
            <div class="showing-result">
              <div class="text">
                <p> <okoho-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage}">
                </okoho-item-count> <span jhiTranslate="global.item-employer">Employers</span></p>
              </div>
            </div>
            <div class="sort-by">
              <select class="form-select chosen-select" style="">
                <option>New Jobs</option>
                <option>Freelance</option>
                <option>Full Time</option>
                <option>Internship</option>
                <option>Part Time</option>
                <option>Temporary</option>
              </select>

              <select class="form-select chosen-select" style="">
                <option>Show 10</option>
                <option>Show 20</option>
                <option>Show 30</option>
                <option>Show 40</option>
                <option>Show 50</option>
                <option>Show 60</option>
              </select>
           </div>
          </div>


          <div class="row">
            <!-- Company Block Four -->
            <div class="company-block-four col-xl-3 col-lg-4 col-md-6 col-sm-12" *ngFor="let employer of employers; trackBy: trackId">
              <div class="inner-box">
                <button class="bookmark-btn"><span class="flaticon-bookmark"></span></button>
                <span class="featured" jhiTranslate="page.featured">Featured</span>
                <span class="company-logo">
                  <img src="{{employer.userAccount.imageUrl}}" alt="">
                  <img *ngIf="employer?.userAccount.imageUrl == null"
                       src="assets/images/avatar/image-place-holder.png" alt="Image">
                </span>
                <h4><a [routerLink]="['/employers', 'detail', employer.id]">{{employer.userAccount.firstName}} {{employer.userAccount.lastName}}</a></h4>
                <ul class="job-info">
                  <li>
                    <fa-icon icon="map-location"></fa-icon>{{employer.location}}</li>
                  <li><fa-icon icon="briefcase"></fa-icon>
                    {{employer.entreprise}}</li>
                </ul>
                <div class="job-type"><a [routerLink]="['/employers', 'detail', employer.id]" jhiTranslate="page.open_job">Open Job</a></div>
              </div>
            </div>

          </div>

          <!-- Pagination -->
          <nav class="ls-pagination">
            <div class="row justify-content-center">
              <ngb-pagination
                [collectionSize]="totalItems"
                [(page)]="ngbPaginationPage"
                [pageSize]="itemsPerPage"
                [maxSize]="5"
                [rotate]="true"
                [boundaryLinks]="true"
                (pageChange)="loadPage($event)"
              ></ngb-pagination>
            </div>
          </nav>

        </div>
        <div  *ngIf="!employers || employers.length == 0">
          <div class="not-found" jhiTranslate="page.no_employer_found">No employer found.</div>
        </div>
      </div>
    </div>
  </div>
</section>

