
      <app-siderbar-recruteur></app-siderbar-recruteur>

      <section class="user-dashboard">
        <div class="dashboard-outer">
          <div class="upper-title-box">
            <h3>Company Profile!</h3>
            <div class="text">Ready to jump back in?</div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <!-- Ls widget -->
              <div class="ls-widget">
                <div class="tabs-box">
                  <div class="widget-title">
                    <h4>My Profile</h4>
                  </div>

                  <div class="widget-content" *ngIf="itemForm">

                    <div class="uploading-outer">
                      <div class="uploadButton">
                        <input class="uploadButton-input" type="file" (change)="uploadCv($event)" name="attachments[]" accept="image/*, application/pdf" id="upload" multiple="">
                        <label class="uploadButton-button ripple-effect" for="upload">Browse Logo</label>
                        <span class="uploadButton-file-name"></span>
                      </div>
                      <div class="uploadButton">
                        <img src="{{account?.imageUrl}}"/>
                      </div>
                      <div class="text">Max file size is 1MB, Minimum dimension: 330x300 And Suitable files are .jpg &amp; .png</div>
                    </div>

                  <!--  <div class="uploading-outer">
                      <div class="uploadButton">
                        <input class="uploadButton-input" type="file" name="attachments[]" accept="image/*, application/pdf" id="upload_cover" multiple="">
                        <label class="uploadButton-button ripple-effect" for="upload">Browse Cover</label>
                        <span class="uploadButton-file-name"></span>
                      </div>
                      <div class="text">Max file size is 1MB, Minimum dimension: 330x300 And Suitable files are .jpg &amp; .png</div>
                    </div>-->

                    <form class="default-form" [formGroup]="itemForm" (submit)="saveProfile()">
                      <div class="row">
                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Company name (optional)</label>
                          <input formControlName="firstName" type="text" placeholder="Invisionn">
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Email address</label>
                          <input formControlName="email" type="email" placeholder="creativelayers.okoho.de">
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Phone</label>
                          <input formControlName="phoneNumber" type="text"  placeholder="0 123 456 7890">
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Website</label>
                          <input formControlName="website" type="text" placeholder="www.invision.com">
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Est. Since</label>
                          <input formControlName="foundedDate" type="date" placeholder="06.04.2020">
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Team Size</label>
                          <select formControlName="companySize" class="chosen-select form-select">
                            <option>50 - 100</option>
                            <option>100 - 150</option>
                            <option>200 - 250</option>
                            <option>300 - 350</option>
                            <option>500 - 1000</option>
                          </select>
                        </div>

                        <!-- Search Select -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Categories </label>
                          <ngx-select [placeholder]="placehoder" [items]="categories" [multiple]="true"  formControlName="categoryJobs" class="chosen-select multiple"
                                      optionValueField="id" optionTextField="title" ></ngx-select>
                         </div>

                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Allow In Search &amp; Listing</label>
                          <select formControlName="allow_search" class="chosen-select">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                         </div>

                        <!-- About Company -->
                        <div class="form-group col-lg-12 col-md-12">
                          <label>About Company</label>
                          <textarea formControlName="description" placeholder="Spent several years working on sheep on Wall Street. Had moderate success investing in Yugo's on Wall Street. Managed a small team buying and selling Pogo sticks for farmers. Spent several years licensing licorice in West Palm Beach, FL. Developed several new methods for working it banjos in the aftermarket. Spent a weekend importing banjos in West Palm Beach, FL.In this position, the Software Engineer collaborates with Evention's Development team to continuously enhance our current software solutions as well as create new solutions to eliminate the back-office operations and management challenges present"></textarea>
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <button *ngIf="!btn_status" class="theme-btn btn-style-one">Save</button>
                          <button *ngIf="btn_status" class="theme-btn btn-style-four">Update</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <!-- Ls widget -->
              <div class="ls-widget">
                <div class="tabs-box">
                  <div class="widget-title">
                    <h4>Social Network</h4>
                  </div>

                  <div class="widget-content" *ngIf="itemSocialForm">
                    <form class="default-form" [formGroup]="itemSocialForm" (submit)="saveSociale()">
                      <div class="row">
                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Facebook</label>
                          <input formControlName="facebook" type="text" name="name" placeholder="www.facebook.com/Invision">
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Twitter</label>
                          <input formControlName="twitter" type="text" name="name" placeholder="">
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Linkedin</label>
                          <input formControlName="linkedin" type="text" name="name" placeholder="">
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Google Plus</label>
                          <input formControlName="googleplus" type="text" name="name" placeholder="">
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <button *ngIf="!btn_status" class="theme-btn btn-style-one">Save</button>
                          <button *ngIf="btn_status" class="theme-btn btn-style-four">Update</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <!-- Ls widget -->
              <div class="ls-widget" >
                <div class="tabs-box">
                  <div class="widget-title">
                    <h4>Language</h4>
                  </div>

                  <div class="widget-content" *ngIf="languageForm">
                    <form class="default-form" [formGroup]="languageForm" id="bookmark-form" (ngSubmit)="saveLanguage()">
                      <div class="form-group col-sm-12">
                        <label for="con-phone">Language<span style="color: red;">*</span></label>
                        <select formControlName="montherLanguage" class="form-control" id="con-phone"
                                placeholder="" required="" autocomplete="off">
                                <option></option>
                                <option value="{{ 'dashboard.language.french' | translate }}">{{ 'dashboard.language.french' | translate }}</option>
                                <option value="{{ 'dashboard.language.english' | translate }}">{{ 'dashboard.language.english' | translate }}</option>
                                <option value="{{ 'dashboard.language.germain' | translate }}">{{ 'dashboard.language.germain' | translate }}</option>
                        </select>
                        <span class="error" style="color: red;" *ngIf="languageForm.controls['montherLanguage'].hasError('required') &&  this.languageForm.get('montherLanguage')?.touched">Language is a required field
                        </span>
                      </div>
                <!--      <div class="form-group col-sm-6">
                        <label for="con-phone">Other language</label>
                        <select formControlName="ortherLanguage" class="form-control" id="con-phone"
                                placeholder=""
                                required="" autocomplete="off">
                                <option></option>
                                <option value="french">Francais</option>
                                <option value="english">Anglais</option>
                        </select>
                      </div>-->
                      <div class="row mt-3">
                        <div class="form-group col-sm-6">
                          <label for="con-phone">Reading comprehension</label>
                          <select formControlName="readingComprehension1" class="form-control" id="con-phone"
                                  placeholder="" required="" autocomplete="off">
                                  <option value="A1">A1</option>
                                  <option value="A2">A2</option>
                                  <option value="B1">B1</option>
                            <option value="B2">B2</option>
                            <option value="C1">C1</option>
                            <option value="C2">C2</option>
                          </select>
                        </div>
                        <div class="form-group col-sm-6">
                          <label for="con-phone">Listening comprehension</label>
                          <select formControlName="readingComprehension2" class="form-control" id="con-phone"
                                  placeholder="" required="" autocomplete="off">
                            <option value="A1">A1</option>
                            <option value="A2">A2</option>
                            <option value="B1">B1</option>
                            <option value="B2">B2</option>
                            <option value="C1">C1</option>
                            <option value="C2">C2</option>
                          </select>
                        </div>
                      </div>
                      <div class="row mt-3">
                        <div class="form-group col-sm-6">
                          <label for="con-phone">Oral expression</label>
                          <select formControlName="oralIntegration" class="form-control" id="con-phone"
                                  placeholder="" required="" autocomplete="off">
                            <option value="A1">A1</option>
                            <option value="A2">A2</option>
                            <option value="B1">B1</option>
                            <option value="B2">B2</option>
                            <option value="C1">C1</option>
                            <option value="C2">C2</option>
                          </select>
                        </div>
                        <div class="form-group col-sm-6">
                          <label for="con-phone">Written</label>
                          <select formControlName="written" class="form-control" id="con-phone"
                                  placeholder="" required="" autocomplete="off">
                            <option value="A1" selected>A1</option>
                            <option value="A2">A2</option>
                            <option value="B1">B1</option>
                            <option value="B2">B2</option>
                            <option value="C1">C1</option>
                            <option value="C2">C2</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group col-lg-12 col-md-12">
                        <button *ngIf="!btn_status" class="theme-btn btn-style-one">Save</button>
                        <button *ngIf="btn_status" class="theme-btn btn-style-four">Update</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <!-- Ls widget -->
              <div class="ls-widget">
                <div class="tabs-box">
                  <div class="widget-title">
                    <h4>Contact Information</h4>
                  </div>

                  <div class="widget-content" *ngIf="itemContactForm">
                    <form class="default-form" [formGroup]="itemContactForm" (submit)="saveContact()">
                      <div class="row">
                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Country</label>
                          <ng-select class="chosen-select" [items]="countries"
                                     bindLabel="name"
                                     bindValue="name"
                                     formControlName="country"
                          >
                          </ng-select>
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>City</label>
                          <input formControlName="town" type="text" placeholder="">
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-12 col-md-12">
                          <label>Complete Address</label>
                          <input formControlName="address" type="text" name="name" placeholder="329 Queensberry Street, North Melbourne VIC 3051, Australia.">
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Find On Map</label>
                          <input  type="text" name="name" placeholder="329 Queensberry Street, North Melbourne VIC 3051, Australia.">
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-3 col-md-12">
                          <label>Latitude</label>
                          <input formControlName="latitude" type="text" name="name" placeholder="Melbourne">
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-3 col-md-12">
                          <label>Longitude</label>
                          <input formControlName="longitude" type="text" name="name" placeholder="Melbourne">
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-12 col-md-12">
                          <button class="theme-btn btn-style-three">Search Location</button>
                        </div>


                        <div class="form-group col-lg-12 col-md-12">
                          <div class="map-outer">
                            <div class="map-canvas map-height" data-zoom="12" data-lat="-37.817085" data-lng="144.955631" data-type="roadmap" data-hue="#ffc400" data-title="Envato" data-icon-path="images/resource/map-marker.png" data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
                            </div>
                          </div>
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-12 col-md-12">
                          <button *ngIf="!btn_status" class="theme-btn btn-style-one">Save</button>
                          <button *ngIf="btn_status" class="theme-btn btn-style-four">Update</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

            </div>


          </div>
        </div>
      </section>
