<section class="page-title">
  <div class="auto-container">
    <div class="title-outer">
      <h1>Blog</h1>
      <ul class="page-breadcrumb">
        <li><a href="/">Home</a></li>
        <li>Blog</li>
      </ul>
    </div>
  </div>
</section>
<div class="sidebar-page-container">
  <div class="auto-container">
    <div class="row">
      <!--Content Side-->
      <div class="content-side col-lg-12 col-md-12 col-sm-12">
        <div class="blog-grid">
          <div class="row">
            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12" *ngFor="let blog of blogs">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <img src="{{blog?.image}}" alt="" *ngIf="blog?.image">
                    <img src="assets/images/avatar/image-place-holder.png" alt="" *ngIf="!blog?.image">
                  </figure>
                </div>
                <div class="lower-content">
                  <ul class="post-meta">
                    <li><a href="#">{{blog?.createdAt|date}}</a></li>
                    <li><a href="#">12 Comment</a></li>
                  </ul>
                  <h3><a [routerLink]="['/blog', 'detail', blog?.id]">{{blog?.title}}</a></h3>
                  <p class="text">{{blog?.description}}....</p>
                  <a [routerLink]="['/blog', 'detail', blog?.id]" class="read-more">Read More
                    <fa-icon icon="angle-right"></fa-icon>
                    </a>
                </div>
              </div>
            </div>


          </div>

          <!-- Pagination -->
          <nav class="ls-pagination">
            <div class="row justify-content-center">
              <ngb-pagination
                [collectionSize]="totalItems"
                [(page)]="ngbPaginationPage"
                [pageSize]="itemsPerPage"
                [maxSize]="5"
                [rotate]="true"
                [boundaryLinks]="true"
                (pageChange)="loadPage($event)"
              ></ngb-pagination>
            </div>
          </nav>
        </div>
        <div *ngIf="!blogs || blogs?.length == 0">
          <div class="not-found">No blogs alert found.</div>
        </div>
      </div>
    </div>
  </div>
</div>
