<div class="row title-content">
<h4>
  Blog
</h4>
  <h5>Home / Blog</h5>
</div>
<div class="container">
  <div class="row">
    <div class="col-4 card bg-card">
      <div class="card-header">
        <img src="favicon.ico" class="card-img">
      </div>
      <div class="card-body">
        <div class="blog-date">
          <span class="sp-date">August 31, 2021</span><span>12 Comment</span>
        </div>
        <h4 class="blog-title">Attract Sales And Profits</h4>
        <div class="blog-content">
          A job ravenously while Far much that one rank beheld after outside....
        </div>
      </div>
      <div class="card-footer">
        <a class="btn read-more ">Read More <fa-icon icon="arrow-right"></fa-icon></a>
      </div>
    </div>
    <div class="col-4 card bg-card">
      <div class="card-header">
        <img src="favicon.ico" class="card-img">
      </div>
      <div class="card-body">
        <div class="blog-date">
          <span class="sp-date">August 31, 2021</span><span>12 Comment</span>
        </div>
        <h4 class="blog-title">Attract Sales And Profits</h4>
        <div class="blog-content">
          A job ravenously while Far much that one rank beheld after outside....
        </div>
      </div>
      <div class="card-footer">
        <a class="btn read-more ">Read More <fa-icon icon="arrow-right"></fa-icon></a>
      </div>
    </div>
    <div class="col-4 card bg-card">
      <div class="card-header">
        <img src="favicon.ico" class="card-img">
      </div>
      <div class="card-body">
        <div class="blog-date">
          <span class="sp-date">August 31, 2021</span><span>12 Comment</span>
        </div>
        <h4 class="blog-title">Attract Sales And Profits</h4>
        <div class="blog-content">
          A job ravenously while Far much that one rank beheld after outside....
        </div>
      </div>
      <div class="card-footer">
        <a class="btn read-more ">Read More <fa-icon icon="arrow-right"></fa-icon></a>
      </div>
    </div>
    <div class="col-4 card bg-card">
      <div class="card-header">
        <img src="favicon.ico" class="card-img">
      </div>
      <div class="card-body">
        <div class="blog-date">
          <span class="sp-date">August 31, 2021</span><span>12 Comment</span>
        </div>
        <h4 class="blog-title">Attract Sales And Profits</h4>
        <div class="blog-content">
          A job ravenously while Far much that one rank beheld after outside....
        </div>
      </div>
      <div class="card-footer">
        <a class="btn read-more ">Read More <fa-icon icon="arrow-right"></fa-icon></a>
      </div>
    </div>
  </div>
</div>
