.nav-tabs .nav-link .active {
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
  border: 0 !important;
  border-top-left-radius: var(--bs-nav-tabs-border-radius);
  border-top-right-radius: var(--bs-nav-tabs-border-radius);
}

