<section class="job-detail-section mt-50 pt-9">
  <div class="job-detail-outer">
    <div class="auto-container">
      <div class="row">
        <div class="content-column col-lg-8 col-md-12 col-sm-12">
          <div class="job-block-outer">
            <!-- Job Block -->
            <div class="job-block-seven style-two">
              <div class="inner-box">
                <div class="content">
                  <h4><a href="#">{{job?.title}}</a></h4>
                  <ul class="job-info">
                    <li><fa-icon icon="briefcase"></fa-icon>Segment</li>
                    <li><fa-icon icon="map-location"></fa-icon> {{job?.recruteur.location}}</li>
                    <li><fa-icon icon="clock-four"></fa-icon> {{job?.createdAt|timeAgo}}</li>
                    <li><fa-icon icon="money-bill"></fa-icon> ${{job?.minSalary}}k - ${{job?.max_salary}}k</li>

                  </ul>
                  <ul class="job-other-info">
                    <li class="time">{{job?.jobType}}</li>
                    <li class="privacy">Private</li>
                    <li class="required">Urgent</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="job-overview-two">
            <h4 jhiTranslate="page.job_description">Job Description</h4>
            <ul>
              <li>
                <i class="icon icon-calendar"></i>
                <h5 jhiTranslate="page.date_posted">Date Posted:</h5>
                <span>Posted {{job?.createdAt|timeAgo}}</span>
              </li>
              <li>
                <i class="icon icon-expiry"></i>

                <h5 jhiTranslate="page.expiration_date"> Expiration date:</h5>
                <span>April 06, 2021</span>
              </li>
              <li>
                <i class="icon icon-location"></i>
                <h5 jhiTranslate="page.location"> Location:</h5>
                <span>{{job?.recruteur.town}},{{job?.recruteur.country}}</span>
              </li>
              <li>
                <i class="icon icon-user-2"></i>
                <h5 jhiTranslate="page.job_title"> Job Title:</h5>
                <span>{{job?.title}}</span>
              </li>
              <li>
                <i class="icon icon-clock"></i>

                <h5 jhiTranslate="page.hours">Hours:</h5>
                <span>50h / week</span>
              </li>
              <li>
                <i class="icon icon-rate"></i>
                <h5 jhiTranslate="page.rate"> Rate:</h5>
                <span>$15 - $25 / hour</span>
              </li>
              <li>
                <i class="icon icon-salary"></i>
                <h5 jhiTranslate="page.salary">Salary:</h5>
                <span>${{job?.minSalary}}k - ${{job?.max_salary}}k</span>
              </li>
            </ul>
          </div>

          <div class="job-detail">

            <h4 jhiTranslate="page.job_description">Job Description</h4>
          <p>{{job?.description}}</p>
            <h4>Key Responsibilities</h4>
            <ul class="list-style-three">
              <li *ngFor="let competence of job?.comptences ">Be involved in every step of the product design cycle from discovery to developer handoff and user acceptance testing.</li>

            </ul>
            <h4 jhiTranslate="page.skill_experience">Skill &amp; Experience</h4>
            <ul class="list-style-three">
              <li>You have at least 3 years’ experience working as a Product Designer.</li>
              <li>You have experience using Sketch and InVision or Framer X</li>
              <li>You have some previous experience working in an agile environment – Think two-week sprints.</li>
              <li>You are familiar using Jira and Confluence in your workflow</li>
            </ul>
          </div>

          <!-- Other Options -->
          <div class="other-options">
            <div class="social-share">
              <h5 jhiTranslate="page.share_this_job">Share this job</h5>
              <a href="#" class="facebook"><i class="fab fa-facebook-f"></i> Facebook</a>
              <a href="#" class="twitter"><i class="fab fa-twitter"></i> Twitter</a>
              <a href="#" class="google"><i class="fab fa-google"></i> Google+</a>
            </div>
          </div>
        </div>

        <div class="sidebar-column col-lg-4 col-md-12 col-sm-12">
          <aside class="sidebar">
            <div class="btn-box">
              <a [class.auth-spinner]="loading" class="theme-btn btn-style-one" (click)="applyJob()" jhiTranslate="page.apply_for_job">Apply For Job</a>
              <button class="bookmark-btn">
                <fa-icon icon="bookmark"></fa-icon>
              </button>
            </div>

            <div class="sidebar-widget company-widget">
              <div class="widget-content">
                <div class="company-title">
                  <div class="company-logo"><img src="{{job?.recruteur.userAccount.imageUrl}}" alt=""></div>
                  <h5 class="company-name">{{job?.recruteur.entreprise}}</h5>
                  <a class="profile-link" jhiTranslate="page.view_company">View company profile</a>
                </div>

                <ul class="company-info">
                  <li><span  jhiTranslate="page.primary_industry">Primary industry:</span> <span>{{job?.industry}}</span></li>
                  <li><span  jhiTranslate="page.company_size">Company size: </span><span>{{job?.recruteur.companySize}}</span></li>
                  <li><span  jhiTranslate="page.founded_in">Founded in:</span> <span>{{job?.recruteur.foundedDate}}</span></li>
                  <li><span  jhiTranslate="page.phone">Phone: </span><span>{{job?.recruteur.userAccount.phoneNumber}}</span></li>
                  <li><span  jhiTranslate="page.email">Email: </span><span>{{job?.recruteur.userAccount.email}}</span></li>
                  <li><span jhiTranslate="page.location">Location:</span> <span>{{job?.recruteur.location}}</span></li>
                  <li><span jhiTranslate="page.socila_media">Social media:</span>
                    <div class="social-links">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                  </li>
                </ul>

                <div class="btn-box"><a href="{{job?.recruteur.website}}" class="theme-btn btn-style-three">{{job?.recruteur.website}}</a></div>
              </div>
            </div>

            <div class="sidebar-widget contact-widget">
              <h4 class="widget-title" jhiTranslate="page.contact_us">Contact Us</h4>
              <div class="widget-content">
                <!-- Comment Form -->
                <div class="default-form">
                  <!--Comment Form-->
                  <form>
                    <div class="row clearfix">
                      <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        <input type="text" name="username" placeholder="Your Name" required="">
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        <input type="email" name="email" placeholder="Email Address" required="">
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        <textarea class="darma" name="message" placeholder="Message"></textarea>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        <button class="theme-btn btn-style-one" type="submit" name="submit-form"  jhiTranslate="page.send_message">Send Message</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>

      <!-- Related Jobs -->
      <div class="related-jobs">
        <div class="title-box">
          <h3 jhiTranslate="page.related_jobs">Related Jobs</h3>
          <div class="text">2020 jobs live - 293 added today.</div>
        </div>
        <div class="row">
          <!-- Job Block -->
          <div class="job-block-four col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="inner-box">
              <ul class="job-other-info">
                <li class="time">Full Time</li>
                <li class="privacy">Private</li>
                <li class="required">Urgent</li>
              </ul>
              <span class="company-logo"><img src="images/resource/company-logo/3-1.png" alt=""></span>
              <span class="company-name">Catalyst</span>
              <h4><a href="#">Software Engineer (Android), Libraries</a></h4>
              <div class="location"><span class="icon flaticon-map-locator"></span> London, UK</div>
            </div>
          </div>

          <!-- Job Block -->
          <div class="job-block-four col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="inner-box">
              <ul class="job-other-info">
                <li class="time">Full Time</li>
              </ul>
              <span class="company-logo"><img src="images/resource/company-logo/3-2.png" alt=""></span>
              <span class="company-name">Catalyst</span>
              <h4><a href="#">Software Engineer (Android), Libraries</a></h4>
              <div class="location"><span class="icon flaticon-map-locator"></span> London, UK</div>
            </div>
          </div>

          <!-- Job Block -->
          <div class="job-block-four col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="inner-box">
              <ul class="job-other-info">
                <li class="time">Full Time</li>
              </ul>
              <span class="company-logo"><img src="images/resource/company-logo/3-3.png" alt=""></span>
              <span class="company-name">Upwork</span>
              <h4><a href="#">Software Engineer (Android), Libraries</a></h4>
              <div class="location"><span class="icon flaticon-map-locator"></span> London, UK</div>
            </div>
          </div>

          <!-- Job Block -->
          <div class="job-block-four col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="inner-box">
              <ul class="job-other-info">
                <li class="time">Full Time</li>
              </ul>
              <span class="company-logo"><img src="images/resource/company-logo/3-4.png" alt=""></span>
              <span class="company-name">invision</span>
              <h4><a href="#">Software Engineer (Android), Libraries</a></h4>
              <div class="location"><span class="icon flaticon-map-locator"></span> London, UK</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

