<div class="layout">
  <div class="vertical-layout row">
    <div class="col-md-3 col-sm-12 col-xs-12">
      <app-siderbar-recruteur></app-siderbar-recruteur>
    </div>
    <div class="col-md-9 col-sm-12 col-xs-12">
      <div class="box-dashboard-wrapper">

        <h3 class="widget-title flex-middle">
            <span class="left-inner">
                Meetings            </span>
          <span class="ali-right">
                <a href="#employer-meeting-zoom-settings" class="employer-meeting-zoom-settings btn btn-theme">Zoom Settings</a>
            </span>
        </h3>

       <!-- <div id="employer-meeting-zoom-settings" class="job-apply-email-form-wrapper mfp-hide">
          <div class="inner">
            <h2 class="widget-title"><span>Zoom API Setting</span></h2>

            <form id="employer-zoom-meeting-settings-form" class="zoom-meeting-settings-form" method="post">
              <div class="form-group">
                <label>Zoom Email</label>
                <input type="text" class="form-control style2" name="email" value="amadrid196@gmail.com">
              </div>
              <div class="form-group">
                <label>Zoom Client ID</label>
                <input type="text" class="form-control style2" name="client_id" value="sngYoQm4SLOkl4cQrGcpxg">
              </div>
              <div class="form-group">
                <label>Client Secret</label>
                <input type="text" class="form-control style2" name="client_secret" value="GI4ZJPg1f7m4OtzPwg33wEKVLQ5qdcAN">
              </div>

              &lt;!&ndash; /.form-group &ndash;&gt;

              <input type="hidden" id="nonce" name="nonce" value="db415b1c9d"><input type="hidden" name="_wp_http_referer" value="/wp-demo/superio/meetings-employer/">			      	<input type="hidden" name="action" value="wp_job_board_pro_ajax_zoom_settings">
              <button class="button btn btn-theme btn-block" name="zoom-settings">Get Authorize with zoom</button>
            </form>
          </div>
        </div>-->

        <div class="inner-list meetings-list-inner">
          <div class="not-found">No meetings found.</div>
        </div>

      </div>
    </div>
  </div>
</div>
