<div class="mt-50 bg-connec">
  <div style="height: 100px;" class="">

  </div>
  <div class="row justify-content-center text-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
         <!--  <h1 jhiTranslate="activate.title">Activation en attente</h1> -->
        <div class="card-img text-center">
          <img height="100" width="200" src="assets/images/logo.png">
        </div>

      <div class="alert alert-success" *ngIf="success">
        <span jhiTranslate="activate.messages.success"><strong>Your user account has been activated.</strong> Please </span>
        <a class="alert-link" (click)="signin.openModal();" jhiTranslate="global.messages.info.authenticated.link">sign in</a>.
      </div>

      <div class="alert alert-danger" *ngIf="error" jhiTranslate="activate.messages.error">
        <strong>Your user could not be activated.</strong> Please use the registration form to sign up.
      </div>
        </div>

      </div>


    </div>
  </div>
</div>
<app-signin #signin></app-signin>
