  <div class="container">
    <h3 class="mt-3 mb-3 text-center">Terms and Conditions</h3>
    <div class="row">
      <div class="row justify-content-center">
        <div class="col-md-8 mt-3">
        <div class="h4">1. Terms</div>
        <div >
          Far much that one rank beheld bluebird after outside ignobly allegedly
          more when oh arrogantly vehement irresistibly fussy penguin insect
          additionally wow absolutely crud meretriciously hastily dalmatian a
          glowered inset one echidna cassowary some parrot and much as goodness some
          froze the sullen much connected bat wonderfully on instantaneously. Far
          much that one rank beheld bluebird after outside ignobly allegedly more
          when oh arrogantly vehement irresistibly fussy penguin insect
          additionally.<br />
        </div>
        </div></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 mt-3">
        <div class="h4">2. Limitations</div>
        <div >
          Far much that one rank beheld bluebird after outside ignobly allegedly
          more when oh arrogantly vehement irresistibly fussy penguin insect
          additionally wow absolutely crud meretriciously hastily dalmatian a
          glowered inset one echidna cassowary some parrot and much as goodness some
          froze the sullen much connected bat wonderfully on instantaneously. Far
          much that one rank beheld bluebird after outside ignobly allegedly more
          when oh arrogantly vehement irresistibly fussy penguin insect
          additionally.<br />
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 mt-3">
        <div class="h4">3. Revisions and Errata</div>
        <div >
          Far much that one rank beheld bluebird after outside ignobly allegedly
          more when oh arrogantly vehement irresistibly fussy penguin insect
          additionally wow absolutely crud meretriciously hastily dalmatian a
          glowered inset one echidna cassowary some parrot and much as goodness some
          froze the sullen much connected bat wonderfully on instantaneously. Far
          much that one rank beheld bluebird after outside ignobly allegedly more
          when oh arrogantly vehement irresistibly fussy penguin insect
          additionally.<br />
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 mt-3">
        <div class="h4">4. Site Terms of Use Modifications</div>
        <div >
          Far much that one rank beheld bluebird after outside ignobly allegedly
          more when oh arrogantly vehement irresistibly fussy penguin insect
          additionally wow absolutely crud meretriciously hastily dalmatian a
          glowered inset one echidna cassowary some parrot and much as goodness some
          froze the sullen much connected bat wonderfully on instantaneously. Far
          much that one rank beheld bluebird after outside ignobly allegedly more
          when oh arrogantly vehement irresistibly fussy penguin insect
          additionally.<br />
        </div>
      </div>
    </div>
</div>

