.content,
.content * {
  box-sizing: border-box;
}
.content {
  inset: 0;
}
.inner {
  width: 849px;
  height: 1006px;
  position: static;
}
.pharetra-nulla-ullamcorper-sit-lectus-fermentum-mauris-pellentesque-nec-nibh-sed-et-vel-diam-massa-placerat-quis-vel-fames-interdum-urna-lobortis-sagittis-sed-pretium-aliquam-eget-posuere-sit-enim-elementum-nulla-vulputate-magna-morbi-sed-arcu-proin-quis-tortor-non-risus-elementum-lectus-a-porta-commodo-suspendisse-arcu-aliquam-lectus-faucibus-nisl-malesuada-tortor-ligula-aliquet-felis-vitae-enim-mi-augue-aliquet-mauris-non-elementum-tincidunt-eget-facilisi-pellentesque-massa-ipsum-tempus-vel-aliquam-massa-eu-pulvinar-eget {
  color: var(--text-color, #696969);
  text-align: left;
  font: 400 15px/24px "Jost", sans-serif;
  position: absolute;
  left: 536px;
  top: 383px;
  width: 849px;
}
.pharetra-nulla-ullamcorper-sit-lectus-fermentum-mauris-pellentesque-nec-nibh-sed-et-vel-diam-massa-placerat-quis-vel-fames-interdum-urna-lobortis-sagittis-sed-pretium-aliquam-eget-posuere-sit-enim-elementum-nulla-vulputate-magna-morbi-sed-arcu-proin-quis-tortor-non-risus-elementum-lectus-a-porta-commodo-suspendisse-arcu-aliquam-lectus-faucibus-nisl-malesuada-tortor-ligula-aliquet-felis-vitae-enim-mi-augue-aliquet-mauris-non-elementum-tincidunt-eget-facilisi-pellentesque-massa-ipsum-tempus-vel-aliquam-massa-eu-pulvinar-eget2 {
  color: var(--text-color, #696969);
  text-align: left;
  font: 400 15px/24px "Jost", sans-serif;
  position: absolute;
  left: 536px;
  top: 659px;
  width: 849px;
}
.pharetra-nulla-ullamcorper-sit-lectus-fermentum-mauris-pellentesque-nec-nibh-sed-et-vel-diam-massa-placerat-quis-vel-fames-interdum-urna-lobortis-sagittis-sed-pretium-aliquam-eget-posuere-sit-enim-elementum-nulla-vulputate-magna-morbi-sed-arcu-proin-quis-tortor-non-risus-elementum-lectus-a-porta-commodo-suspendisse-arcu-aliquam-lectus-faucibus-nisl-malesuada-tortor-ligula-aliquet-felis-vitae-enim-mi-augue-aliquet-mauris-non-elementum-tincidunt-eget-facilisi-pellentesque-massa-ipsum-tempus-vel-aliquam-massa-eu-pulvinar-eget3 {
  color: var(--text-color, #696969);
  text-align: left;
  font: 400 15px/24px "Jost", sans-serif;
  position: absolute;
  left: 536px;
  top: 935px;
  width: 849px;
}
.far-much-that-one-rank-beheld-bluebird-after-outside-ignobly-allegedly-more-when-oh-arrogantly-vehement-irresistibly-fussy-penguin-insect-additionally-wow-absolutely-crud-meretriciously-hastily-dalmatian-a-glowered-inset-one-echidna-cassowary-some-parrot-and-much-as-goodness-some-froze-the-sullen-much-connected-bat-wonderfully-on-instantaneously-far-much-that-one-rank-beheld-bluebird-after-outside-ignobly-allegedly-more-when-oh-arrogantly-vehement-irresistibly-fussy-penguin-insect-additionally {
  color: var(--text-color, #696969);
  text-align: left;
  font: 400 15px/24px "Jost", sans-serif;
  position: absolute;
  left: 536px;
  top: 1211px;
  width: 849px;
}
._1-terms {
  color: var(--color-two, #202124);
  text-align: left;
  font: 500 26px "Jost", sans-serif;
  position: absolute;
  left: 536px;
  top: 325px;
}
._2-limitations {
  color: var(--color-two, #202124);
  text-align: left;
  font: 500 26px "Jost", sans-serif;
  position: absolute;
  left: 536px;
  top: 601px;
}
._3-revisions-and-errata {
  color: var(--color-two, #202124);
  text-align: left;
  font: 500 26px "Jost", sans-serif;
  position: absolute;
  left: 536px;
  top: 877px;
}
._4-site-terms-of-use-modifications {
  color: var(--color-two, #202124);
  text-align: left;
  font: 500 26px "Jost", sans-serif;
  position: absolute;
  left: 536px;
  top: 1153px;
}
.breadcrumb {
  width: 285px;
  height: 73px;
  position: static;
}
.terms-and-conditions {
  color: var(--color-two, #202124);
  text-align: center;
  font: 500 30px "Jost", sans-serif;
  position: absolute;
  left: 817px;
  top: 182px;
}
.home-terms-and-conditions {
  color: var(--text-color, #696969);
  text-align: center;
  font: 400 15px "Jost", sans-serif;
  position: absolute;
  left: 863px;
  top: 233px;
}
