<section class="candidate-detail-section style-three">
  <!-- Upper Box -->
  <div class="upper-box">
    <div class="auto-container">
      <!-- Candidate block Six -->
      <div class="candidate-block-six">
        <div class="inner-box">
          <figure class="image"><img src="{{candiadat?.userAccount.imageUrl}}" alt=""></figure>
          <h4 class="name"><a href="#">{{candiadat?.userAccount.firstName}} {{candiadat?.userAccount.lastName}}</a></h4>
          <span class="designation">{{candiadat?.jobTitle}}</span>
          <div class="content">
            <ul class="post-tags">
              <li><a href="#">App</a></li>
              <li><a href="#">Design</a></li>
              <li><a href="#">Digital</a></li>
            </ul>

            <ul class="candidate-info">
              <li><fa-icon icon="map-location"></fa-icon>{{candiadat?.town}}, {{candiadat?.country | uppercase}}</li>
             <!-- <li><fa-icon icon="money-bill"></fa-icon>$99 / hour</li>-->
              <li><fa-icon icon="clock-four"></fa-icon>Member Since,{{candiadat?.userAccount.resetDate|date}}</li>
            </ul>

            <div class="btn-box">
              <a href="#" class="theme-btn btn-style-one" jhiTranslate="page.download_cv">Download CV</a>
              <button class="bookmark-btn">
                <fa-icon icon="bookmark"></fa-icon></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="candidate-detail-outer">
    <div class="auto-container">
      <div class="row">
        <div class="content-column col-lg-8 col-md-12 col-sm-12 order-2">
          <div class="job-detail">
            <h4 jhiTranslate="page.candidate_about">Candidates About</h4>
            {{candiadat?.description}}
            <!-- Resume / Education -->
            <div class="resume-outer">
              <div class="upper-title">
                <h4 jhiTranslate="page.education">Education</h4>
              </div>
              <div class="resume-block"  *ngFor="let award of candiadat?.educations">
                <div class="inner">
                  <span class="name">{{award.libelle.charAt(0)}}</span>
                  <div class="title-box">
                    <div class="info-box">
                      <h3>{{award.libelle}}</h3>
                      <span>{{award.location}}</span>
                    </div>
                    <div class="edit-box">
                      <span class="year">{{award.begin|date:'yyyy'}} - {{award.begin|date:'yyyy'}}</span>
                      <div class="edit-btns">
                        <button><fa-icon icon="edit"></fa-icon></button>
                        <button><fa-icon icon="trash"></fa-icon></button>
                      </div>
                    </div>
                  </div>
                  <div class="text">
                    {{award.description}}
                  </div>
                </div>
              </div>
            </div>

            <!-- Resume / Work & Experience -->
            <div class="resume-outer theme-blue">
              <div class="upper-title">
                <h4 jhiTranslate="page.work_experience">Work &amp; Experience</h4>
              </div>
              <div class="resume-block"  *ngFor="let award of candiadat?.works">
                <div class="inner">
                  <span class="name">{{award.libelle.charAt(0)}}</span>
                  <div class="title-box">
                    <div class="info-box">
                      <h3>{{award.libelle}}</h3>
                      <span>{{award.location}}</span>
                    </div>
                    <div class="edit-box">
                      <span class="year">{{award.begin|date:'yyyy'}} - {{award.begin|date:'yyyy'}}</span>
                      <div class="edit-btns">
                        <button><fa-icon icon="edit"></fa-icon></button>
                        <button><fa-icon icon="trash"></fa-icon></button>
                      </div>
                    </div>
                  </div>
                  <div class="text">
                    {{award.description}}
                  </div>
                </div>
              </div>
            </div>

            <!-- Portfolio -->
            <div class="portfolio-outer">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                  <figure class="image">
                    <a href="images/resource/portfolio-1.jpg" class="lightbox-image"><img src="images/resource/portfolio-1.jpg" alt=""></a>
                    <span class="icon flaticon-plus"></span>
                  </figure>
                </div>
              </div>
            </div>

            <!-- Resume / Awards -->
            <div class="resume-outer theme-yellow">
              <div class="upper-title">
                <h4 jhiTranslate="page.awards">Awards</h4>
              </div>
              <div class="resume-block"  *ngFor="let award of candiadat?.awards">
                <div class="inner">
                  <span class="name">{{award.libelle.charAt(0)}}</span>
                  <div class="title-box">
                    <div class="info-box">
                      <h3>{{award.libelle}}</h3>
                      <span>{{award.location}}</span>
                    </div>
                    <div class="edit-box">
                      <span class="year">{{award.begin|date:'yyyy'}} - {{award.begin|date:'yyyy'}}</span>
                      <div class="edit-btns">
                        <button><fa-icon icon="edit"></fa-icon></button>
                        <button><fa-icon icon="trash"></fa-icon></button>
                      </div>
                    </div>
                  </div>
                  <div class="text">
                    {{award.description}}
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="sidebar-column col-lg-4 col-md-12 col-sm-12">
          <aside class="sidebar">
            <div class="sidebar-widget">
              <div class="widget-content">
                <ul class="job-overview">
                  <li>

                    <h5> <fa-icon icon="calendar"></fa-icon><span jhiTranslate="page.experience">Experience:</span></h5>
                    <span>{{candiadat?.experienceTime}} <span jhiTranslate="page.years">Years</span></span>
                  </li>

                  <li>

                    <h5><fa-icon icon="calendar-alt"></fa-icon><span jhiTranslate="page.age">Age:</span></h5>
                    <span>{{candiadat?.dob}}</span> <span jhiTranslate="page.years">Years</span>
                  </li>
                  <li>

                    <h5> <fa-icon icon="envelope"></fa-icon><span jhiTranslate="page.email"></span>Email:</h5>
                    <span>{{candiadat?.userAccount.email}}</span>
                  </li>
                  <li>

                    <h5><fa-icon icon="money-bill"></fa-icon>Current Salary:</h5>
                    <span>10K - {{candiadat?.currentSalary}}K</span>
                  </li>

                  <li>

                    <h5><fa-icon icon="money-bill"></fa-icon>Expected Salary:</h5>
                    <span>{{candiadat?.currentSalary}}K - {{candiadat?.expectedSalary}}K</span>
                  </li>

                  <li>

                    <h5> <fa-icon icon="user"></fa-icon><span jhiTranslate="page.gender">Gender:</span></h5>
                    <span>{{candiadat?.age}}</span>
                  </li>

                  <li>
                    <h5> <fa-icon icon="flag"></fa-icon><span jhiTranslate="page.language">Language:</span></h5>
                    <span>English, German, Spanish</span>
                  </li>

                  <li>

                    <h5><fa-icon icon="school-flag"></fa-icon><span jhiTranslate="page.education_level">Education Level:</span></h5>
                    <span>{{candiadat?.educationLevel}}</span>
                  </li>

                </ul>
              </div>

            </div>

            <div class="sidebar-widget social-media-widget">
              <h4 class="widget-title" jhiTranslate="page.social_media">Social media</h4>
              <div class="widget-content">
                <div class="social-links">
                  <a href="{{candiadat?.facebook}}"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>


            <div class="sidebar-widget">
              <!-- Job Skills -->
              <h4 class="widget-title">Professional Skills</h4>
              <div class="widget-content">
                <ul class="job-skills">
                  <li><a href="#">app</a></li>
                  <li><a href="#">administrative</a></li>
                  <li><a href="#">android</a></li>
                  <li><a href="#">wordpress</a></li>
                  <li><a href="#">design</a></li>
                  <li><a href="#">react</a></li>
                </ul>
              </div>
            </div>
            <div  class="sidebar-widget contact-widget">
              <h4 class="widget-title" jhiTranslate="page.job_location">Location</h4>
              <div class="widget-content" style="height: 400px;"
                   leaflet
                   [leafletOptions]="options"
                   [leafletLayers]="layers"
              >
            </div>
            </div>

            <div class="sidebar-widget contact-widget">
              <h4 class="widget-title">Contact Us</h4>
              <div class="widget-content">
                <!-- Comment Form -->
                <div class="default-form">
                  <!--Comment Form-->
                  <app-contact-form></app-contact-form>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>

