<div class="layout">
  <div class="vertical-layout row">
    <div class="col-md-3 col-sm-12 col-xs-12">
      <app-siderbar-recruteur></app-siderbar-recruteur>
    </div>
    <div class="col-md-9 col-sm-12 col-xs-12">
      <section class="user-dashboard">
        <div class="dashboard-outer">
          <div class="upper-title-box">
            <h3>Shorlisted Resumes!</h3>
            <div class="text">Ready to jump back in?</div>
          </div>
  
          <div class="row">
  
            <div class="col-lg-12">
              <!-- applicants Widget -->
              <div class="applicants-widget ls-widget">
                <div class="widget-title">
                  <h4>Shorlist Resumes</h4>
  
                  <div class="chosen-outer">
                    <!--search box-->
                    <div class="search-box-one">
                      <form method="post" action="blog.html">
                        <div class="form-group">
                          <span class="icon flaticon-search-1"></span>
                          <input type="search" name="search-field" value="" placeholder="Search" required="">
                        </div>
                      </form>
                    </div>
  
                    <!--Tabs Box-->
                    <select class="chosen-select form-select">
                      <option>Newest</option>
                      <option>Last 12 Months</option>
                      <option>Last 16 Months</option>
                      <option>Last 24 Months</option>
                      <option>Last 5 year</option>
                    </select>
                  </div>
                </div>
                <div class="widget-content">
                  <!-- Candidate block three -->
                  <div class="candidate-block-three">
                    <div class="inner-box">
                      <div class="content">
                        <figure class="image"><img src="assets/images/1.png" alt=""></figure>
                        <h4 class="name"><a href="#">Darlene Robertson</a></h4>
                        <ul class="candidate-info">
                          <li class="designation">UI Designer</li>
                          <li><span class="icon flaticon-map-locator"></span> London, UK</li>
                          <li><span class="icon flaticon-money"></span> $99 / hour</li>
                        </ul>
                        <ul class="post-tags">
                          <li><a href="#">App</a></li>
                          <li><a href="#">Design</a></li>
                          <li><a href="#">Digital</a></li>
                        </ul>
                      </div>
                      <div class="option-box">
                        <!-- Dashboard Option -->
                        <div ngbDropdown  class="dropdown resume-action">
                          <button ngbDropdownToggle class="dropdown-toggle theme-btn btn-style-three" role="button" data-toggle="dropdown" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
  
                          <ul ngbDropdownMenu class="dropdown-menu">
                            <li><button data-text="View Aplication"><fa-icon icon="eye"></fa-icon> View Aplication</button></li>
                            <li><button data-text="Approve Aplication"><fa-icon icon="check"></fa-icon> Approve Aplication</button></li>
                            <li><button data-text="Reject Aplication"><fa-icon icon="times"></fa-icon> Reject Aplication</button></li>
                          </ul>
                        </div>
  
                        <button class="delete-btn" data-text="Delete Aplication"><fa-icon icon="trash"></fa-icon></button>
                      </div>
                    </div>
                  </div>
  
  
                  <!-- Pagination -->
                  <nav class="ls-pagination mb-5">
                    <ul>
                      <li class="prev"><a href="#"><i class="fa fa-arrow-left"></i></a></li>
                      <li><a href="#">1</a></li>
                      <li><a href="#" class="current-page">2</a></li>
                      <li><a href="#">3</a></li>
                      <li class="next"><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
