
      <app-siderbar-candidate></app-siderbar-candidate>

      <section class="user-dashboard">
        <div class="dashboard-outer">
          <div class="upper-title-box">
            <h3>My Profile</h3>
            <div class="text">Ready to jump back in?</div>
          </div>
          <form #f="ngForm">

          </form>
          <div class="row">
            <div class="col-lg-12">
              <!-- Ls widget -->
              <div class="ls-widget">
                <div class="tabs-box">
                  <div class="widget-title">
                    <h4>My Profile</h4>
                  </div>

                  <div class="widget-content">

                    <div class="uploading-outer">
                      <div class="uploadButton">
                        <input class="uploadButton-input" type="file" (change)="uploadCv($event)" name="attachments[]"
                               accept="image/*, application/pdf" id="upload" multiple="">
                        <label class="uploadButton-button ripple-effect" for="upload">Browse Logo</label>
                        <span class="uploadButton-file-name"></span>
                      </div>
                      <div class="uploadButton">
                        <img src="{{account?.imageUrl}}" height="150" width="100"/>
                      </div>
                      <div class="text">Max file size is 1MB, Minimum dimension: 330x300 And Suitable files are .jpg
                        &amp; .png
                      </div>
                    </div>

                    <form  #f="ngForm" class="default-form"  (submit)="saveProfile()">
                      <div class="row" [formGroup]="itemForm">
                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>First Name *</label>
                          <input type="text" formControlName="firstName" name="name" placeholder="Jerome">
                        </div>
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Last Name </label>
                          <input type="text" formControlName="lastName" name="name" placeholder="Jerome">
                        </div>

                        <div class="form-group col-lg-6 col-md-12">
                          <label>Job Title *</label>
                          <input type="text" formControlName="jobTitle" placeholder="UI Designer">
                        </div>

                        <div class="form-group col-lg-6 col-md-12">
                           <label class="form-label">Phone</label>
                         <!-- <input type="text"  placeholder="0 123 456 7890" hidden>-->
                          <ngx-intl-tel-input [cssClass]="'form-group phone-tel'"
                                              [enableAutoCountrySelect]="true"
                                              [enablePlaceholder]="false"
                                              [searchCountryFlag]="true"
                                              [selectFirstCountry]="false"
                                              [maxLength]="15"
                                              [phoneValidation]="true"
                                              [separateDialCode]="true"
                                              [preferredCountries]="[CountryISO.Germany,CountryISO.Cameroon,CountryISO.France,]"

                                              countryChange="countryChange()"
                                              name="phone" formControlName="phone">
                          </ngx-intl-tel-input>

                        </div>

                        <div class="form-group col-lg-6 col-md-12">
                          <label>Email address</label>
                          <input type="text" formControlName="email" placeholder="creativelayers">
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-3 col-md-12">
                          <label>Date of born *</label>
                          <input type="date" formControlName="dob" name="name" placeholder="2000-03-12">
                        </div>
                        <div class="form-group col-lg-3 col-md-12">
                          <label>Place of born</label>
                          <input type="text" formControlName="placeofborn" name="name" placeholder="Douala,cameroon">
                        </div>
                        <div class="form-group col-lg-3 col-md-12">
                          <label>Country of born</label>
                          <ng-select class="chosen-select" [items]="countries"
                                     bindLabel="name"
                                     bindValue="name"
                                     formControlName="countryofborn"
                          >
                          </ng-select>
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Education Levels</label>
                          <select formControlName="educationLevel" class="chosen-select">
                            <option>Select</option>
                            <option value="Certificate">Certificate</option>
                            <option value="Associate Degree">Associate Degree</option>
                            <option value="Bachelor Degree">Bachelor Degree</option>
                            <option value="Master’s Degree">Master’s Degree</option>
                            <option value="Doctorate Degree">Doctorate Degree</option>

                          </select>
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Languages</label>
                          <select data-placeholder="Languages" class="chosen-select multiple"
                                  multiple="" tabindex="-1" style="">
                            <option value="English">English</option>
                            <option value="French">French</option>
                            <option value="Deutch">Deutch</option>
                          </select>
                        </div>

                        <!-- Search Select -->
<!--
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Categories *</label>
                          <ngx-select [placeholder]="placehoder" [items]="categories" [multiple]="true"
                                      formControlName="categoryJobs" data-placeholder="Categories" class="chosen-select multiple"
                                      optionValueField="id" optionTextField="title"></ngx-select>
                        </div>
-->

                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Allow In Search &amp; Listing</label>
                          <select class="chosen-select" style="">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                        </div>

                        <!-- About Company -->
                        <div class="form-group col-lg-12 col-md-12">
                          <label>Description</label>
                          <textarea formControlName="description"
                                    placeholder="Spent several years working on sheep on Wall Street. Had moderate success investing in Yugo's on Wall Street. Managed a small team buying and selling Pogo sticks for farmers. Spent several years licensing licorice in West Palm Beach, FL. Developed several new methods for working it banjos in the aftermarket. Spent a weekend importing banjos in West Palm Beach, FL.In this position, the Software Engineer collaborates with Evention's Development team to continuously enhance our current software solutions as well as create new solutions to eliminate the back-office operations and management challenges present"></textarea>
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <button [class.spinner]="loading" [disabled]="loading" *ngIf="!btn_status" class="theme-btn btn-style-one">
                            Save
                          </button>
                          <button class="theme-btn btn-style-four" [ngClass]="loading?'spinner':''" [disabled]="loading" *ngIf="btn_status">
                            Update
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- Ls Branch experience -->
              <div class="ls-widget">
                <div class="tabs-box">
                  <div class="widget-title">
                    <h4>Looking for professional training or employment</h4>
                  </div>

                  <div class="widget-content">
                    <div class="form-group col-md-12">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" name="salary_type" [(ngModel)]="salaryType" type="radio" id="salary_type_p" value="professional">
                        <label class="form-check-label" for="salary_type_p">Search for professional training</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" name="salary_type" [(ngModel)]="salaryType" type="radio" id="salary_type_f" value="training">
                        <label class="form-check-label" for="salary_type_f">Finding a job</label>
                      </div>
                    </div>
                    <div class="resume-block" *ngFor="let b of candidat?.branches">
                      <div class="inner">
                        <span class="name">{{b?.branch!.charAt(0)}}</span>
                        <div class="title-box">
                          <div class="info-box">
                            <h3>{{b?.branch!}}</h3>
                            <h3>{{b?.experience!}}</h3>
                          </div>
                          <div class="edit-box">
                            <div class="edit-btns">
                              <button (click)="editBranch(b, contentBranche)"><fa-icon icon="edit"></fa-icon></button>
                              <button (click)="deleteBranch(b)"><fa-icon icon="trash"></fa-icon></button>
                            </div>
                          </div>
                        </div>
                        <div class="text">
                        </div>
                      </div>
                    </div>
                    <div class="mb-3 mt-3 d-grid text-center">
                    <button type="button" class="btn-cv" (click)="openLg(contentBranche)"><fa-icon icon="plus"></fa-icon> Add Branche activity</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Ls widget social -->
              <div class="ls-widget">
                <div class="tabs-box">
                  <div class="widget-title">
                    <h4>Social Network</h4>
                  </div>

                  <div class="widget-content">
                    <form class="default-form" [formGroup]="itemSocialForm" (submit)="saveSociale()">
                      <div class="row">
                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Facebook</label>
                          <input type="text" formControlName="facebook" placeholder="www.facebook.com/Invision">
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Twitter</label>
                          <input type="text" formControlName="twitter" placeholder="">
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Linkedin</label>
                          <input type="text" formControlName="linkedin" placeholder="">
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Google Plus</label>
                          <input type="text" formControlName="googleplus" placeholder="">
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <button [class.auth-spinner]="isLoading1" [disabled]="isLoading1" *ngIf="!btn_status" class="theme-btn btn-style-one">
                            <img *ngIf="isLoading1" style="width: 24px;" src="assets/images/spinner.gif" />
                            Save</button>
                          <button [class.auth-spinner]="isLoading1" [disabled]="isLoading1" *ngIf="btn_status" class="theme-btn btn-style-four">
                            <img *ngIf="isLoading1" style="width: 24px;" src="assets/images/spinner.gif" />
                            Update</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <!-- Ls widget contact -->
              <div class="ls-widget">
                <div class="tabs-box">
                  <div class="widget-title">
                    <h4>Contact Information</h4>
                  </div>

                  <div class="widget-content">
                    <form class="default-form" [formGroup]="itemContactForm" (submit)="saveContact()">
                      <div class="row">
                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Country</label>
                          <ng-select class="chosen-select" [items]="countries"
                                     bindLabel="name"
                                     bindValue="name"
                                     formControlName="country"
                          >
                          </ng-select>
                          <!-- <select formControlName="country" class="form-select chosen-select" style="">
                             <option>Australia</option>
                             <option>Pakistan</option>
                             <option>Chaina</option>
                             <option>Japan</option>
                             <option>India</option>
                           </select>-->
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>City</label>
                          <input type="text" formControlName="town" placeholder="Berlin">
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-12 col-md-12">
                          <label>Complete Address</label>
                          <input type="text" formControlName="address"
                                 placeholder="329 Queensberry Street, North Melbourne VIC 3051, Australia.">
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Find On Map</label>
                          <input formControlName="address" type="text"
                                 placeholder="329 Queensberry Street, North Melbourne VIC 3051, Australia.">
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-3 col-md-12">
                          <label>Latitude</label>
                          <input formControlName="latitude" type="text" placeholder="51.989858047086535">
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-3 col-md-12">
                          <label>Longitude</label>
                          <input formControlName="longitude" type="text" placeholder="8.78541302551178">
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-12 col-md-12">
                          <button class="theme-btn btn-style-three" (click)="searchPosition()">Search Location</button>
                        </div>


                        <div class="form-group col-lg-12 col-md-12">
                          <div class="map-outer">
                            <google-map height="400px" width="100%" [center]="center" [zoom]="zoom">

                              <map-directions-renderer  [directions]="directionResults" />

                            </google-map>
                           <!-- <google-map class="map-canvas map-height" height="400px" width="100%" [center]="center" [zoom]="zoom">
                              <map-circle [center]="circleCenter" [radius]="radius" />
                            </google-map>-->
                            <!--  <div class="map-canvas map-height" data-zoom="12" data-lat="-37.817085"
                                   data-lng="144.955631" data-type="roadmap" data-hue="#ffc400" data-title="Envato"
                                   data-icon-path="images/resource/map-marker.png"
                                   data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
                              </div>-->
                          </div>
                        </div>

                        <!-- Input -->
                        <div class="form-group col-lg-12 col-md-12">
                          <button [class.auth-spinner]="isLoading2" [disabled]="isLoading2" *ngIf="!btn_status" class="theme-btn btn-style-one">
                            Save</button>
                          <button [class.auth-spinner]="isLoading2" [disabled]="isLoading2" *ngIf="btn_status" class="theme-btn btn-style-four">
                            Update</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </section>

      <ng-template #contentBranche let-modal>
        <div class="modal-header">
          <h6 class="modal-title">Add branches of activity</h6>
          <button type="button" class="close" aria-label="Close" (click)="closeModal(modal)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="default-form" [formGroup]="brancheForm" id="bookmark-form">

            <div class="row d-flex justify-content-center">
              <div class="form-group col-sm-10">
                <label for="con-intitule">Branch Activity</label>
                <select formControlName="branch" class="form-control" style="">
                  <option value="Medical care" jhiTranslate="dashboard.medical-care">Medical care</option>
                  <option value="Development of web and mobile applications" jhiTranslate="dashboard.development-of-web">Development of web and mobile applications</option>
                  <option value="Metal construction and welding" jhiTranslate="dashboard.metal-construction-and-welding">Metal construction and welding</option>
                  <option value="Mechatronics and mechanics" jhiTranslate="dashboard.mechatronics-and-mechanics">Mechatronics and mechanics</option>
                  <option value="Electricity & electronics" jhiTranslate="dashboard.electricity-electronics">Electricity & electronics</option>
                </select>
              </div>
              <div class="form-group col-sm-10">
                <label for="con-intitule">Experience</label>
                <select formControlName="experience" class="form-control" style="">
                  <option value="Stage">Stage</option>
                  <option value="Entry level">Entry level</option>
                  <option value="0-2 Years">0-2 Years</option>
                  <option value="2-4 Years">2-4 Years</option>
                  <option value="12-16 Years">12-16 Years</option>
                </select>
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="closeModal(modal)">Close</button>
          <button class="theme-btn btn-style-one mr-1  pull-right" type="button" (click)="saveActivity()"

          >Save</button>
        </div>
      </ng-template>
