<section class="page-title">
  <div class="auto-container">
    <div class="title-outer">
      <h1>About</h1>
      <ul class="page-breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li>About</li>
      </ul>
    </div>
  </div>
</section>
<section class="about-section-three">
  <div class="auto-container">
    <div class="images-box">
      <div class="row">
        <div class="column col-lg-3 col-md-6 col-sm-6">
          <figure class="image"><img src="assets/images/about/about-img-1.jpg" alt=""></figure>
        </div>
        <div class="column col-lg-3 col-md-6 col-sm-6">
          <figure class="image"><img src="assets/images/about/about-img-2.jpg" alt=""></figure>
          <figure class="image"><img src="assets/images/about/about-img-3.jpg" alt=""></figure>
        </div>
        <div class="column col-lg-3 col-md-6 col-sm-6">
          <figure class="image"><img src="assets/images/about/about-img-4.jpg" alt=""></figure>
          <figure class="image"><img src="assets/images/about/about-img-5.jpg" alt=""></figure>
        </div>
        <div class="column col-lg-3 col-md-6 col-sm-6">
          <figure class="image"><img src="assets/images/about/about-img-6.jpg" alt=""></figure>
        </div>
      </div>
    </div>

    <!-- Fun Fact Section -->
    <div class="fun-fact-section">
      <div class="row">
        <!--Column-->
        <div class="counter-column col-lg-4 col-md-4 col-sm-12 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
          <div class="count-box counted"><span class="count-text" data-speed="3000" data-stop="4">4</span>M</div>
          <h4 class="counter-title">4 million daily active users</h4>
        </div>

        <!--Column-->
        <div class="counter-column col-lg-4 col-md-4 col-sm-12 wow fadeInUp animated" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
          <div class="count-box counted"><span class="count-text" data-speed="3000" data-stop="12">12</span>k</div>
          <h4 class="counter-title">Over 12k open job positions</h4>
        </div>

        <!--Column-->
        <div class="counter-column col-lg-4 col-md-4 col-sm-12 wow fadeInUp animated" data-wow-delay="800ms" style="visibility: visible; animation-delay: 800ms; animation-name: fadeInUp;">
          <div class="count-box counted"><span class="count-text" data-speed="3000" data-stop="20">20</span>M</div>
          <h4 class="counter-title">Over 20 million stories shared</h4>
        </div>
      </div>
    </div>
    <!-- Fun Fact Section -->

    <div class="text-box">
      <h4>About OKOHO Consulting UG</h4>
      <p>OKOHO Consulting UG is committed to fair, transparent and humane international recruitment of skilled workers. We support German companies in the recruitment process of skilled workers and trainees in/from third countries. The following services are offered:</p>
    <ul class="list">
      <li class="list-item"><span>Recruitment of skilled workers:</span> We recruit suitable specialists and trainees for your company for certain approved professional groups.
      </li>
      <li><span>Supporting the recruitment process:</span> Unsere Experten aus Drittstaaten überprüfen gründlich die Bewerbungsunterlagen Ihrer Bewerber*innen aus Drittstaaten. Wir helfen Ihnen, ein qualitative Einschätzung der vorliegenden Bewerbungsunterlagen zu haben. Auf Wunsch führen wir für Sie erste Bewerbungsgespräche auf der Muttersprache Ihrer Bewerber*innen, so dass ihre wahren Motivationen ohne sprachliche Barriere in Erfahrung gebracht werden können.
      </li>
      <li><span>Immigration accompaniment:</span> We take care of all administrative procedures in the immigration process for you, coordinate the visa application and prepare both your future specialist/trainee and your team for good, success-oriented and constructive cooperation.</li>
      <li><span>Relocation support:</span> We support your specialist/trainee in preparing for their trip and looking for accommodation in Germany. We pick up your specialist/trainee from the airport and gradually introduce them to German society. </li>

      <li><span>Promoting integration:</span> After the skilled worker/trainee arrives in Germany, we support your skilled worker/trainee right up to the final administrative process as well as in networking with other people and with our holistic integration concept, your skilled worker/trainee can more easily gain a foothold in this country. We remain the contact person for your specialist/trainee for questions about everyday life in Germany.
      </li>
    </ul>
    </div>
  </div>
</section>
<section class="call-to-action-two" style="background-image: url(assets/images/p/5.png);">
  <div class="auto-container">
    <div class="sec-title light text-center">
      <h2>Your Dream Jobs Are Waiting</h2>
      <div class="text">Over 1 million interactions, 50,000 success stories Make yours now.</div>
    </div>

    <div class="btn-box">
      <a href="#" class="theme-btn btn-style-three">Search Job</a>
      <a href="#" class="theme-btn btn-style-two">Apply Job Now</a>
    </div>
  </div>
</section>
<!--<section class="testimonial-section-two">
  <div class="container-fluid">
    <div class="testimonial-left"><img src="images/resource/testimonial-left.png" alt=""></div>
    <div class="testimonial-right"><img src="images/resource/testimonial-right.png" alt=""></div>
    &lt;!&ndash; Sec Title &ndash;&gt;
    <div class="sec-title text-center">
      <h2>Testimonials From Our Customers</h2>
      <div class="text">Lorem ipsum dolor sit amet elit, sed do eiusmod tempor</div>
    </div>

    <div class="carousel-outer">
      &lt;!&ndash; Testimonial Carousel &ndash;&gt;
      <div class="testimonial-carousel owl-carousel owl-theme owl-loaded owl-drag">

        &lt;!&ndash;Testimonial Block &ndash;&gt;


        &lt;!&ndash;Testimonial Block &ndash;&gt;


        &lt;!&ndash;Testimonial Block &ndash;&gt;

        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1150px, 0px, 0px); transition: all 0.5s ease 0s; width: 4025px;"><div class="owl-item cloned" style="width: 560px; margin-right: 15px;"><div class="testimonial-block-two">
          <div class="inner-box">
            <div class="thumb"><img src="images/resource/testi-thumb-1.png" alt=""></div>
            <h4 class="title">Great quality!</h4>
            <div class="text">Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything! Can’t quite… The Mitech team works really hard to ensure high level of quality</div>
            <div class="info-box">
              <h4 class="name">Brooklyn Simmons</h4>
              <span class="designation">Web Developer</span>
            </div>
          </div>
        </div></div><div class="owl-item cloned" style="width: 560px; margin-right: 15px;"><div class="testimonial-block-two">
          <div class="inner-box">
            <div class="thumb"><img src="images/resource/testi-thumb-1.png" alt=""></div>
            <h4 class="title">Great quality!</h4>
            <div class="text">Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything! Can’t quite… The Mitech team works really hard to ensure high level of quality</div>
            <div class="info-box">
              <h4 class="name">Brooklyn Simmons</h4>
              <span class="designation">Web Developer</span>
            </div>
          </div>
        </div></div><div class="owl-item active" style="width: 560px; margin-right: 15px;"><div class="testimonial-block-two">
          <div class="inner-box">
            <div class="thumb"><img src="images/resource/testi-thumb-1.png" alt=""></div>
            <h4 class="title">Great quality!</h4>
            <div class="text">Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything! Can’t quite… The Mitech team works really hard to ensure high level of quality</div>
            <div class="info-box">
              <h4 class="name">Brooklyn Simmons</h4>
              <span class="designation">Web Developer</span>
            </div>
          </div>
        </div></div><div class="owl-item" style="width: 560px; margin-right: 15px;"><div class="testimonial-block-two">
          <div class="inner-box">
            <div class="thumb"><img src="images/resource/testi-thumb-1.png" alt=""></div>
            <h4 class="title">Great quality!</h4>
            <div class="text">Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything! Can’t quite… The Mitech team works really hard to ensure high level of quality</div>
            <div class="info-box">
              <h4 class="name">Brooklyn Simmons</h4>
              <span class="designation">Web Developer</span>
            </div>
          </div>
        </div></div><div class="owl-item" style="width: 560px; margin-right: 15px;"><div class="testimonial-block-two">
          <div class="inner-box">
            <div class="thumb"><img src="images/resource/testi-thumb-1.png" alt=""></div>
            <h4 class="title">Great quality!</h4>
            <div class="text">Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything! Can’t quite… The Mitech team works really hard to ensure high level of quality</div>
            <div class="info-box">
              <h4 class="name">Brooklyn Simmons</h4>
              <span class="designation">Web Developer</span>
            </div>
          </div>
        </div></div><div class="owl-item cloned" style="width: 560px; margin-right: 15px;"><div class="testimonial-block-two">
          <div class="inner-box">
            <div class="thumb"><img src="images/resource/testi-thumb-1.png" alt=""></div>
            <h4 class="title">Great quality!</h4>
            <div class="text">Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything! Can’t quite… The Mitech team works really hard to ensure high level of quality</div>
            <div class="info-box">
              <h4 class="name">Brooklyn Simmons</h4>
              <span class="designation">Web Developer</span>
            </div>
          </div>
        </div></div><div class="owl-item cloned" style="width: 560px; margin-right: 15px;"><div class="testimonial-block-two">
          <div class="inner-box">
            <div class="thumb"><img src="images/resource/testi-thumb-1.png" alt=""></div>
            <h4 class="title">Great quality!</h4>
            <div class="text">Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything! Can’t quite… The Mitech team works really hard to ensure high level of quality</div>
            <div class="info-box">
              <h4 class="name">Brooklyn Simmons</h4>
              <span class="designation">Web Developer</span>
            </div>
          </div>
        </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev"><span class="flaticon-back"></span></div><div class="owl-next"><span class="flaticon-next"></span></div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div></div></div>
    </div>
  </div>
</section>-->
<section class="work-section style-two">
  <div class="auto-container">
    <div class="sec-title text-center">
      <h2>How It Works?</h2>
      <div class="text">Job for anyone, anywhere</div>
    </div>

    <div class="row">
      <!-- Work Block -->
      <div class="work-block col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box">
          <figure class="image"><img src="images/resource/work-1.png" alt=""></figure>
          <h5>Free Resume Assessments</h5>
          <p>Employers on average spend 31 seconds scanning resumes to identify potential matches.</p>
        </div>
      </div>

      <!-- Work Block -->
      <div class="work-block col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box">
          <figure class="image"><img src="images/resource/work-2.png" alt=""></figure>
          <h5>Job Fit Scoring</h5>
          <p>Employers on average spend 31 seconds scanning resumes to identify potential matches.</p>
        </div>
      </div>

      <!-- Work Block -->
      <div class="work-block col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box">
          <figure class="image"><img src="images/resource/work-3.png" alt=""></figure>
          <h5>Help Every Step of the Way</h5>
          <p>Employers on average spend 31 seconds scanning resumes to identify potential matches.</p>
        </div>
      </div>

    </div>
  </div>
</section>

