/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/bootstrap-variables.scss";
@import "./assets/scss/variables";
@import 'ngx-toastr/toastr';
@import "~@ng-select/ng-select/themes/default.theme.css";
//@import "./assets/scss/global.scss";
@import "./assets/scss/nav-menu";
//@import "./assets/scss/dashboard";
@import "./assets/scss/front";
@import "./assets/scss/responsive";
@import '../node_modules/intl-tel-input/build/css/intlTelInput.css';
:root
{
  --okoho-theme-color: #1967D2;
  --okoho-theme-color-015: rgba(25,103,210,0.15);
  --okoho-theme-hover-color:#1451a4;
}
.ng-select.ng-select-single .ng-select-container {
  position: relative;
  width: 100%;
  height: 60px !important;
  line-height: 30px;
  padding: 1px 2px;
  font-size: 15px;
  color: #696969;
  background: #F0F5F7;
  border: 1px solid #F0F5F7;
  box-sizing: border-box;
  border-radius: 8px;
  transition: all 300ms ease;
}
.layout{
  margin-top: 90px;
  background-color: #F5F7FC;
}
.custom-group-input{
  width: 88% !important;
}
.banner-section-eight .bottom-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 160px;
}
.blocker {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0,0,0,0.75);
  text-align: center;
}
.page-title {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 100px 0 40px !important;
  background: #F5F7FC;
}
fa-icon{
  margin-right: 5px;
}
.btn-follow{
  background-color: #1967D2 !important;
  color: #F0F5F7;
}
.btn-theme {
  color: #fff;
  background-color: #1967D2;
  border-color: #ffffff;
}
.btn-theme-lighten{
  background: #1967D2 !important;
  color: #fff;
}
.btn-theme-lighten:hover, .btn-theme-lighten:focus {
  color: #fff;
  background: #1967D2 !important;
}
.bg-connect{
  background-image: url("assets/images/bg-connect.png");
  //position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.iti { width: 100%;
  height: 100%;}
  .phone-tel{
    background-color: transparent;
  height: 100%;
  }
/* .iti--allow-dropdown input, .iti--allow-dropdown input[type="text"], .iti--allow-dropdown input[type="tel"], .iti--separate-dial-code input, .iti--separate-dial-code input[type="text"], .iti--separate-dial-code input[type="tel"] {
  padding-right: 6px;
  padding-left: 52px !important;
  margin-left: 0;
}
.iti {
  position: relative;
  display: block !important;
} */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
