
            <app-siderbar-candidate></app-siderbar-candidate>

            <section class="user-dashboard">
                <div class="dashboard-outer">
                  <div class="upper-title-box">
                    <h3>Cv Manager</h3>
                    <div class="text">Ready to jump back in?</div>
                  </div>
                  <div class="row">

                    <div class="col-lg-12">
                      <!-- CV Manager Widget -->
                      <div class="cv-manager-widget ls-widget">
                        <div class="widget-title">
                          <h4>Cv Manager</h4>
                        </div>
                        <div class="widget-content">
                          <ng-stepper #cdkStepper [linear]="true">
                            <cdk-step [stepControl]="stepOneForm" [optional]="false">
                              <ng-template cdkStepLabel>
                                <div class="step-bullet">1</div>
                                <div class="step-title">Personal Details <span class="required">*</span></div>

                              </ng-template>

                              <div class="container mt-5" #stepOne>
                                <div class="uploading-outer">
                                  <div class="uploadButton">
                                    <input class="uploadButton-input" type="file" (change)="uploadCv($event)" name="attachments[]"
                                           accept="image/*, application/pdf" id="upload" multiple="">
                                    <label class="uploadButton-button ripple-effect" for="upload">Browse Photo</label>
                                    <span class="uploadButton-file-name"></span>
                                  </div>
                                  <div class="uploadButton">
                                    <img src="{{candidat?.userAccount?.imageUrl}}"/>
                                  </div>
                                  <div class="text">Max file size is 1MB, Minimum dimension: 330x300 And Suitable files are .jpg
                                    &amp; .png
                                  </div>
                                </div>
                                <form class="default-form" #formRef  #f="ngForm"  (ngSubmit)="stepOneSubmit()">
                                  <div class="row" [formGroup]="stepOneForm">
                                    <!-- Input -->
                                    <div class="form-group col-lg-6 col-md-6">
                                      <label>First name</label>
                                      <input formControlName="firstName" type="text" name="firstName" placeholder="firstName">
                                      <span class="error" *ngIf="stepOneForm.controls['firstName'].hasError('required') &&  stepOneForm.get('firstName')?.touched">Job Title is a required field
                                  </span>
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6">
                                      <label>Last name</label>
                                      <input formControlName="lastName" type="text" name="lastName" placeholder="lastName">
                                      <span class="error" *ngIf="stepOneForm.controls['lastName'].hasError('required') &&  stepOneForm.get('lastName')?.touched">Job Title is a required field
                                  </span>
                                    </div>

                                    <!-- About Company -->
                                    <div class="form-group col-lg-12 col-md-12">
                                      <label>About me</label>
                                      <textarea  formControlName="description"
                                                 placeholder="Spent several years working on sheep on Wall Street. Had moderate success investing in Yugo's on Wall Street. Managed a small team buying and selling Pogo sticks for farmers. Spent several years licensing licorice in West Palm Beach, FL. Developed several new methods for working it banjos in the aftermarket. Spent a weekend importing banjos in West Palm Beach, FL.In this position, the Software Engineer collaborates with Evention's Development team to continuously enhance our current software solutions as well as create new solutions to eliminate the back-office operations and management challenges present"></textarea>

                                    </div>
                                    <hr>

                                    <div class="form-group col-lg-6 col-md-6">
                                      <label>Date of Birth</label>
                                      <input formControlName="dob" type="date" name="lastName" placeholder="lastName">

                                    </div>
                                    <div class="form-group col-lg-6 col-md-6">
                                      <label>Gender</label>
                                      <select formControlName="gender" type="text" name="gender">
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                      </select>

                                    </div>
                                    <div class="divider">Contact</div>
                                    <hr>
                                    <div class="form-group col-lg-6 col-md-6">
                                      <label>Email</label>
                                      <input formControlName="email" type="text" name="lastName" placeholder="lastName">
                                      <span class="error" *ngIf="stepOneForm.controls['email'].hasError('required') &&  stepOneForm.get('email')?.touched">email is a required field
                                  </span>
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6">
                                      <label>Phone</label>
                                      <ngx-intl-tel-input [cssClass]="'form-group phone-tel'"
                                      [enableAutoCountrySelect]="true"
                                      [enablePlaceholder]="false"
                                      [searchCountryFlag]="true"
                                      [selectFirstCountry]="false"
                                      [maxLength]="15"
                                      [phoneValidation]="true"
                                      [separateDialCode]="true"
                                      [preferredCountries]="[CountryISO.Germany,CountryISO.Cameroon,CountryISO.France,]"

                                      countryChange="countryChange()"
                                      name="phone" formControlName="phone">
                  </ngx-intl-tel-input>
                                      <span class="error" *ngIf="stepOneForm.controls['phoneNumber'].hasError('required') &&  stepOneForm.get('phoneNumber')?.touched">Phone is a required field
                                  </span>
                                    </div>
                                   <!-- <div class="form-group col-lg-6 col-md-6">
                                      <label>Nationality</label>
                                      <select class="mb-2" formControlName="gender" type="text" name="gender" *ngFor="let country of countries">
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                      </select>
                                      <button class="add-info-btn" (click)="addCountry()"><fa-icon icon="plus"></fa-icon> Nationality</button>
                                    </div>-->
                                    <div class="row">
                                      <!-- Input -->
                                      <div class="form-group col-lg-6 col-md-12">
                                        <label>Facebook</label>
                                        <input type="text" formControlName="facebook" placeholder="www.facebook.com/Invision">
                                      </div>

                                      <!-- Input -->
                                      <div class="form-group col-lg-6 col-md-12">
                                        <label>Twitter</label>
                                        <input type="text" formControlName="twitter" placeholder="">
                                      </div>

                                      <!-- Input -->
                                      <div class="form-group col-lg-6 col-md-12">
                                        <label>Linkedin</label>
                                        <input type="text" formControlName="linkedin" placeholder="">
                                      </div>

                                      <!-- Input -->
                                      <div class="form-group col-lg-6 col-md-12">
                                        <label>Instagram</label>
                                        <input type="text" formControlName="googleplus" placeholder="">
                                      </div>
                                      <div class="form-group col-lg-6 col-md-12">
                                        <label>WebSite</label>
                                        <input type="text" formControlName="website" placeholder="www.okoho.de">
                                      </div>
                                      <div class="form-group col-lg-12 col-md-12">
                                        <!-- Resume / Awards -->
                                        <div class="resume-outer theme-yellow">
                                          <div class="upper-title">
                                            <h4>Address</h4>
                                            <button type="button" class="add-info-btn" (click)="openLg(contentAddress)"><fa-icon icon="plus"></fa-icon> Address</button>
                                          </div>
                                          <!-- Resume BLock -->
                                          <div class="resume-block"  *ngFor="let award of candidat?.addresses">
                                          <div class="inner">
                                              <span class="name">{{award?.type?.charAt(0)}}</span>
                                              <div class="title-box">
                                                <div class="info-box">
                                                  <h3>{{award?.line1}}</h3>
                                                  <span>{{award?.line2}}</span>
                                                </div>
                                                <div class="edit-box">
                                                 <!-- <span class="year">{{award.begin|date:'yyyy'}} - {{award.begin|date:'yyyy'}}</span>-->
                                                  <div class="edit-btns">
                                                    <button (click)="editAdress(award, contentAddress)"><fa-icon icon="edit"></fa-icon></button>
                                                    <button (click)="deleteAdress(award)"><fa-icon icon="trash"></fa-icon></button>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="text">
                                                {{award?.city}}
                                                {{award?.country}}
                                              </div>
                                            </div>
                                          </div>

                                        </div>
                                      </div>
                                    </div>
                                    <div class="button form-group col-lg-12 col-md-12 text-right">
                                      <button [disabled]="!stepOneForm.valid" class="button theme-btn btn-style-one float-end" cdkStepperNext>Next <fa-icon icon="arrow-right"></fa-icon></button>
                                    </div>
                                  </div>
                                </form>
                              </div>

                            </cdk-step>
                            <cdk-step [stepControl]="stepTwoForm" [optional]="false">
                              <ng-template cdkStepLabel>
                                <div class="step-bullet">2</div>
                                <div class="step-title">Work experience <span class="required">*</span>
                                </div>
                              </ng-template>

                              <div class="container mt-5" #stepTwo>

                                <!-- Resume / Work & Experience -->
                                <div class="resume-outer theme-blue">
                                  <div class="upper-title">
                                    <h4>Work &amp; Experience</h4>

                                  </div>
                                  <!-- Resume BLock -->
                                  <div class="resume-block" *ngFor="let work of candidat?.works">
                                    <div class="inner">
                                      <span class="name" *ngIf="work.libelle">{{work.libelle!.charAt(0)}}</span>
                                      <div class="title-box">
                                        <div class="info-box">
                                          <h3>{{work.libelle!}}</h3>
                                          <h4>{{work.employer_name}}</h4>
                                          <div class="d-flex flex-row justify-content-between">
                                            <span>{{work.country}} - {{work.location}}</span>
                                            <span>{{work?.line1}} - {{work?.line2}}</span>
                                          </div>
                                        </div>
                                        <div class="edit-box">
                                          <span class="year">{{work.begin|date:'yyyy'}} - {{work.end|date:'yyyy'}}</span>
                                          <div class="edit-btns">
                                            <button (click)="editExperience(work, contentWork)"><fa-icon icon="edit"></fa-icon></button>
                                            <button (click)="deleteExperience(work)"><fa-icon icon="trash"></fa-icon></button>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="text">
                                        {{work.description}}
                                      </div>
                                    </div>
                                  </div>
                                  <div class="mb-3 d-grid text-center">
                                    <button class="btn-cv" (click)="openLg(contentWork)"><fa-icon icon="plus"></fa-icon> Add new Work & Experience</button>
                                  </div>
                                </div>
                                <div class="button form-group col-lg-12 col-md-12 text-left">
                                  <button class="button theme-btn btn-style-one float-start" cdkStepperPrevious><fa-icon icon="arrow-left"></fa-icon> Previous</button>
                                </div>
                                <div class="button form-group col-lg-12 col-md-12 text-right">
                                  <button [disabled]="!stepOneForm.valid" class="button theme-btn btn-style-one float-end" cdkStepperNext>Next <fa-icon icon="arrow-right"></fa-icon></button>
                                </div>
                              </div>

                            </cdk-step>
                            <cdk-step [stepControl]="stepOneForm" [optional]="false">
                              <ng-template cdkStepLabel>
                                <div class="step-bullet">3</div>
                                <div class="step-title">Education & Training <span class="required">*</span>
                                </div>

                              </ng-template>

                              <div class="container mt-5" #stepThree>

                                <!-- Education & Training -->
                                <div class="resume-outer theme-blue">
                                  <div class="upper-title">
                                    <h4>Education & Training</h4>
                                  </div>
                                  <!-- Resume BLock -->
                                  <div class="resume-block" *ngFor="let work of candidat?.educations">
                                    <div class="inner">
                                      <span class="name">{{work.libelle!.charAt(0)}}</span>
                                      <div class="title-box">
                                        <div class="info-box">
                                          <h3>{{work.libelle!}}</h3>
                                          <h4>{{work.traning_body}}</h4>
                                          <div class="d-flex flex-row justify-content-between">
                                            <span>{{work.country}} - {{work.location}}</span>
                                            <span>  {{work?.line1}} - {{work?.line2}}</span>
                                          </div>
                                        </div>
                                        <div class="edit-box">
                                          <span class="year">{{work.begin|date:'yyyy'}} - {{work.end|date:'yyyy'}}</span>
                                          <div class="edit-btns">
                                            <button (click)="editEducation(work, contentEducation)"><fa-icon icon="edit"></fa-icon></button>
                                            <button (click)="deleteEducation(work)"><fa-icon icon="trash"></fa-icon></button>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="text">
                                        {{work.description}}
                                      </div>
                                    </div>
                                  </div>
                                  <div class="mb-3 d-grid text-center">
                                    <button type="button" class="btn-cv" (click)="openLg(contentEducation)"><fa-icon icon="plus"></fa-icon> Add Education</button>
                                  </div>
                                </div>
                                <div class="button form-group col-lg-12 col-md-12 text-left">
                                  <button class="button theme-btn btn-style-one float-start" cdkStepperPrevious><fa-icon icon="arrow-left"></fa-icon>Previous</button>
                                </div>
                                <div class="button form-group col-lg-12 col-md-12 text-right">
                                  <button [disabled]="!stepOneForm.valid" class="button theme-btn btn-style-one float-end" cdkStepperNext>Next <fa-icon icon="arrow-right"></fa-icon> </button>
                                </div>
                              </div>

                            </cdk-step>
                            <cdk-step [stepControl]="stepOneForm" [optional]="false">
                              <ng-template cdkStepLabel>
                                <div class="step-bullet">4</div>
                                <div class="step-title">Personnal skills <span class="required">*</span>
                                </div>

                                <div>
                                </div>

                              </ng-template>

                              <div class="container mt-5" #stepFour>
                                <div class="resume-outer">
                                  <div class="upper-title">
                                    <h4>Linguistic skills</h4>
                                  </div>
                                </div>
                                <div class="resume-block" *ngFor="let langue of candidat?.languages">
                                  <div class="inner">
                                    <span class="name" *ngIf="langue.montherLanguage">{{langue.montherLanguage!.charAt(0)}}</span>
                                    <div class="title-box">
                                      <div class="info-box">
                                        <h3>{{langue?.montherLanguage}}</h3>
                                        <h4>{{langue?.ortherLanguage}}</h4>
                                        <span>{{langue?.readingComprehension1}} {{langue?.readingComprehension2}}</span>
                                        <!-- <span>{{langue.oral_interaction}} - {{langue.continuous_speaking}}</span> -->
                                      </div>
                                      <div class="edit-box">
                                        <span class="year">{{langue?.oralIntegration}} - {{langue?.continuousSpeaking}}</span>
                                        <div class="edit-btns">
                                          <button (click)="editLanguage(langue, contentLanguage)"><fa-icon icon="edit"></fa-icon></button>
                                          <button (click)="deleteLanguage(langue)"><fa-icon icon="trash"></fa-icon></button>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="text">
                                      {{langue?.written}}
                                    </div>
                                  </div>
                                </div>
                                <div class="mb-3 d-grid text-center">
                                  <button class="btn-cv" (click)="openLg(contentLanguage)"><fa-icon icon="plus"></fa-icon> Linguistic skills</button>
                                </div>
                                <div class="button form-group col-lg-12 col-md-12 text-left">
                                  <button class="button theme-btn btn-style-one float-start" cdkStepperPrevious><fa-icon icon="arrow-left"></fa-icon> Previous</button>
                                </div>
                                <div class="button form-group col-lg-12 col-md-12 text-right">
                                  <button [disabled]="!stepOneForm.valid" class="button theme-btn btn-style-one float-end" cdkStepperNext>Next <fa-icon icon="arrow-right"></fa-icon></button>
                                </div>
                              </div>

                            </cdk-step>
                            <cdk-step [stepControl]="stepOneForm" [optional]="false">
                              <ng-template cdkStepLabel>
                                <div class="step-bullet">5</div>
                                <div class="step-title">Preview CV <span class="required">*</span>
                                </div>
                              </ng-template>

                              <div class="container mt-5" #stepFive>
                                <div class="row">
                                  <div class="col-md-3">
                                  <div>
                                    <label for="cv1">
                                      <img src="assets/images/cv/cv1.jpeg" width="50%"
                                           itemprop="thumbnail" alt="Image description">
                                    </label>
                                      <input (click)="getCv()" class="form-check-input" type="radio" checked
                                             value="1" id="cv1" name="fichiercamicis">
                                  </div>
                                    <div>
                                      <label for="cv2">
                                        <img class="image-box" src="assets/images/cv/cv2.jpeg" width="50%"
                                             itemprop="thumbnail" alt="Image description">
                                      </label>
                                      <input (click)="getCv()" class="form-check-input" type="radio" checked
                                             value="camcis_2.jpg" id="cv2" name="fichiercamicis">
                                    </div>
                                    <!--<figure class="img-hover hover-13"
                                            itemprop="associatedMedia" itemscope=""><a
                                      href="assets/images/cv/cv2.png"
                                      itemprop="contentUrl" data-size="1600x950">
                                      <div><img src="assets/images/cv/cv2.png" width="100%"
                                                itemprop="thumbnail" alt="Image description"></div>
                                    </a>
                                      <figcaption itemprop="caption description">
                                      </figcaption>
                                      <input class="form-check-input" type="radio" checked
                                             value="camcis_2.jpg" id="camcis_ok1" name="fichiercamicis">
                                    </figure>-->
                                  </div>
                                  <div class="col-md-9">
                                    <object [data]="pdfSrc + '#toolbar=0&navpanes=0' |safe" type="application/pdf" width="100%" height="600px"></object>
                                  <!--  <pdf-viewer [src]="pdfSrc"
                                    [render-text]="true"
                                    [original-size]="false"
                                                [render-text]="true"
                                                (after-load-complete)="afterLoadComplete($event)"
                                    style="width: 100%; height: 500px"
                        ></pdf-viewer>-->
                                  </div>
                                </div>
                              </div>
                              <div class="button form-group col-lg-12 col-md-12 text-left">
                                <button class="button theme-btn btn-style-one float-start" cdkStepperPrevious><fa-icon icon="arrow-left"></fa-icon> Previous</button>
                              </div>
                              <div class="button form-group col-lg-12 col-md-12 text-right">
                                <button [disabled]="!stepOneForm.valid" class="button theme-btn btn-style-one float-end" cdkStepperNext>Save</button>
                              </div>
                            </cdk-step>
                          </ng-stepper>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

<ng-template #contentAddress let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Add Address</h6>
    <button type="button" class="close" aria-label="Close" (click)="closeAddressModal(modal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
<form class="default-form" [formGroup]="formAddress" id="bookmark-form">


      <div class="row">
        <div class="form-group col-sm-8">
          <label for="con-intitule">Type</label>
          <select formControlName="type" class=""  id="con-intitule" type="text"

                 required="" autocomplete="off">
            <option value="home">Home</option>
            <option value="bureau">Bureau</option>
          </select>
        </div>
        <div class="form-group col-sm-6">
          <label for="con-phone">Address Line1</label>
          <input formControlName="line1"  class="" id="con-phone" type="text"
                 placeholder="Address Line1"
                 required="" autocomplete="off">
        </div>
        <div class="form-group col-sm-6">
          <label for="con-phone">Address Line2</label>
          <input formControlName="line2"  class="form-control" id="con-phone" type="text"
                 placeholder="Address Line2"
                 required="" autocomplete="off">
        </div>
      </div>
  <div class="row">
    <div class="form-group col-sm-4">
      <label for="con-phone">Postal code</label>
      <input formControlName="postcode"  class="form-control" id="con-phone" type="text"
             placeholder="Postal code"
             required="" autocomplete="off">
    </div>
    <div class="form-group col-sm-4">
      <label for="con-phone">City</label>
      <input formControlName="city"  class="form-control" id="con-phone" type="text"
             placeholder="City"
             required="" autocomplete="off">
    </div>
    <div class="form-group col-sm-4">
      <label for="con-phone">Country</label>
             <ng-select class="chosen-select" [items]="countriess"
                                     bindLabel="name"
                                     bindValue="name"
                                     formControlName="country">
             </ng-select>
    </div>
  </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="closeAddressModal(modal)">Close</button>
    <button class="theme-btn btn-style-one mr-1  pull-right" type="button" (click)="saveAddress()"

    >Save</button>
  </div>
</ng-template>
<ng-template #contentEducation let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Add Education</h6>
    <button type="button" class="close" aria-label="Close" (click)="closeEducationModal(modal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="default-form" [formGroup]="educationForm" id="bookmark-form">


      <div class="row">
        <div class="form-group col-sm-12">
          <label for="con-libelle">Title of the qualification issued</label>
          <input formControlName="libelle"  class="" id="con-libelle" type="text"
                 placeholder="Title of the qualification issued"
                 required="" autocomplete="off">
        </div>
        <div class="form-group col-sm-12">
          <label for="con-traning_body">Education and training bodies</label>
          <input formControlName="traning_body"  class="" id="con-traning_body" type="text"
                 placeholder="Education and training bodies"
                 required="" autocomplete="off">
        </div>
        <div class="form-group col-sm-12">
          <label for="con-website">WebSite</label>
          <input formControlName="website"  class="" id="con-website" type="text"
                 placeholder="Website"
                 required="" autocomplete="off">
        </div>
        <div class="form-group col-sm-6">
          <label for="con-localy">Localy</label>
          <input formControlName="location"  class="" id="con-localy" type="text"
                 placeholder="Localy"
                 required="" autocomplete="off">
        </div>
        <div class="form-group col-sm-6">
          <label for="con-country">Country</label>
                 <ng-select class="chosen-select" id="con-country" [items]="countriess"
                                     bindLabel="name"
                                     bindValue="name"
                                     formControlName="country">
             </ng-select>
        </div>
        <div class="form-group col-sm-6">
          <label for="con-phone">Address Line1</label>
          <input formControlName="line1"  class="" id="con-phone" type="text"
                 placeholder="Address Line1"
                 required="" autocomplete="off">
        </div>
        <div class="form-group col-sm-6">
          <label for="con-phone">Address Line2</label>
          <input formControlName="line2"  class="form-control" id="con-phone" type="text"
                 placeholder="Address Line2"
                 required="" autocomplete="off">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <label for="con-phone">Postal code</label>
          <input formControlName="postcode"  class="form-control" id="con-phone" type="text"
                 placeholder="Postal code"
                 required="" autocomplete="off">
        </div>
        <div class="form-group col-sm-4">
          <label for="con-phone">From</label>
          <input formControlName="begin"  class="form-control" id="con-phone" type="date"
                 placeholder="City"
                 required="" autocomplete="off">
        </div>
        <div class="form-group col-sm-4">
          <label for="con-phone">End</label>
          <input formControlName="end"  class="form-control" id="con-phone" type="date"
                 placeholder="End"
                 required="" autocomplete="off">
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="closeEducationModal(modal)">Close</button>
    <button class="theme-btn btn-style-one mr-1  pull-right" type="button" (click)="saveEducation()"

    >Save</button>
  </div>
</ng-template>
<ng-template #contentWork let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Add Work & Experience</h6>
    <button type="button" class="close" aria-label="Close" (click)="closeExperienceModal(modal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="default-form" [formGroup]="workForm" id="bookmark-form">


      <div class="row">
        <div class="form-group col-sm-10">
          <label for="con-intitule">Position Field</label>
          <input formControlName="libelle"  class="" id="con-name" type="text"
                 placeholder="Function title"
                 required="" autocomplete="off">
        </div>
        <div class="form-group col-sm-10">
          <label for="con-employer_name">Employers</label>
          <input formControlName="employer_name"  class="" id="con-employer_name" type="text"
                 placeholder="Name of employer"
                 required="" autocomplete="off">
        </div>
        <div class="form-group col-sm-6">
          <label for="con-phone">Localy</label>
          <input formControlName="location"  class="" id="con-phone" type="text"
                 placeholder="Localy"
                 required="" autocomplete="off">
        </div>
        <div class="form-group col-sm-6">
          <label for="con-country">Country</label>
             <ng-select class="chosen-select" id="con-country" [items]="countriess"
                                     bindLabel="name"
                                     bindValue="name"
                                     formControlName="country">
             </ng-select>
        </div>
        <div class="form-group col-sm-6">
          <label for="con-phone">Address Line1</label>
          <input formControlName="line1"  class="" id="con-phone" type="text"
                 placeholder="Address Line1"
                 required="" autocomplete="off">
        </div>
        <div class="form-group col-sm-6">
          <label for="con-phone">Address Line2</label>
          <input formControlName="line2"  class="form-control" id="con-phone" type="text"
                 placeholder="Address Line2"
                 required="" autocomplete="off">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <label for="con-phone">Postal code</label>
          <input formControlName="postcode"  class="form-control" id="con-phone" type="text"
                 placeholder="Postal code"
                 required="" autocomplete="off">
        </div>
        <div class="form-group col-sm-4">
          <label for="con-phone">From</label>
          <input formControlName="begin"  class="form-control" id="con-phone" type="date"
                 placeholder="City"
                 required="" autocomplete="off">
        </div>
        <div class="form-group col-sm-4">
          <label for="con-phone">End</label>
          <input formControlName="end"  class="form-control" id="con-phone" type="date"
                 placeholder="End"
                 required="" autocomplete="off">
        </div>
        <div class="form-group col-sm-12">
          <label for="con-phone">Key activities and responsabilities</label>
          <textarea formControlName="description"  class="form-control" id="con-phone" type="text"
                 placeholder="
                          -It Maintenace"
                 required="" autocomplete="off">
          </textarea>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="closeExperienceModal(modal)">Close</button>
    <button class="theme-btn btn-style-one mr-1  pull-right" type="button" (click)="saveWork()"

    >Save</button>
  </div>
</ng-template>
<ng-template #contentLanguage let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Linguistic skills</h6>
    <button type="button" class="close" aria-label="Close" (click)="closeLanguageModal(modal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="default-form" [formGroup]="formLingustic" id="bookmark-form">
      <div class="form-group col-sm-12">
        <label for="con-phone">Mother tongue</label>
        <select formControlName="montherLanguage" class="form-control" id="con-phone"
                placeholder="" required="" autocomplete="off">
                <option></option>
                <option value="francais">Francais</option>
                <option value="English">Anglais</option>
                <option value="Allemand">Allemand</option>
        </select>
      </div>
      <div class="form-group col-sm-12">
        <label for="con-phone">Other language</label>
        <select formControlName="ortherLanguage" class="form-control" id="con-phone"
                placeholder=""
                required="" autocomplete="off">
                <option></option>
                <option value="french">Francais</option>
                <option value="english">Anglais</option>
        </select>
      </div>
      <h4 class="mt-3">Understanding</h4>
      <div class="row mt-3">
        <div class="form-group col-sm-6">
          <label for="con-phone">Reading comprehension</label>
          <select formControlName="readingComprehension1" class="form-control" id="con-phone"
                  placeholder="" required="" autocomplete="off">
                  <option></option>
                  <option value="moyen">Moyen</option>
                  <option value="intermediaire">Intemediaire</option>
                  <option value="fort">Fort</option>
          </select>
        </div>
        <div class="form-group col-sm-6">
          <label for="con-phone">Reading comprehension</label>
          <select formControlName="readingComprehension2" class="form-control" id="con-phone"
                  placeholder="" required="" autocomplete="off">
                  <option></option>
                  <option value="moyen">Moyen</option>
                  <option value="intermediaire">Intemediaire</option>
                  <option value="fort">Fort</option>
          </select>
        </div>
      </div>

      <h4 class="mt-3">Oral expression</h4>
      <div class="row mt-3">
        <div class="form-group col-sm-6">
          <label for="con-phone">Oral interaction</label>
          <select formControlName="oralIntegration" class="form-control" id="con-phone"
                  placeholder="" required="" autocomplete="off">
                  <option></option>
                  <option value="moyen">Moyen</option>
                  <option value="intermediaire">Intemediaire</option>
                  <option value="fort">Fort</option>
          </select>
        </div>

        <div class="form-group col-sm-6">
          <label for="con-phone">Continuous speaking</label>
          <select formControlName="continuousSpeaking" class="form-control" id="con-phone"
                  placeholder="" required="" autocomplete="off">
                  <option></option>
                  <option value="moyen">Moyen</option>
                  <option value="intermediaire">Intemediaire</option>
                  <option value="fort">Fort</option>
          </select>
        </div>
      </div>

      <div class="form-group col-sm-6 mt-3">
        <label for="con-phone">Written</label>
        <select formControlName="written" class="form-control" id="con-phone"
                placeholder="" required="" autocomplete="off">
                <option></option>
                  <option value="moyen">Moyen</option>
                  <option value="intermediaire">Intemediaire</option>
                  <option value="fort">Fort</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="closeLanguageModal(modal)">Close</button>
    <button class="theme-btn btn-style-one mr-1  pull-right" type="button" (click)="saveLanguage()"

>Save</button>
  </div>
</ng-template>
