.header {
  text-align: center;
  margin-bottom: 50px;
}
/* You can add global styles to this file, and also import other style files */

.iti { width: 100%;
  height: 100%;}
.iti .iti--allow-dropdown{
  position: relative;
  width: 100%;
  display: block;
  height: 60px;
  line-height: 30px;
  padding: 1px 2px;
  font-size: 15px;
  color: #696969;
  background: #F0F5F7;
  border: 1px solid #F0F5F7;
  box-sizing: border-box;
  border-radius: 8px;
  transition: all 300ms ease;
}
ngx-intl-tel-input,#phone{
  position: relative;
  width: 100%;
  display: block;
  height: 60px;
  line-height: 30px;
  padding: 1px 2px;
  font-size: 15px;
  color: #696969;
  background: #F0F5F7;
  border: 1px solid #F0F5F7;
  box-sizing: border-box;
  border-radius: 8px;
  transition: all 300ms ease;
}
.required {
  color: #f82929;
}
.default-form .form-group input[type="date"] {
  position: relative;
  width: 100%;
  display: block;
  height: 60px;
  line-height: 30px;
  padding: 15px 20px;
  font-size: 15px;
  color: #696969;
  background: #F0F5F7;
  border: 1px solid #F0F5F7;
  box-sizing: border-box;
  border-radius: 8px;
  transition: all 300ms ease;
}
.btn-cv{
  border-radius: 8px;
  border: 2px dashed var(--color-one, #2C5697);
  background: #F0F5F7;
  box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
  color: #2C5697;
  height: 60px;
}
